﻿@model ShopFloor.Web.Models.EditRouteOperationModel

@{
    ViewBag.Title = "Create RouteOperation";
    ViewBag.ActiveMenu = "RouteOperations";
    Layout = "~/Views/Routes/_LayoutRoutesIndex.cshtml";
}

<h2>Routes-Operations Maintenance</h2>
<h4>Create Route Operation</h4>
<hr />

<div class="row">
    <div class="col-md-12 col-lg-12">
        @using (Html.BeginForm("Form1"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label col-md-3 col-lg-2" for="RouteID">Route Code</label>
                    <div class="col-md-3 col-lg-3">
                        @Html.DropDownListFor(m => m.RouteID, (IEnumerable<SelectListItem>)ViewBag.Routes, "", new { @class = "form-control search-this" })
                        @Html.ValidationMessageFor(model => model.RouteID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5 col-lg-5">
                        <p class="form-control-static" id="p_RouteDescription"></p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-lg-2" for="OperationID">Operation Code</label>
                    <div class="col-md-3 col-lg-3">
                        @Html.DropDownListFor(m => m.OperationID, (IEnumerable<SelectListItem>)ViewBag.Operations, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OperationID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5 col-lg-5">
                        <p class="form-control-static" id="p_OperationDescription"></p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-lg-offset-2 col-md-3 col-lg-3">
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create</button>
                    </div>
                </div>
            </div>
        }

        <p>
            @Html.ActionLink("Search Route Operation", "Index")
        </p>

    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Existing Route Operations</div>
            <div class="panel-body">
                <table class="table table-condensed table-search">
                    <thead>
                        <tr>
                            <th>Route Description</th>
                            <th>Operation Description</th>
                            <th>Sequence</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>

@section Scripts{
<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.js"></script>
<script src="~/Scripts/shopfloor.datatable.js"></script>
<script>

    $(function () {
        var tableRoute = new SearchTable('@ShopFloor.Constants.CONST_SEARCHTABLE_ROUTEOPERATION', '.table-search', '.txt-table-search', '.btn-table-search', undefined, undefined, undefined);
        tableRoute.addDataTableColumn('Route.RouteDesc', true, true);
        tableRoute.addDataTableColumn('Operation.OperDesc', true, true);
        tableRoute.addDataTableColumn('Sequence', true, true);
        tableRoute.addDataTableColumn('Route.RouteCode', true, true, false);
        tableRoute.addDataTableColumn('Operation.OperCode', true, true, false);
        tableRoute.addDataTableColumn('Route.ID', true, true, false);
        tableRoute.showActionButtons = false;
        tableRoute.showSelectButton = false;
        tableRoute.ServerSide = false;
        tableRoute.initialize();

        $('#RouteID').change(function (e) {

            // get selected route code
            var selectedRoute = $("#RouteID option:selected");

            // build search arguments
            var args = [];
            var route = selectedRoute.val();
            if (route == '') route = 'just display an empty row.' + new Date().getMilliseconds();
            args.push({
                "colindex": 5,
                "value": route
            });

            tableRoute.filter(args);
        });

        $('#OperationID').change(function () {
        });

        $('.search-this').change(); // filter upon first load.
    });

</script>

}