﻿@model ShopFloor.Entities.QACriterion

@{
    ViewBag.Title = "Create QACriteria";
    ViewBag.ActiveMenu = "QACriteria";
    Layout = "~/Views/Shared/_LayoutQA.cshtml";
}

<h2>QA Criteria</h2>
<h4>Create Record</h4>
<hr />

<div class="col-lg-8 col-md-9">
@using (Html.BeginForm("CreateQACrit")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.QACritCode, "Code", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.QACritCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QACritCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QACritDesc, "Description", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.QACritDesc, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.QACritDesc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QAInspMethodID, "Inspection Method", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.QAInspMethodID, (IEnumerable<SelectListItem>)ViewBag.InspectionMethods, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.QAInspMethodID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create</button>
            </div>
        </div>
    </div>
}

<p>
    @Html.ActionLink("Back to List", "Index")
</p>

</div>
