﻿@{
    //ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section NavBarCollapse{
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li><a href="@Url.Action("Login", "Account")">Login</a></li>
        <li><a href="@Url.Action("Register", "Account")">Register</a></li>
    </ul>
</div>
    }

@RenderBody()