﻿@model IList<ShopFloor.Entities.User>

<table class="table table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th>User ID</th>
            <th>Employee ID</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.UserID</td>
                <td>@item.EmpID</td>
                <td>
                    <div class="pull-right">
                        <a href='@Url.Action("Edit", "Users", new { id=item.ID })' class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit</a>
                        <a href='@Url.Action("GrantAccess", "Users", new { id=item.ID })' class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span>&nbsp;Grant</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>