﻿@model ShopFloor.Web.Models.EditChangePassword

@{
    ViewBag.Title = "Change Password";
    ViewBag.ActiveMenu = "ChangePassword";
    Layout = "~/Views/Users/_Layout.cshtml";
}

<h2>Change Password</h2>
<hr />

<div class="col-md-9 col-lg-8">
    @using (Html.BeginForm("ChangePassword"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="control-label col-md-4" for="NewPassword">New Password</label>
                <div class="col-md-8">
                    @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4" for="ConfirmPassword">Confirm Password</label>
                <div class="col-md-8">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Change Password</button>
                </div>
            </div>
        </div>
    }

</div>