﻿@model string
@{
    ViewBag.Title = "Account Confirmed";
    Layout = "_Layout.cshtml";
}


<h1>Account Confirmed.</h1>
<h3>We will notify you once our system administrators verify your information.</h3>
