﻿@model ShopFloor.Web.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "_Layout.cshtml";
}

<style>
    
.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
</style>
<div class="row">
    <div class="col-xs-11 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong> Log in to continue</strong>
            </div>
            <div class="panel-body">
                <form role="form" action="#" method="POST">
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-12 col-md-10 col-md-offset-1">
                                <div class="center-block">
                                    <img class="profile-img" src="~/Content/loginphoto.png" alt="">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            @using (Html.BeginForm("Login", "Account"))
                            {
                                <div class="col-sm-12 col-md-10 col-md-offset-1">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-user"></i>
                                            </span>
                                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username", autofocus = "" })

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-lock"></i>
                                            </span>
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.ValidationSummary()
                                        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Log in">
                                    </div>
                                </div>
                            }
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="panel-footer ">
                <div class="text-center">
                    No account? @Html.ActionLink("Sign up now.", "Register")
                </div>
            </div>
        </div>
    </div>
</div>