﻿@model ShopFloor.Web.Models.AccountRegisterModel
@{
    ViewBag.Title = "Registration Complete";
    Layout = "_Layout.cshtml";
}


<h1>Successfully Registered.</h1>
<h3>System Administrators are now verifying your account information. Please try logging in later.</h3>


