﻿@model ShopFloor.Web.Models.AccountRegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "_Layout.cshtml";
}


<div class="col-xs-11 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong> Register a new account</strong>
        </div>
        <div class="panel-body">
            <form role="form" action="#" method="POST">
                <fieldset>
                    
                    <div class="row">
                        @using (Html.BeginForm("Register", "Account"))
                        {
                            <div class="col-sm-12 col-md-10 col-md-offset-1">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-user"></i>
                                        </span>
                                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username", autofocus = "" })

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-user"></i>
                                        </span>
                                        @Html.TextBoxFor(m => m.UserID, new { @class = "form-control", placeholder = "User ID" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-user"></i>
                                        </span>
                                        @Html.TextBoxFor(m => m.EmployeeID, new { @class = "form-control", placeholder = "Employee ID" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-lock"></i>
                                        </span>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-lock"></i>
                                        </span>
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.ValidationSummary()
                                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Register">
                                </div>
                            </div>
                        }
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="panel-footer ">
            Already have an account? @Html.ActionLink("Login here.", "Login")
        </div>
    </div>
</div>