﻿@model ShopFloor.Entities.Operation

@{
    ViewBag.Title = "Create Operation";
    ViewBag.ActiveMenu = "Operations";
    Layout = "~/Views/Routes/_LayoutRoutes.cshtml";
}

<h2>Operations Maintenance</h2>
<h4>New Operation</h4>
<hr />

<div class="col-lg-8">
    @using (Html.BeginForm("CreateOperation"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.OperCode, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.OperCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OperCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OperDesc, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.OperDesc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OperDesc, "", new { @class = "text-danger" })
                </div>
            </div>

             <div class="form-group">
                @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Active)
                        @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create</button>
                </div>
            </div>
        </div>
    }

    <p>
        @Html.ActionLink("Search Operations", "Index")
    </p>
</div>