﻿@model IEnumerable<ShopFloor.Entities.Operation>

@{
    ViewBag.Title = "Operations";
    ViewBag.ActiveMenu = "Operations";
    Layout = "~/Views/Routes/_LayoutRoutes.cshtml";
}

<h2>Search Operations</h2>

<div class="row">
    <div class="col-md-7 col-sm-7 col-xs-7">
        <div class="input-group">
			<input type="text" class="form-control" placeholder="search" id="SearchString">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" id="btn-search-operation"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5">
        <a href="@Url.Action("Create")" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create New</a>
    </div>
</div>
<table class="table table-striped table-hover table-search">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OperCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sequence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>

</table>

@section Scripts{
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/shopfloor.datatable.js"></script>
    <script>

        var table = {};

        $(function () {

            table = new SearchTable('@ShopFloor.Constants.CONST_SEARCHTABLE_OPERATION', '.table-search', '#SearchString', '#btn-search-operation', undefined, editClick, deleteClick);
            table.AjaxURL = '@Response.ApplyAppPathModifier(ShopFloor.Constants.CONST_SEARCHTABLE_URL)' + '@ShopFloor.Constants.CONST_SEARCHTABLE_OPERATION';
            table.addDataTableColumn('OperCode', true, true);
            table.addDataTableColumn('OperDesc', true, true);
            table.addDataTableColumn('Sequence', true, false);
            table.addDataTableColumn('Active', true, false);
            table.showActionButtons = true;
            table.showSelectButton = false;
            table.initialize();


            $('.btn-delete-row').click(function () {

            });
        });

        var editClick = function (id) {
            var url = '@Url.Action("Edit", new { id = "[recordid]" })';
            url = url.replace('[recordid]', id);
            location.replace(url);
        };

        var deleteClick = function (id) {
            var url = '@Url.Action("Delete", new { id = "[recordid]" })';
            url = url.replace('[recordid]', id);
            $.get(url, function () {
                table.reload();
                toastr['success']('Record successfully deleted.');
            })
            .fail(function () {
                toastr['error']('Operation is in use. Unable to delete.');
            });
        };

    </script>
}

