﻿@{
    ViewBag.Title = "Expired License";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<h2>Your License Has Expired</h2>

<p>
    Please shoot us an <a href="mailto:jfaquinojr@gmail.com">email</a> for instructions on how to renew your license
</p>
