﻿@{
    //ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section LeftPane
{
    @if (MenuUtil.HasModuleAccess("admin", User, Session))
    {
        <div class="panel panel-default">
            <div class="panel-heading bold">Manage Users</div>
            <div class="list-group">
                @Html.ListGroupItem("Search", "Index", "Users", "Index")
                @Html.ListGroupItem("New User", "Create", "Users", "Create")
                @Html.ListGroupItem("User Registrations", "UserRegistrations", "Users", "Registrations")
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading bold">Manage UserClasses</div>
            <div class="list-group">
                @Html.ListGroupItem("User Classes", "Index", "UserClasses", "UserClasses")
                @Html.ListGroupItem("New UserClass", "Create", "UserClasses", "CreateUserClass")
            </div>
        </div>
    }
    else
    {
        <div class="panel panel-default">
            <div class="panel-heading bold">Change Password</div>
            <div class="list-group">
                @Html.ListGroupItem("Home", "Index", "Default", "Index")
            </div>
        </div>
    }
}


@RenderBody()

@section Scripts{
    @RenderSection("Scripts", false)
}
