﻿@model ShopFloor.Web.Models.EditUserModel

<div class="form-horizontal">

	@Html.HiddenFor(m => m.ID)

	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<div class="form-group">
		<label class="control-label col-md-3" for="UserID">User ID</label>
		<div class="col-md-9">
			@Html.EditorFor(model => model.UserID, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-3" for="EmpID">Employee ID</label>
		<div class="col-md-9">
			@Html.EditorFor(model => model.EmpID, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.EmpID, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-3" for="UserName">Username</label>
		<div class="col-md-9">
			@Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<label for="UserClass" class="control-label col-md-3">User Type</label>
		<div class="col-md-9">
			@Html.DropDownListFor(m => m.UserClassID, (IEnumerable<SelectListItem>)ViewBag.UserClasses, "", new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.UserClassID, "", new { @class = "text-danger" })
		</div>
	</div>

	@if (Model.ID == 0)
	{
		<div class="form-group">
			<label class="control-label col-md-3" for="UserPW">Password</label>
			<div class="col-md-9">
				@Html.PasswordFor(model => model.UserPW, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.UserPW, "", new { @class = "text-danger" })
			</div>
		</div>
	}
	else
	{
		@Html.HiddenFor(m => m.UserPW)
	}

	<div class="form-group">
		<div class="col-md-offset-3 col-md-9">
			<div class="checkbox">
				@Html.EditorFor(model => model.ChangePassword)&nbsp;<label class="bold" for="ChangePassword">Change password upon login?</label>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-3 col-md-9">
			@if (Model.ID > 0)
			{
				<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save</button>
			}
			else
			{
				<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create</button>
			}
		</div>
	</div>
</div>