﻿@model ShopFloor.Web.Models.EditUserModel

@{
    ViewBag.Title = "Create User";
    ViewBag.ActiveMenu = "Create";
}

<h2>User Creation</h2>
<h4>New User</h4>
<hr />

<div class="col-md-9 col-lg-8">
    @using (Html.BeginForm("CreateUser"))
    {
        @Html.AntiForgeryToken()

        @Html.Partial("_UserFields", Model)
    }

    <p>
        @Html.ActionLink("Search User", "Index")
    </p>
</div>


