﻿@model ShopFloor.Web.Models.EditUserModel

@{
    ViewBag.Title = "Edit User";
    ViewBag.ActiveMenu = "Users";
    
}

<h2>User Creation</h2>
<h4>Edit User</h4>
<hr />

<div class="col-md-9 col-lg-8">
    @using (Html.BeginForm("EditUser")) 
    {
        @Html.AntiForgeryToken()

        @Html.Partial("_UserFields", Model)
	}

    <p>
        @Html.ActionLink("Search Users", "Index")&nbsp;|&nbsp;@Html.ActionLink("Create New User", "Create")
    </p>

</div>