﻿@model ShopFloor.Entities.User

@{
    ViewBag.Title = "Users";
    ViewBag.ActiveMenu = "Index";
}

<h2>Search Users</h2>
<hr />


@using (Html.BeginForm("Index", "Users")){
    
<div class="row">
    <div class="col-md-7 col-sm-7 col-xs-7">
        <div class="input-group">
            <input type="text" class="form-control txt-table-search" />
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary btn-table-search"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5">
        <a href="@Url.Action("Create")" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create New</a>
    </div>
</div>


<table class="table table-striped table-hover table-search">
    <thead>
        <tr>
            <th class="hidden-xs">
                User ID
            </th>
            <th class="hidden-xs">
                Employee ID
            </th>
            <th>
                Username
            </th>
            @*<th>
                UserClass
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>

</table>

}


@section Scripts{
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/shopfloor.datatable.js"></script>
    <script>

        var tableRoute = {};

        $(function () {
            tableRoute = new SearchTable('@ShopFloor.Constants.CONST_SEARCHTABLE_USER', '.table-search', '.txt-table-search', '.btn-table-search', undefined, btnEditRow_Click, btnDeleteRow_Click);
            tableRoute.AjaxURL = '@Response.ApplyAppPathModifier("/search/search?table=")' + '@ShopFloor.Constants.CONST_SEARCHTABLE_USER';
            tableRoute.addDataTableColumn('UserID', true, true);
            tableRoute.addDataTableColumn('EmpID', true, true);
            tableRoute.addDataTableColumn('UserName', true, true);
            //tableRoute.addDataTableColumn('UserClass', true, true);
            tableRoute.showActionButtons = true;
            tableRoute.showSelectButton = false;
            tableRoute.initialize();
        });


        var btnDeleteRow_Click = function (id) {
            $.get('@Response.ApplyAppPathModifier("/users/deleterecord/")' + id, function () {
                tableRoute.reload();
                toastr['success']('Record deleted.');
            }, 'json')
            .fail(function (data) {
                toastr['error']('Error when trying to delete route id=' + id + '');
            });
        }

        var btnEditRow_Click = function (id) {
            location.href = '@Response.ApplyAppPathModifier("/users/Edit/")' + id
        }

    </script>


}
