﻿@model List<ShopFloor.Entities.User>
@{
    ViewBag.Title = "Registrations";
    ViewBag.ActiveMenu = "Registrations";
}
           
<h1>User Registrations</h1>
<h4>Edit or Grant access to users</h4>
@Html.Partial("~/Views/Account/_ViewRegistrationPartial.cshtml", Model)
