﻿@model ShopFloor.Entities.RunRate
@using System.Collections;

@{
    ViewBag.Title = "Create RunRate";
    ViewBag.ActiveMenu = "RunRate";
    Layout = "~/Views/Shared/_LayoutLookup.cshtml";
}

<h2>Run Rate Maintenance</h2>
<h4>New Run Rate</h4>
<hr />

<div class="row">
    <div class="col-lg-8 col-md-9">
        @using (Html.BeginForm("CreateRunRate"))
    {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label col-md-3" for="ActivityCode">Resource</label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.ResourceID, (IEnumerable<SelectListItem>)ViewBag.Resources, "choose a resource", new { @class = "form-control filter-change" })
                        @Html.ValidationMessage("ResourceID", "Please choose a Resource", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3" for="ActivityCode">Item</label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.ItemRouteID, (IEnumerable<SelectListItem>)ViewBag.Items, "choose an item", new { @class = "form-control filter-change" })
                        @Html.ValidationMessage("ItemRouteID", "Please choose an Item", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3" for="ActivityCode">Run Rate</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Rate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create</button>
                    </div>
                </div>
            </div>
    }

        <p>
            @Html.ActionLink("Search Run Rates", "Index")
        </p>

    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped table-hover table-search">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>
                        Resource Code
                    </th>
                    <th>
                        Item Code
                    </th>
                    <th>
                        Item Category
                    </th>
                    <th>
                        Run Rate
                    </th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>
    </div>
</div>

@section Scripts{
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/shopfloor.datatable.js"></script>
    <script>
        var tbl = {};
        $(function () {
            tbl = new SearchTable('@ShopFloor.Constants.CONST_SEARCHTABLE_RUNRATE', '.table-search', '.txt-table-search', '.btn-table-search', undefined, undefined, undefined);
            tbl.AjaxURL = '@Response.ApplyAppPathModifier(ShopFloor.Constants.CONST_SEARCHTABLE_URL)' + '@ShopFloor.Constants.CONST_SEARCHTABLE_RUNRATE';
            tbl.addDataTableColumn('ResourceID', false, true, false);
            tbl.addDataTableColumn('ItemRouteID', false, true, false);
            tbl.addDataTableColumn('Resource.ResourceCode', true, true);
            tbl.addDataTableColumn('ItemRoute.ItemCode', true, true);
            tbl.addDataTableColumn('ItemRoute.U_ITEMCAT01', true, true);
            tbl.addDataTableColumn('Rate', true, true);
            tbl.showActionButtons = false;
            tbl.showSelectButton = false;
            tbl.ServerSide = false;
            tbl.initialize();

            $('.filter-change').change(function () {
                filterTable();
            });

            function filterTable() {
                // get resource code and route code
                var selectedRes = $("select#ResourceID option:selected");
                var selectedRoute = $("select#RouteID option:selected");


                // build search arguments
                var args = [];
                var res = selectedRes.val();
                if (res == '') res = 'just display an empty row.' + new Date().getMilliseconds();
                args.push({
                    "colindex": 0,
                    "value": res
                });

                var route = selectedRoute.val();
                args.push({
                    "colindex": 1,
                    "value": route
                });

                //console.log(JSON.stringify(args));

                tbl.filter(args);
            }

            filterTable();
        });

    </script>
}