﻿@{
    ViewBag.Title = "Run Rate Maintenance";
    ViewBag.ActiveMenu = "RunRate";
    Layout = "~/Views/Shared/_LayoutLookup.cshtml";
}

<h2>Search Run Rates</h2>

<div class="row">
    <div class="col-md-7 col-sm-7 col-xs-7">
        @using (Html.BeginForm("Form1"))
        {
            <div class="input-group">
                <input type="text" class="form-control txt-table-search" placeholder="search" name="SearchString">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-table-search"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        }
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5">
        <a href="@Url.Action("Create")" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create New</a>
    </div>
</div>


<table class="table table-striped table-hover table-search">
    <thead>
        <tr>
            <th>
                Resource Code
            </th>
            <th>
                Item Code
            </th>
            <th>
                Item Category
            </th>
            <th>
                Run Rate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>

</table>

<div class="row">
    <div style="margin-top:15px;">
        <a href='@Url.Action("Index", "RunRateReason")'><i class="fa fa-tags"></i> Run Rate Reasons</a>
    </div>
</div>


@section Scripts{
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/shopfloor.datatable.js"></script>
    <script>

        var tbl = {};

        $(function () {
            tbl = new SearchTable('@ShopFloor.Constants.CONST_SEARCHTABLE_RUNRATE', '.table-search', '.txt-table-search', '.btn-table-search', undefined, btnEditRow_Click, btnDeleteRow_Click);
            tbl.AjaxURL = '@Response.ApplyAppPathModifier(ShopFloor.Constants.CONST_SEARCHTABLE_URL)' + '@ShopFloor.Constants.CONST_SEARCHTABLE_RUNRATE';
            tbl.addDataTableColumn('Resource.ResourceCode', true, true);
            tbl.addDataTableColumn('ItemRoute.ItemCode', true, true);
            tbl.addDataTableColumn('ItemRoute.U_ITEMCAT01', true, true);
            tbl.addDataTableColumn('Rate', true, true);
            tbl.showActionButtons = true;
            tbl.showSelectButton = false;
            tbl.initialize();
        });


        var btnDeleteRow_Click = function (id) {
            $.get('@Response.ApplyAppPathModifier("/runrate/delete/")' + id, function () {
                toastr['success']('Record deleted.');
                tbl.reload();
            }, 'json')
            .fail(function (data) {
                toastr['error']('RunRate is in use. Unable to delete record.');
            });
        }

        var btnEditRow_Click = function (id) {
            location.href = '@Response.ApplyAppPathModifier("/runrate/Edit/")' + id
        }

    </script>
}
