﻿@model ShopFloor.Entities.ActivityType

@{
    ViewBag.Title = "Create ActivityType";
    ViewBag.ActiveMenu = "ActivityTypes";
}

<h2>Activity Maintenance</h2>
<h4>New ActivityType</h4>
<hr />

<div class="col-lg-8 col-md-9">
    @using (Html.BeginForm("CreateActivity"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-3" for="ActivityCode">Activity Code</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.ActivityCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ActivityCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="ActivityName">Activity Name</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.ActivityName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ActivityName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="IsProductive">Productive?</label>
                <div class="col-md-9">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsProductive)
                        @Html.ValidationMessageFor(model => model.IsProductive, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="CompJETag">Journal Entry?</label>
                <div class="col-md-9">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.CompJETag)
                        @Html.ValidationMessageFor(model => model.CompJETag, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Active)
                        @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create</button>
                </div>
            </div>
        </div>
    }

    <p>
        @Html.ActionLink("Search Activity Types", "Index")
    </p>

</div>