﻿@model ShopFloor.Entities.ActivityType


@{
    ViewBag.Title = "Activity Types";
    ViewBag.ActiveMenu = "ActivityTypes";
}

<h2>Search ActivityTypes</h2>

<div class="row">
    <div class="col-md-7 col-sm-7 col-xs-7">
	    @using(Html.BeginForm("Form1")){
        <div class="input-group">
            <input type="text" class="form-control txt-table-search" placeholder="search" name="SearchString">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary btn-table-search"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
		}
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5">
        <a href="@Url.Action("Create")" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create New</a>
    </div>
</div>
<table class="table table-striped table-hover table-search">
	<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(m=>m.ActivityCode)
        </th>
        <th>
            @Html.DisplayNameFor(m=>m.ActivityName)
        </th>
        <th>
            @Html.DisplayNameFor(m=>m.IsProductive)
        </th>
        <th>
            @Html.DisplayNameFor(m=>m.Active)
        </th>
        <th>
            @Html.DisplayNameFor(m=>m.CompJETag)
        </th>
        <th></th>
    </tr>
	</thead>
	<tbody>
	</tbody>

</table>


@section Scripts{
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/shopfloor.datatable.js"></script>
    <script>
        var tableRoute = {};
        $(function () {
            tableRoute = new SearchTable('@ShopFloor.Constants.CONST_SEARCHTABLE_ACTIVITYTYPES', '.table-search', '.txt-table-search', '.btn-table-search', undefined, btnEditRow_Click, btnDeleteRow_Click);
            tableRoute.AjaxURL = '@Response.ApplyAppPathModifier(ShopFloor.Constants.CONST_SEARCHTABLE_URL)' + '@ShopFloor.Constants.CONST_SEARCHTABLE_ACTIVITYTYPES';
            tableRoute.addDataTableColumn('ActivityCode', true, true);
            tableRoute.addDataTableColumn('ActivityName', true, true);
            tableRoute.addDataTableColumn('IsProductive', true, true);
            tableRoute.addDataTableColumn('Active', true, true);
            tableRoute.addDataTableColumn('CompJETag', true, true);
            tableRoute.showActionButtons = true;
            tableRoute.showSelectButton = false;
            tableRoute.initialize();
        });


        var btnDeleteRow_Click = function (id) {
            $.get('@Response.ApplyAppPathModifier("/activitytypes/delete/")' + id, function () {
                toastr['success']('Record deleted.');
                tableRoute.reload();
            }, 'json')
            .fail(function (data) {
                toastr['error']('Cannot Delete Activity Code, Code being used already.');
            });
        }

        var btnEditRow_Click = function (id) {
            location.href = '@Response.ApplyAppPathModifier("/activitytypes/Edit/")' + id
        }

    </script>
}
