﻿@using System.Reflection;
@using System.Web.Optimization;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if (Request.IsAuthenticated)
    {
        <title>@User.Identity.Name | @ViewBag.Title</title>
    }
    else
    {
        <title>MICS</title>
    }
    
    <link href='https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
    @RenderSection("Heads", false)
    @Styles.Render("~/Styles/shopfloor")
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar transparent navbar-inner navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Default")">
					MICS
                </a>
            </div>
            @RenderSection("NavBarCollapse", false)
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="standard-content">
        <div class="container">
            <div class="ajax-loading">
                <i class="fa fa-refresh fa-spin"></i>&nbsp;Loading...
            </div>
            @RenderBody()
        </div>
        <div class="ajax-loader"></div>
    </div>
    <!-- /.container -->
        <footer class="footer">
            <div class="transparent">
                <div class="container">
                    @{ 
                        var version = typeof(ShopFloor.Web.MvcApplication).Assembly.GetName().Version;
                    }
                        <p class="text-muted">&copy; MICS 2015</p>
                </div>
            </div>
        </footer>
    <!-- /.container -->


	@*<link href="~/Content/toastr.min.css" rel="stylesheet" />
	<link href="~/Content/pace.css" rel="stylesheet" />*@

    @*<script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
	<script src="~/Scripts/pace.min.js"></script>*@
	@Scripts.Render("~/Scripts/shopfloor")
	
	
    <script>
    String.prototype.format = function () {
        var formatted = this;
        for (var arg in arguments) {
            formatted = formatted.replace("{" + arg + "}", arguments[arg]);
        }
        return formatted;
    }

    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "6000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }

    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

    $(document).on('click', '.not-implemented', function () {
        alert('sorry, this feature is not yet implemented.');
        return false;
    });

    //show toaster messages
    if ('@string.IsNullOrEmpty(TempData[Constants.CONST_MESSAGE_SUCCESS] as string)' == 'False') {
        toastr["success"]('@TempData[Constants.CONST_MESSAGE_SUCCESS]');
    }
    if ('@string.IsNullOrEmpty(TempData[Constants.CONST_MESSAGE_ERROR] as string)' == 'False') {
        toastr["error"]('@TempData[Constants.CONST_MESSAGE_ERROR]');
    }
    if ('@string.IsNullOrEmpty(TempData[Constants.CONST_MESSAGE_INFO] as string)' == 'False') {
        toastr["info"]('@TempData[Constants.CONST_MESSAGE_INFO]');
    }
    if ('@string.IsNullOrEmpty(TempData[Constants.CONST_MESSAGE_WARNING] as string)' == 'False') {
        toastr["warning"]('@TempData[Constants.CONST_MESSAGE_WARNING]');
    }


    this.ajaxStart = undefined;
    this.ajaxStop = undefined;

    function restoreFullPageAjaxLoader() {
        ajaxStart =  function () { $('.ajax-loading').addClass("loading"); }; 
        ajaxStop = function () { $('.ajax-loading').removeClass("loading"); };
    }

    restoreFullPageAjaxLoader();

    var that = this;

    $(document).on({
        ajaxStart: that.ajaxStart,
        ajaxStop: that.ajaxStop,
    });

    $('body').on('draw.dt', function () {
        $('.dataTables_processing').html('<i class="fa fa-cog fa-spin"></i>&nbsp;Loading...');
    });

    </script>


    @RenderSection("Scripts", false)
</body>
</html>