﻿
@{
    //ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@section NavBarCollapse{

 <!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

	<ul class="nav navbar-nav top-nav">
		<li class="">
			<a href="@Url.Action("Index", "Default")"><i class="fa fa-home"></i> Home</a>
		</li>
	</ul>

    <ul class="nav navbar-nav navbar-right top-nav">

        <li class="dropdown">
            <a href="@Url.Action("Index", "ManufacturingOrder")"><i class="fa fa-file-o"></i> MO</a>
        </li>

        <li class="dropdown">
            <a href="@Url.Action("List", "DataCapture")" title="Work in Process"><i class="fa fa-flag"></i> WIP</a>
        </li>

        <li class="dropdown">
            <a href="@Url.Action("Index", "MOSchedule")"><i class="fa fa-calendar"></i> Reschedule</a>
        </li>

        @*<li class="dropdown">
            <a href="@Url.Action("UnderConstruction", "Default")"><i class="fa fa-cogs"></i> Processing</a>
        </li>

        <li class="dropdown">
            <a href="@Url.Action("UnderConstruction", "Default")"><i class="fa fa-print"></i> Reports</a>
        </li>

        <li class="dropdown">
            <a href="@Url.Action("AdminPage", "Default")"><i class="fa fa-wrench"></i> Admin</a>
        </li>*@


        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true"><i class="fa fa-user"></i>&nbsp;@User.Identity.Name</a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="@Url.Action("Underconstruction", "Default")">Update Details</a></li>
                <li><a href="@Url.Action("ChangePassword", "Account")">Change Password</a></li>
                <li class="divider"></li>
                <li><a href="@Url.Action("LogOut", "Account")">Log Off</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- /.navbar-collapse -->
}


@RenderBody()


@section Scripts{
    @RenderSection("Scripts", false)
}

@section Heads{
@RenderSection("Heads", false)
}

<div class="hide">
    @RenderSection("LeftPane", false)
</div>