﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section LeftPane
{
<div class="panel panel-default">

    <div class="panel-heading bold">Tasks</div>
    <div class="list-group">
        @Html.ListGroupItem("Create BOM", "Create", "BOM", "BOM")
        @Html.ListGroupItem("Create MO", "Create", "ManufacturingOrder", "MO")
    </div>
</div>

<div class="panel panel-default">
    <div class="list-group">
        @Html.ListGroupItem("Search BOM", "Index", "BOM", "SearchBOM")
        @Html.ListGroupItem("Search MO", "Index", "ManufacturingOrder", "SearchMO")
        @Html.ListGroupItem("MO by Resource", "MOByResource", "ManufacturingOrder", "MOByResource")
    </div>
</div>

}


@RenderBody()

@section Scripts{
    <script>
        var keepalive = function () {
            //var url = '/images/logo-header.png?t=' + Math.random();
            //$('#img-logo').attr('src', url);
        }
    </script>
    @RenderSection("Scripts", false)
}

@section Heads{
    @RenderSection("Heads", false)
}