﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section LeftPane
{
<div class="panel panel-default">

    <div class="panel-heading bold">Lookup Maintenance</div>
    <div class="list-group">
        @Html.ListGroupItem("Activity Types", "Index", "ActivityTypes", "ActivityTypes")
        @Html.ListGroupItem("Additional Reasons", "Index", "AdditionalReasons", "AdditionalReasons")
        @*@Html.ListGroupItem("Valid Times", "Index", "ValidTimes", "ValidTimes")*@
        @Html.ListGroupItem("Run Rate", "Index", "RunRate", "RunRate")
        @Html.ListGroupItem("Run Rate Reasons", "Index", "RunRateReason", "RunRateReason")
    </div>
</div>

}


@RenderBody()

@section Scripts{
    @RenderSection("Scripts", false)
}
