﻿@{
    //ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-9 col-md-push-3">
        <div class="">
            <div class="">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="col-md-3 col-md-pull-9">
        @RenderSection("LeftPane", false)
    </div>

</div>


@section Scripts{
    @RenderSection("Scripts", false)
}