﻿@{
    //ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_LayoutLeftPane.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        @RenderBody()
    </div>
</div>


@section Scripts{
    @RenderSection("Scripts", false)
}

@section LeftPane{
    <div class="panel panel-default">
        <div class="panel-heading bold"><a href="/default/qalinks/"><i class="fa fa-search-plus"></i> QA Links</a></div>
        <div class="list-group">
            @Html.ListGroupItem("Inspection Method", "Index", "QAInspMethod", "QAInspMethod")
            @Html.ListGroupItem("Criteria", "Index", "QACriteria", "QACriteria")
            @Html.ListGroupItem("Parameters", "Index", "QAParams", "QAParams")
            @Html.ListGroupItem("Applications", "Index", "QAApps", "QAApps")
        </div>

    </div>
}