﻿@model ShopFloor.Web.Models.PagerModel

@if (Model.PageCount > 1)
{
<div class="col-md-6">
    <div class="row">
        <ul class="pagination pagination-sm">
            <li><a title="First" href="@Url.Action("IndexPage", new { searchWhat = Model.SearchString, pageNo = 1, pageSize = Model.PageSize })">&lt;&lt;</a></li>
            <li><a title="Previous" href="@Url.Action("IndexPage", new { searchWhat = Model.SearchString, pageNo = Model.CurrentPage-1, pageSize = Model.PageSize })">&lt;</a></li>
            @{
                int maxPage = 5;
                int pageCount = (Model.CurrentPage / maxPage) + (Model.CurrentPage % maxPage > 0 ? 1 : 0);
                int maxPageCount = pageCount * maxPage;
                int startPageCount = maxPageCount - maxPage;

                if (maxPageCount > Model.PageCount) { maxPageCount = Model.PageCount; };
            }
            @for (int i = startPageCount + 1; i <= maxPageCount; i++)
            {
                <li class='@(Model.CurrentPage == i ? "active" : "") '><a href="@Url.Action("IndexPage", new { searchWhat = Model.SearchString, pageNo = i.ToString(), pageSize = Model.PageSize })">@i</a></li>
            }
            <li><a title="Next" href="@Url.Action("IndexPage", new { searchWhat = Model.SearchString, pageNo = Model.CurrentPage+1, pageSize = Model.PageSize })">&gt;</a></li>
            <li><a title="Last" href="@Url.Action("IndexPage", new { searchWhat = Model.SearchString, pageNo = (Model.PageCount*Model.PageSize) - (Model.PageSize-1), pageSize = Model.PageSize })">&gt;&gt;</a></li>
        </ul>
    </div>

    <div class="col-md-6">
        <span class="label label-primary">@Model.PageCount pages in total</span>
        @*startpageCount: @startPageCount<br />
        maxPageCount: @maxPageCount<br />

        Current page: @Model.CurrentPage<br />
        Page Count: @Model.PageCount<br />
        Page Size: @Model.PageSize<br />
        Computed: @(Model.CurrentPage / 5)*@
    </div>
</div>
}