﻿<div class="col-lg-12">


    <p>
        <div class="input-group">
            <input type="search" id="txt-item-search" class="form-control" placeholder="search" aria-controls="BOMTable" />
            <span class="input-group-btn">
                <button type="button" id="btn-item-search" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</button>
            </span>
        </div>
    </p>

    <table class="table table-condensed" id="search-item-table">
        <thead>
            <tr>
                <th></th>
                <th>ItemCode</th>
                <th>ItemName</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot></tfoot>
    </table>

</div>


