﻿<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-8 col-md-9">
            <div class="input-group">
                <input type="search" class="form-control txt-table-search" placeholder="search" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary btn-table-search"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</button>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-condensed table-search">
                <thead id="thead-table-search">
                    <tr id="tr-table-search">
                        @*no sorting for dynamically added th. boo hoo.*@
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>