﻿@model ShopFloor.Entities.AdditionalReason


@{
    ViewBag.Title = "Reasons";
    ViewBag.ActiveMenu = "AdditionalReasons";
    Layout = "~/Views/Shared/_LayoutLookup.cshtml";
}

<h2>Search AdditionalReasons</h2>

<div class="row">
    <div class="col-md-7 col-sm-7 col-xs-7">
	    @using(Html.BeginForm("Form1")){
        <div class="input-group">
            <input type="text" class="form-control txt-table-search" placeholder="search" name="SearchString">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary btn-table-search"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
		}
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5">
        <a href="@Url.Action("Create")" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create New</a>
    </div>
</div>
<table class="table table-striped table-hover table-search">
	<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(m=>m.ReasonCode)
        </th>
        <th>
            @Html.DisplayNameFor(m=>m.ReasonName)
        </th>
        <th>
            @Html.DisplayNameFor(m=>m.Active)
        </th>
        <th></th>
    </tr>
	</thead>
	<tbody>
	</tbody>

</table>

@section Scripts{
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/shopfloor.datatable.js"></script>
    <script>
        var tableRoute = {};
        $(function () {
            tableRoute = new SearchTable('@ShopFloor.Constants.CONST_SEARCHTABLE_ADDITIONALREASON', '.table-search', '.txt-table-search', '.btn-table-search', undefined, btnEditRow_Click, btnDeleteRow_Click);
            tableRoute.AjaxURL = '@Response.ApplyAppPathModifier(ShopFloor.Constants.CONST_SEARCHTABLE_URL)' + '@ShopFloor.Constants.CONST_SEARCHTABLE_ADDITIONALREASON';
            tableRoute.addDataTableColumn('ReasonCode', true, true);
            tableRoute.addDataTableColumn('ReasonName', true, true);
            tableRoute.addDataTableColumn('Active', true, true);
            tableRoute.showActionButtons = true;
            tableRoute.showSelectButton = false;
            tableRoute.initialize();
        });


        var btnDeleteRow_Click = function (id) {
            $.get('@Response.ApplyAppPathModifier("/additionalreasons/delete/")' + id, function () {
                toastr['success']('Record deleted.');
                tableRoute.reload();
            }, 'json')
            .fail(function (data) {
                toastr['error']('Error when trying to delete route id=' + id + '');
            });
        }

        var btnEditRow_Click = function (id) {
            location.href = '@Response.ApplyAppPathModifier("/additionalreasons/Edit/")' + id
        }

    </script>
}
