﻿@model ShopFloor.Web.Models.EditMOHeaderModel
@{
	bool isFillerType = (Model.MOType.MOTypeCode == ShopFloor.Constants.CONST_MOTYPES_FILLER);
}
@if (Model == null || Model.FinishedGoods == null || Model.FinishedGoods.Count == 0)
{
	if (isFillerType)
	{
		<div class="col-lg-12"><h4>You did not specify a Route upon creation. Please use the correct <a href="@Url.Action("DownTimeCreate")" class="btn btn-info btn-xs"><i class="fa fa-toggle-down"></i> Downtime Creation</a> form and start over.</h4></div>
	}
	else
	{
		<div class="col-lg-12"><h4>No Finished Goods Assigned. To add one, click this button <button class="btn btn-success btn-xs btn-add-fg"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add FG</button>.</h4></div>
	}

}
else
{
    <div class="scrollable-table-container">
        <table class="table table-striped table-hover">
            <thead class="@(isFillerType ? "hide":"")">
                <tr>
                    <th>
                        <div class='btn-group btn-group-xs'>
                            <a class='btn btn-default btn-xs' data-toggle='dropdown' href='#'><span class='glyphicon glyphicon-cog'></span>&nbsp;<span class='caret'></span></a>
                            <ul class='dropdown-menu'>
                                <li><a href='#' class='menu-expand-all' data-id='1'>Expand All</a></li>
                                <li><a href='#' class='menu-collapse-all' data-id='2'>Collapse All</a></li>
                            </ul>
                        </div>
                    </th>
                    @if (!Model.IsMOClosing)
                    {
                        <th>Item Code</th>
                        @*<th>Item Name</th>*@
                        <th>Batch Qty</th>
                        <th>% Cost</th>
                        <th>SAP SO No.</th>
                        <th>Delivery Date</th>
                        <th>Outs</th>
                        <th></th>
                    }
                    else
                    {
                        <th>Item Code</th>
                        <th>Item Name</th>
                        <th>Batch Qty</th>
                        <th>Actual Qty</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var fgg in Model.FinishedGoods)
                {
                    <tr class='@(isFillerType?"hide":"")' data-toggle="tooltip" data-placement="top" title="@fgg.ItemName">
                        <td>
                            <a id="a-collapse-@fgg.ID" class="a-collapse btn btn-default btn-xs" href="#" data-id="@fgg.ID"><span class="glyphicon glyphicon-chevron-right"></span></a>
                        </td>
                        @if (!Model.IsMOClosing)
                        {
                            <td>@fgg.ItemCode</td>
                            <td>@fgg.BatchQty</td>
                            <td>@fgg.BatchPrcnt</td>
                            <td><input type='text' style="width:100px;text-align:center;" id='@string.Concat("txt-edit-SONo-", fgg.ID)' value='@fgg.SONo' class="txt-edit-SONo" data-id="@fgg.ID" /> <button data-id="@fgg.ID" data-code="@fgg.ItemCode" class="btn btn-xs btn-primary btn-search-so" title="search SONo" @(Model.MOType.MOTypeCode == ShopFloor.Constants.CONST_MOTYPES_MO ? "" : "style=display:none;") ><i class="glyphicon glyphicon-search"></i></button></td>
                            <td><input type='text' style="width:120px;text-align:center;" id='@string.Concat("txt-edit-deliverydate-", fgg.ID)' value='@(fgg.DeliveryDate.HasValue ? fgg.DeliveryDate.Value.ToString("MM/dd/yyyy") : "")' class="txt-edit-deliverydate" data-id="@fgg.ID" data-oldvalue='@(fgg.DeliveryDate.HasValue ? fgg.DeliveryDate.Value.ToString("MM/dd/yyyy") : "")' /></td>
                            <td>@fgg.OutsTag</td>
                            <td>
                                @if (!(fgg.MOHeader.MOClosedTag ?? false))
                                {
                                    <button class='btn btn-primary btn-xs btn-save-fgg-row' data-id='@fgg.ID'><i class="fa fa-floppy-o"></i></button>
                                    if (!(Model.IsScheduled ?? false))
                                    {
                                        <button class='btn btn-danger btn-xs btn-delete-fgg-row' data-id='@fgg.ID'><i class="fa fa-remove"></i></button>
                                    }
                                }
                            </td>
                        }
                        else
                        {
                            <td>@fgg.ItemCode</td>
                            <td>@fgg.ItemName</td>
                            <td>@fgg.BatchQty</td>
                            <td>
                                @if (Model.MOClosedTag ?? false)
                                {
                                    @(fgg.Transmittal?.TrnsmQty ?? fgg.TotalGoods)
                                }
                                else
                                {
                                    <input type='number' data-id='@fgg.ID' data-transmID='@(fgg.Transmittal?.ID ?? 0)' style="width:100px;text-align:center;" id='@string.Concat("txt-edit-actual-qty-", fgg.ID)' value='@(fgg.Transmittal?.TrnsmQty ?? fgg.TotalGoods)' />
                                }
                            </td>
                        }
                    </tr>

        <tr id="row-collapse-@fgg.ID" class="collapsible" data-id="@fgg.ID">
            <td colspan="9" class="">

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href='#tabOperations-@fgg.ID' aria-controls="profile" role="tab" data-toggle="tab">Operations</a></li>
                    <li role="presentation" class="@(isFillerType?"hide":"")"><a href='#tabMaterials-@fgg.ID' aria-controls="profile" role="tab" data-toggle="tab">Materials</a></li>
                </ul>

                <div class="tab-content">
                    @*operations*@
                    <div role="tabpanel" class="tab-pane active container" id="tabOperations-@fgg.ID">
                        <div class="panel panel-default">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Operation Code</th>
                                        <th>Resource Code</th>
                                        <th>Start Date</th>
                                        <th>Start Time</th>
                                        <th>@(isFillerType ? "Make Ready" : "Setup Time")</th>
										<th>@(isFillerType ? "Change Over" : "Stock Time")</th>
										<th>@(isFillerType ? "Est Downtime" : "Est Run Time")</th>
                                        <th>End Date</th>
                                        <th>End Time</th>
                                        <th>Perc Tag</th>
                                        @if (!Model.IsMOClosing)
                                        {
                                        <th></th> @*action*@
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var rsc in fgg.Resources)
									{
										string classRow = "";
										string title = "";
										if (rsc.OnStreamTag.HasValue)
										{
											if (rsc.OnStreamTag.Value) { classRow = "info"; title = "Started Work in Process"; }
											if (rsc.OnStreamTag.Value == false) { classRow = "danger"; title = "Stopped Work in Process"; }
										}

										if (rsc.ClosedTag.GetValueOrDefault(false))
										{
											classRow = "success"; title = "Closed Resource";
										}

										<tr class='@classRow' data-toggle="tooltip" data-placement="top" title="@rsc.ResourceDesc">
											<td>@rsc.OperationCode</td>
											<td>@rsc.ResourceCode</td>
											<td>@rsc.FromDate.GetValueOrDefault(DateTime.Now).ToShortDateString()</td>
											<td>@rsc.FromDate.GetValueOrDefault(DateTime.Now).ToShortTimeString()</td>

											@if (!(Model.IsScheduled ?? false) && !Model.IsMOClosing)
											{
												<td><input type='number' value='@rsc.SetupTime.GetValueOrDefault(0).ToString("###0.######")' id="txt-edit-SetupTime-@rsc.ID" data-id="@rsc.ID" class="inline-edit-sm need-to-click-save" /></td>
												<td><input type='number' value='@rsc.StockTime.GetValueOrDefault(0).ToString("###0.######")' id="txt-edit-StockTime-@rsc.ID" data-id="@rsc.ID" class="inline-edit-sm need-to-click-save" /></td>
												<td><input type='number' value='@rsc.EstTime.GetValueOrDefault(0).ToString("###0.######")' id="txt-edit-esttime-@rsc.ID" data-id="@rsc.ID" class="inline-edit-sm need-to-click-save" /></td>
											}
											else
											{
												if (rsc.ClosedTag != true)
												{
													<td>@rsc.SetupTime.GetValueOrDefault(0).ToString("###0.######")<input type="hidden" value='@rsc.SetupTime.GetValueOrDefault(0).ToString("###0.######")' id="txt-edit-SetupTime-@rsc.ID" /></td>
													<td>@rsc.StockTime.GetValueOrDefault(0).ToString("###0.######")<input type="hidden" value='@rsc.StockTime.GetValueOrDefault(0).ToString("###0.######")' id="txt-edit-StockTime-@rsc.ID" /></td>
													<td><input type='number' value='@rsc.EstTime.GetValueOrDefault(0).ToString("###0.######")' id="txt-edit-esttime-@rsc.ID" data-id="@rsc.ID" class="inline-edit-sm need-to-click-save" /></td>
												}
												else
												{
													<td>@rsc.SetupTime.GetValueOrDefault(0).ToString("###0.######")</td>
													<td>@rsc.StockTime.GetValueOrDefault(0).ToString("###0.######")</td>
													<td>@rsc.EstTime.GetValueOrDefault(0).ToString("###0.######")</td>
												}

											}

											<td>@rsc.ToDate.GetValueOrDefault(DateTime.Now).ToShortDateString()</td>
											<td>@rsc.ToDate.GetValueOrDefault(DateTime.Now).ToShortTimeString()</td>
											<td>@rsc.BatchPercent.GetValueOrDefault(0)</td>
											@if (!Model.IsMOClosing)
											{
												<td>
													<button data-id="@rsc.ID" title="Save Changes" class="btn btn-primary btn-xs btn-save-rsc-row"><i class="fa fa-save"></i></button>
												</td>
											}
										</tr>
									}
                                </tbody>
                            </table>
                        </div>

                        <p class="@(isFillerType?"hide":"")">
                            
                            <a href="@Url.Action("MOByResource", "ManufacturingOrder")" target="_blank">See Resource Schedule</a>
                        </p>
                    </div>

                    @*materials*@
                    <div role="tabpanel" class="tab-pane container @(isFillerType?"hide":"")" id="tabMaterials-@fgg.ID">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>RM Code</th>
                                    @*<th>RM Description</th>*@
                                    <th>Unit of Measure</th>
                                    <th>RM Factor</th>
                                    <th>Qty per Piece</th>
                                    <th>MO Qty</th>
									<th>RM Cost</th>
									<th>UOM Factor</th>
                                    @if (!Model.IsMOClosing)
                                    {
                                        <th></th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var rm in fgg.RawMaterials)
                                {
                                <tr id='@string.Concat("tr-rm-", rm.ID)' data-toggle="tooltip" data-placement="top" title="@rm.RMItemName">
                                    <td>
                                        @if (!(fgg.MOHeader.MOClosedTag ?? false) && !Model.IsMOClosing)
                                        {
                                            <button ng-click="contentCtrl.openReplaceWindow(@rm.ID, '@rm.RMItemCode')" class='btn btn-primary btn-xs btn-change-rm-row' data-id='@rm.ID'><i class="fa fa-edit"></i></button>
                                        }
                                        <span id='@string.Concat("txt-edit-rm-itemcode-", @rm.ID)'>@rm.RMItemCode</span>
										<input type="hidden" id='@string.Concat("txt-edit-rm-itemname-", @rm.ID)' value='@rm.RMItemName' />
										<input type="hidden" id='@string.Concat("txt-edit-Allowance-", @rm.ID)' value='@rm.Allowance' />
                                    </td>
                                    @*<td>@rm.RMItemName</td>*@
                                    <td>@rm.UnitOfMeasure</td>
									<td><span id='@string.Concat("txt-edit-RMFactor-", @rm.ID)'>@rm.RMFactor</span></td>
                                    <td><span id='@string.Concat("txt-edit-QtyPerPiece-", @rm.ID)'>@rm.IssuedQty2</span></td>
                                    <td>
                                        @if (Model.IsMOClosing)
                                        {
                                            <span id="td-MOQty">@rm.MOQty</span>
                                        }
                                        else
                                        {
                                            <input type='number' step="any" min="0" style="width:85px;text-align:center;" id='@string.Concat("txt-edit-MOQty-", @rm.ID)' value="@rm.MOQty" class="txt-edit-MOQty" data-id="@rm.ID" />
                                        }
                                    </td>
									<td>
										@rm.SAPUnitCost
									</td>
									<td><span id='@string.Concat("txt-edit-UOMFactor-", @rm.ID)'>@rm.UOMFactor</span></td>
                                    @if (!Model.IsMOClosing)
                                    {
                                    <td>
                                        @if (!(fgg.MOHeader.MOClosedTag ?? false))
                                        {
                                            <button id='@string.Concat("btn-save-rm-row-", @rm.ID)' class='btn btn-primary btn-xs btn-save-rm-row' data-id='@rm.ID'><i class="fa fa-floppy-o"></i></button>
                                        }
                                    </td>
                                    }
                                </tr>
                                }
                            </tbody>
                        </table>
                        @*<p>
                            <a href="/bom/index" target="_blank">Search BOM</a>
                        </p>*@
                    </div>

                </div>


            </td>
        </tr>
        }
            </tbody>
        </table>
    </div>
}