﻿@model EditMODetailFggModel

<form id="form-fgg">
	<div class="form-horizontal">

		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(m => m.ID)
		@Html.HiddenFor(m => m.MOHeaderID)
		@Html.HiddenFor(m => m.MOTypeCode)
		@Html.HiddenFor(m => m.DeliveryDate)


		<div class="form-group">
			<label class="control-label col-md-3" for="ItemCode">Item Code</label>
			<div class="col-md-8">
				<div class="input-group">
					@Html.TextBoxFor(m => m.ItemCode, new { @class = "form-control" })
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary btn-search-fg"><span class="glyphicon glyphicon-search"></span></button>
					</span>
				</div>
				@Html.ValidationMessageFor(model => model.ItemCode, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-3" for="BatchQty">Batch Qty</label>
			<div class="col-md-8">
				@Html.EditorFor(model => model.BatchQty, new { htmlAttributes = new { @class = "form-control", step = "any" } })
				@Html.ValidationMessageFor(model => model.BatchQty, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-3" for="OutsTag">Outs</label>
			<div class="col-md-8">
				@Html.EditorFor(model => model.OutsTag, new { htmlAttributes = new { @class = "form-control", min = "0", step = "1" } })
				@Html.ValidationMessageFor(model => model.OutsTag, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-3" for="BatchPrcnt">% Cost</label>
			<div class="col-md-8">
				@Html.EditorFor(model => model.BatchPrcnt, new { htmlAttributes = new { @class = "form-control", min = "0", max = "100", type = "number" } })
				@Html.ValidationMessageFor(model => model.BatchPrcnt, "", new { @class = "text-danger" })
			</div>
		</div>

		@if (Model.MOTypeCode == MOType.CONST_CODES_MO)
		{
			<div class="form-group">
				<label class="control-label col-md-3" for="SONo">SO Number</label>
				<div class="col-md-8">

					<div class="input-group">
						@Html.EditorFor(model => model.SONo, new { htmlAttributes = new { @class = "form-control", type = "number", required = "required" } })
						<span class="input-group-btn">
							<button type="button" class="btn btn-primary btn-search-so2" title="search SO number"><span class="glyphicon glyphicon-search"></span></button>
						</span>
					</div>

					
					@Html.ValidationMessageFor(model => model.SONo, "", new { @class = "text-danger" })
				</div>
			</div>
		}
		else
		{
			@Html.HiddenFor(m => m.SONo)
		}

	</div>
</form>