﻿@model ShopFloor.Web.Models.EditMOHeaderModel
@{
    ViewBag.Title = "Create MO";
    ViewBag.ActiveMenu = "MO";
    Layout = "~/Views/Shared/_LayoutTasks.cshtml";
}

<h2>Manufacturing Order Creation</h2>
<h4>Create MO Header</h4>
<hr />

<div class="col-lg-8 col-md-9">
@using (Html.BeginForm("test"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.MOType, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.MOTypeID, (IEnumerable<SelectListItem>)ViewBag.MOTypes, "", new { @class = "form-control", autofocus = "" })
                @Html.ValidationMessageFor(model => model.MOTypeID, "", new { @class = "text-danger" })
            </div>
        </div>


		<div class="form-group">
			@Html.LabelFor(model => model.MONumber, htmlAttributes: new { @class = "control-label col-md-3" })
			<div class="col-md-9">
				@Html.EditorFor(model => model.MONumber, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.MONumber, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-3" for="MOInstructions">Special Instructions</label>
			<div class="col-md-9">
				@Html.TextAreaFor(model => model.MOInstructions, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.MOInstructions, "", new { @class = "text-danger" })
			</div>
		</div>

        <div class="form-group">
            @Html.LabelFor(model => model.GangRunTag, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <div class="checkbox">
                    @Html.EditorFor(model => model.GangRunTag)
                    @Html.ValidationMessageFor(model => model.GangRunTag, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @*@Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.MOPriority)
        @Html.HiddenFor(m => m.MOClosedTag)
        @Html.HiddenFor(m => m.CreatedBy)
        @Html.HiddenFor(m => m.CreatedOn)
        @Html.HiddenFor(m => m.ModifiedBy)
        @Html.HiddenFor(m => m.ModifiedOn)*@


        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <button id="btn-create" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-arrow-right"></span>&nbsp;Next</button>
            </div>
        </div>
    </div>
}

<p>
    @Html.ActionLink("Search MO", "Index")
</p>

</div>

@section Scripts{

    
    <script>

        $(function () {
            $('#btn-create').click(function () {
                if (!confirm('This will create a blank MO record. Are you sure you want to continue?')) {
                    return false;
                }
            })


            $('#MOTypeID').change(function (s) {

                // get next series
                var url = '@Response.ApplyAppPathModifier("/ManufacturingOrder/GetNextSeriesValue/?moTypeId=")' + $(this).val();
                $.get(url, function (value) {
                    $('#MONumber').val(value);
                })
                
            });
        })

    </script>

}

