﻿@model CreateDownTime
@{
    ViewBag.Title = "DownTimeCreate";
}

<h2>DownTime Schedule Creation</h2>
<h4>Create Downtime</h4>
<hr />


<div class="row">
	<div class="col-lg-8 col-md-9">
		@using (Html.BeginForm("FormDownTime"))
		{

			<div class="form-horizontal">

				@Html.ValidationSummary(true, "", new { @class = "text-danger" })

				<div class="form-group">
					<label class="control-label col-md-3">Current DateTime</label>
					<div class="col-md-9">
						<p class="form-control-static bold">2/28/2016 10:09 AM</p>
						@*@Html.DisplayFor(m => m.MOType, new { @class = "form-control-static" })*@
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-3">MO Type</label>
					<div class="col-md-9">
						<p class="form-control-static">Filler</p>
						@*@Html.DisplayFor(m => m.MOType, new { @class = "form-control-static" })*@
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-3">MO Number</label>
					<div class="col-md-9">
						@*<p class="form-control-static">29999</p>*@
						@Html.EditorFor(m => m.MONumber, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.MONumber, "This field is required", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-3 col-lg-3">Route</label>
					<div class="col-md-9 col-lg-9">
						@Html.DropDownListFor(m => m.RouteID, (IEnumerable<SelectListItem>)ViewBag.Routes, "", new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.RouteID, "This field is required", new { @class = "text-danger" })
					</div>
				</div>

				<div id="form-group-new" class="form-group">
					<div class="col-md-offset-3 col-md-9">
						<button id="btn-next" type="submit" class="btn btn-success"><span class="fa fa-plus"></span>&nbsp;Create</button>
					</div>
				</div>


			</div>
		}

		<p>
			@Html.ActionLink("Search DownTime", "DownTimeList")
		</p>

	</div>
</div>

@section scripts{
	
	<script>
		$(function () {
			$('#btn-next').click(function(){
				return confirm('This will create a new DownTime MO. Are you sure you want to proceed?');
			})
		})

	</script>


}