﻿@model EditMOHeaderModel
@{
	bool isFillerType = (Model.MOType.MOTypeCode == ShopFloor.Constants.CONST_MOTYPES_FILLER);

    if (Model.IsMOClosing)
    {
        ViewBag.Title = "MO Closing";
    }
    else
    {
        ViewBag.Title = "Edit MO";
    }
    ViewBag.ActiveMenu = "SearchMO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.IsMOClosing)
{
    <h2>MO Closing</h2>
}
else if (isFillerType)
{
	<h2>Downtime Schedule Creation</h2>
	<h4>Edit Downtime</h4>
}
else
{
	<h2>Manufacturing Order Creation</h2>
	<h4>Edit MO Details</h4>
}
<hr />

<div ng-app="appEditMO">

<div class="row">
    <div class="col-lg-8 col-md-9">
        @*@using (Html.BeginForm("Edit", "ManufacturingOrder", null, FormMethod.Post, new { id = "form-edit-mo" }))*@
        @using (Html.BeginForm("form-edit-mo", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label col-md-3">Current Date/Time</label>
                    <div class="col-md-9">
                        <p class="form-control-static bolder">@Model.CurrentDateTime.ToString("MM/dd/yyyy hh:mm tt")</p>
                        @Html.HiddenFor(m => m.CurrentDateTime)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MOTypeID, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @if (Model.IsMOClosing || isFillerType)
                        {
                            <p class="form-control-static bolder">@Model.MOType.MOTypeName</p>
							@Html.HiddenFor(m => m.MOTypeID)
                        }
                        else
                        {
                            @Html.DropDownListFor(model => model.MOTypeID, (IEnumerable<SelectListItem>)ViewBag.MOTypes, "", new { @class = "form-control", autofocus = "" })
                            @Html.ValidationMessageFor(model => model.MOTypeID, "", new { @class = "text-danger" })
                        }
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MONumber, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <p class="form-control-static bolder">@Model.MONumber</p>
                        @Html.HiddenFor(m => m.MONumber)
                    </div>
                </div>

				@if (isFillerType)
				{
					<div class="form-group">
						<label class="control-label col-md-3">Route</label>
						<div class="col-md-9">
							<p class="form-control-static bolder">@Model.RouteDisplayName</p>
						</div>
					</div>
				}
				else
				{
					<div class="form-group">
						<label class="control-label col-md-3" for="MOInstructions">Special Instructions</label>
						<div class="col-md-9">
							@if (Model.IsMOClosing)
							{
								<p class="form-control-static bolder">@Model.MOInstructions</p>
							}
							else
							{
								@Html.TextAreaFor(model => model.MOInstructions, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.MOInstructions, "", new { @class = "text-danger" })
							}
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.GangRunTag, htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							@if (Model.IsMOClosing)
							{
								<p class="form-control-static bolder">@(Model.GangRunTag.GetValueOrDefault(false) ? "Yes" : "No")</p>
							}
							else
							{
								<div class="checkbox">
									@Html.EditorFor(model => model.GangRunTag)
									@Html.ValidationMessageFor(model => model.GangRunTag, "", new { @class = "text-danger" })
								</div>
							}
						</div>
					</div>
				}



                @Html.HiddenFor(m => m.ID)
                @Html.HiddenFor(m => m.MOPriority)
                @Html.HiddenFor(m => m.MOClosedTag)
                @Html.HiddenFor(m => m.CreatedBy)
                @Html.HiddenFor(m => m.CreatedOn)
                @Html.HiddenFor(m => m.ModifiedBy)
                @Html.HiddenFor(m => m.ModifiedOn)
                @Html.HiddenFor(m => m.IsScheduled)

                @{
                    string classProcessSched = "";
                    string classDataCapture = "";
                }

                @if (!Model.IsMOClosing)
                {
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn btn-primary"><span class="fa fa-floppy-o"></span>&nbsp;Save</button>

                            @if (!Model.IsScheduled.GetValueOrDefault(false))
                            {
                                classDataCapture = "hide";
                            }
                            else
                            {
                                classProcessSched = "hide";
                            }
                            <button id="btn-process-schedule" type="button" class="btn btn-success @classProcessSched"><span class="fa fa-clock-o"></span>&nbsp;Process Schedule</button>

                            <div class="btn-group @(isFillerType ? "hide": "")">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-print"></span> Print <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="not-implemented">MRF</a></li>
                                    <li><a href="#" class="not-implemented">SPF</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <p>
				@if (isFillerType)
				{
					@(Html.ActionLink("Search DownTime", "DownTimeList"))<span>&nbsp;|</span>
					@(Html.ActionLink("Create New", "DownTimeCreate"))
				}
				else
				{
					@Html.ActionLink("Search MO", "Index")<span>&nbsp;| &nbsp;</span>@Html.ActionLink("Create New MO", "Create")
					if (!Model.IsMOClosing)
					{
						<span class='@classDataCapture'>
							| <a href='@Response.ApplyAppPathModifier("/datacapture/index/" + @Model.ID)'><i class="fa fa-play-circle-o"></i> Work in Process</a>
							| <a href='@Response.ApplyAppPathModifier("/manufacturingorder/moclosing/" + @Model.ID)'><i class="fa fa-flag-checkered"></i> MO Closing</a>
						</span>
					}
					else
					{
						<span class='@classDataCapture'>
							| <a href='@Response.ApplyAppPathModifier("/datacapture/index/" + @Model.ID)'><i class="fa fa-play-circle-o"></i> Work in Process</a>
						</span>
					}
				}
            </p>

        }
    </div>
</div>




<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading bolder @(isFillerType ? "hide" : "")">
                Finished Goods
                @if (!Model.IsScheduled.GetValueOrDefault(false) && !Model.IsMOClosing)
                {
                    <button class="btn btn-success btn-xs pull-right btn-add-fg"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add FG</button>
                }

            </div>
            <div id="div-mo-content" ng-controller="MOContentController as contentCtrl">
                @Html.Partial("~/Views/ManufacturingOrder/_MOContent.cshtml", Model)

				<div id="modal-substitute-rm" class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close btn-close-search-rm" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4>Replace Raw Material</h4>
							</div>
							<div class="modal-body">

								<div class="form-horizontal">
	
									<div class="form-group">
										<label class="control-label col-md-3">Current Value</label>
										<div class="col-md-8">
											<p class="form-control-static">{{contentCtrl.currentRMCode}}</p>
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-md-3" for="SubstituteRMID">Replace With</label>
										<div class="col-md-8">
											<select id="SubstituteRMID" ng-model="contentCtrl.selectedSubs" ng-options="item as item.RMCodeSubs + ' - ' + item.RMCodeSubsName for item in contentCtrl.listSubstituteRMs" ng-change="contentCtrl.UpdateSubResource(contentCtrl.selectedSubs)" class="form-control">
												<option value=""></option>
											</select>
										</div>
									</div>

	
								</div>


							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" ng-click="contentCtrl.SaveSubtituteRM(contentCtrl.selectedSubs)" ng-disabled="contentCtrl.selectedSubs == null">Save</button>
								<button type="button" class="btn btn-default btn-close-search-rm">Cancel</button>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->

            </div>

        </div>
    </div>
</div>

@if (Model.IsMOClosing)
{
    <div class="container">
        <div class="row">
            @if (!Model.MOClosedTag ?? true)
            {
                <button class="btn btn-success" id="btn-SaveTransmittal" title="save to Transmittal table"><span class="fa fa-floppy-o"></span>&nbsp;Save</button>
                <button class="btn btn-danger" id="btn-CloseMO"><span class="fa fa-flag-checkered"></span>&nbsp;Close MO</button>
            }
            <button class="btn btn-default" id="btn-PrintTransmittal"><span class="glyphicon glyphicon-print"></span>&nbsp;Print Transmittal Report</button>
            <button class="btn btn-default" id="btn-PrintFGSticker"><span class="glyphicon glyphicon-print"></span>&nbsp;Print FG Sticker</button>
        </div>
    </div>
}

<p></p>


<div id="modal-search-fg" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-close-search-fg" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Search for FG</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("~/Views/Shared/_SearchTable.cshtml")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-close-search-fg">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modal-search-so" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-close-search-so" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>Search for SAP SO Number</h4>
            </div>
            <div class="modal-body">
                <p>
                    <div class="input-group">
                        <input type="text" id="txt-table-search-so" class="form-control" placeholder="search" />
                        <span class="input-group-btn">
                            <button id="btn-table-search-so" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</button>
                        </span>
                    </div>
                </p>
                <table id="table-search-so" class="table">
                    <thead>
                        <tr>
                            <th class="col-xs-2">SO Number</th>
                            <th class="col-xs-9">Due Date</th>
                            <th class="col-xs-9">SO Balance</th>
                            <th class="col-xs-1"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-close-search-so">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modal-add-fg" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-close-addfg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Finished Good</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("~/Views/ManufacturingOrder/_PartialFGG.cshtml", new EditMODetailFggModel { MOTypeCode = Model.MOType?.MOTypeCode })
			</div>

			<div class="modal-footer">
                <button type="button" id="btn-create-fg" class="btn btn-success pull-left"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create</button>
                <button type="button" class="btn btn-default btn-close-addfg" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modal-edit-fg" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Finished Good</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("~/Views/ManufacturingOrder/_PartialFGG.cshtml", new EditMODetailFggModel { MOTypeCode = Model.MOType?.MOTypeCode })
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-save-fg" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div>



@section Scripts{
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/shopfloor.datatable.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.js"></script>
    <script src="~/Scripts/moment.js"></script>
	<script src="~/Scripts/angular.min.js"></script>
    <script>

        var tblSO = {};

		// for datetimpicker.js + moment.js combo
		Date.parseDate = function(input, format) {
			return moment(input, format).toDate();
		};
		Date.prototype.dateFormat = function(format) {
			return moment(this).format(format);
		};


		var addFinishedGoodPopupIsUp = false;
		$('#modal-add-fg')
			.on('shown.bs.modal', function(e){ addFinishedGoodPopupIsUp = true; })
			//.on('hidden.bs.modal', function(e){ addFinishedGoodPopupIsUp = false; });

		$('#modal-search-so')
			.on('show.bs.modal', function(e){ 
				if(addFinishedGoodPopupIsUp){
					$('#modal-add-fg').modal('hide');
				}
			})
			.on('hidden.bs.modal', function(e){ 
				if(addFinishedGoodPopupIsUp){
					$('#modal-add-fg').modal('show');
				}
			});
		
		$('.btn-close-addfg').click(function(){
			addFinishedGoodPopupIsUp = false;
		});

		// get mo type id for MO. when user changes MOTypeID other than MO:
		// 1) hide SAP SO button
		// 2) make SAP SO Number required
		var motypeid_mo = 0;
		var url = '@Response.ApplyAppPathModifier("/MOTypes/GetMOTypeID?moTypeCode=") + @ShopFloor.Constants.CONST_MOTYPES_MO' ;
		$.get(url, function(motypeId){ 
			motypeid_mo = motypeId; 
		});

        var motypecode = '';
        fetchMOTypeCode();

        function fetchMOTypeCode(){
        	var motypeid = $('#MOTypeID').val();
        	var url = '@Response.ApplyAppPathModifier("/MOTypes/GetMOType/")' + motypeid.trim();
        	$.get(url, function(motype){ 
        		motypecode = motype.MOTypeCode; 
        	});
        }

        var btnFGSelectedClick = function(id, searchtype) {
            $('#modal-search-fg').modal('hide');
            $('#modal-add-fg').modal('show');

            // get route details
            $.get('@Response.ApplyAppPathModifier("/manufacturingorder/GetItemRouteByID/?itemRouteId=")' + id, function(data) {

				populateFGG(data);

                $.get(getValidateFGGURL(), function(response) {
					if (response === true) {
						//toastr['info']($('#form-fgg #SearchItemCode').val() + ' is valid.');
					} else {
						toastr['warning'](response);
					}
				});

			}).fail(function() {
				toastr['error']('There was an error while getting item route details. Please contact system administrator');
			});
        } // btnFGSelectedClick

		var fggID = 0;

		var btnSOSelectedClick = function(id) {

			$.get('@Response.ApplyAppPathModifier("/manufacturingorder/getsapso?soNumber=")' + id, function(response){
				let dte = moment(response.DocDueDate).format('MM/DD/YYYY');
				if(addFinishedGoodPopupIsUp)
				{
					$('#form-fgg #SONo').val(id);
					$('#form-fgg #DeliveryDate').val(dte)
				}
				else
				{
					$('#txt-edit-SONo-' + fggID).val(id);
					$('#txt-edit-deliverydate-' + fggID).val(dte);
					toastr['success']('Please hit the save button to save the current row');
				}
				$('#modal-search-so').modal('hide');
			});

		} //btnSOSelectedClick

		var btnRMSelectedClick = function(itemCode, itemName, rmID, rmQty, uomFactor, rmFactor, allowance) {

        	//alert('btnRMSelectedClick: ' + itemCode);

        	$('#txt-edit-rm-itemcode-' + rmID).text(itemCode);
        	$('#txt-edit-rm-itemname-' + rmID).val(itemName);
        	$('#txt-edit-QtyPerPiece-' + rmID).text(rmQty);
        	$('#txt-edit-UOMFactor-' + rmID).text(uomFactor);
        	$('#txt-edit-RMFactor-' + rmID).text(rmFactor);
        	$('#txt-edit-Allowance-' + rmID).text(allowance);
            $('#tr-rm-' + rmID).attr('title', 'Please save RM for changes to take effect!').tooltip('fixTitle').tooltip('show');
            $('#modal-substitute-rm').modal('hide');

            $('#btn-save-rm-row-' + rmID).click();
			//toastr['info']('Dont forget to hit the save button for this Raw Material for the changes to take effect.');

		} //btnRMSelectedClick

		function getValidateFGGURL() {
			return '@Response.ApplyAppPathModifier("/manufacturingorder/ValidateFGG?itemcode=")' + $('#form-fgg #ItemCode').val() + '&id=' + $('#form-edit-mo #ID').val();
		}

		function populateFGG(data) {
            $('#form-fgg #ID').val('0');
            //$('#form-fgg #SONo').val(data.SONo);
            //$('#form-fgg #BatchPrcnt').val(data.BatchPrcnt);
            //$('#form-fgg #BatchQty').val(data.BatchQty);
            //$('#form-fgg #DeliveryDate').val(data.BatchQty);
            //$('#form-fgg #OutsTag').val(data.BatchQty);
            $('#form-fgg #ItemRouteID').val(data.ID);
            $('#form-fgg #ItemCode').val(data.ItemCode);
            $('#form-fgg #MOHeaderID').val($('#form-edit-mo #ID').val());
            $('#form-fgg #ItemName').val(data.ItemName);
		}

        $(function() {

			var tableRoute = new SearchTable('@ShopFloor.Constants.CONST_SEARCHTABLE_ITEMROUTES', '.table-search', '.txt-table-search', '.btn-table-search', btnFGSelectedClick, undefined, undefined);
			tableRoute.AjaxURL = '@Response.ApplyAppPathModifier("/search/search?table=" + ShopFloor.Constants.CONST_SEARCHTABLE_ITEMROUTES)';
			tableRoute.addDataTableColumn('ItemCode', true, true);
			tableRoute.addDataTableColumn('ItemName', true, true);
			tableRoute.showActionButtons = false;
			tableRoute.showSelectButton = true;
			tableRoute.PageLength = 10;
			tableRoute.initialize();

			tblSO = new SearchTable('', '#table-search-so', '#txt-table-search-so', '#btn-table-search-so', btnSOSelectedClick, undefined, undefined);
			tblSO.addDataTableColumn('DocNum', true, true);
			tblSO.addDataTableColumn('DocDueDate', true, false);
			tblSO.addDataTableColumn('OrderEx.OpenQty', true, false);
			tblSO.addDataTableColumn('OrderEx.ItemCode', true, true, false);
			tblSO.IDField = 'DocNum';
			tblSO.PageLength = 10;
			tblSO.showActionButtons = false;
			tblSO.showSelectButton = true;
			tblSO.AjaxURL = '@Response.ApplyAppPathModifier("/manufacturingorder/GetSAPSONumbers")';
			tblSO.dom = 'lfrtp';
			tblSO.initialize();

            @*var tblRM = new SearchTable('@ShopFloor.Constants.CONST_SEARCHTABLE_RAWMATERIALS', '#table-search-rm', '#txt-table-search-rm', '#btn-table-search-rm', btnRMSelectedClick, undefined, undefined);
            tblRM.AjaxURL = '@Response.ApplyAppPathModifier("/search/search?table=" + ShopFloor.Constants.CONST_SEARCHTABLE_RAWMATERIALS)';
            tblRM.addDataTableColumn('ItemCode', true, true);
            tblRM.addDataTableColumn('ItemName', true, false);
            tblRM.IDField = 'ItemCode';
            tblRM.PageLength = 10;
            tblRM.showActionButtons = false;
            tblRM.showSelectButton = true;
            tblRM.initialize();*@

            $('.btn-close-search-fg').click(function() {
                showAddFinishedGood();
            });

            $('.btn-close-search-so').click(function() {
                $('#modal-search-so').modal('hide');
            });

            $('.btn-close-search-rm').click(function() {
                $('#modal-substitute-rm').modal('hide');
            });


            $('.btn-add-fg').click(function() {
                $('#form-fgg #ID').val('0');
                //$('#form-fgg #RouteID').val('');
                $('#form-fgg #MOHeaderID').val('');
                $('#form-fgg #SONo').val('');
                $('#form-fgg #BatchPrcnt').val('');
                $('#form-fgg #BatchQty').val('');
                $('#form-fgg #DeliveryDate').val('');
                $('#form-fgg #OutsTag').val('');
                $('#form-fgg #ItemCode').val('');
                showAddFinishedGood();
            });


            $('.btn-search-fg').click(function() {
                $('#modal-add-fg').modal('hide')
                $('#modal-search-fg').modal('show');
            });


            $('#btn-create-fg').click(function() {

                var frm = $('#form-fgg');
                if (frm.valid()) {
                    // post create fg form data
                	var data = frm.serialize();

                    $.get(getValidateFGGURL(), function(response) {
                        if (response === true) {
                            $.post('@Response.ApplyAppPathModifier("/manufacturingorder/createfinishedgood")', data, function(response) {
                            	$('#modal-add-fg').modal('hide');
                            	addFinishedGoodPopupIsUp = false;
                            	if (response) {
                                    $('#div-mo-content').html(response);
                                    $('.collapsible').collapse('show');

                                    $('.txt-edit-deliverydate').datetimepicker({
                                        timepicker: false,
                                        format: 'MM/DD/YYYY',
                                        formatDate: 'MM/D/YYYY'
                                    });

                                    $('[data-toggle="tooltip"]').tooltip();

                                    toastr['success']('Finished Good successfully created');
                                }
                                else{
                                	alert('Ensure that you entered the correct values. For ex, Outs and Cost should be integer/whole numbers only.');
                                }
                            }, 'html')
                                .fail(function() {
                                    toastr['error']('There was an error while saving finished good. Please contact system administrator');
                                });
                        } else {
                            alert(response);
                            toastr['error'](response);
                        }

                    });
                }
            });


            $('#DeliveryDate, .txt-edit-deliverydate').datetimepicker({
                timepicker: false,
                format: 'MM/DD/YYYY',
                formatDate: 'MM/DD/YYYY'
            });

            $('#form-fgg #ItemCode').blur(function() {

                $itemCode = $(this).val();
                if ($itemCode == '') return;

                $.get(getValidateFGGURL(), function(response) {
                    if (response === true) {

                        // Populate FGG fields
                        $.get('@Response.ApplyAppPathModifier("/routes/GetItemRouteByItemCode?itemCode=")' + $itemCode, function(data) {

                            populateFGG(data);
                            toastr['info']($itemCode + ' is valid.');

                        }).fail(function() {
                            toastr['error']('There was an error while getting item route details. Please contact system administrator');
                        });

                    } else {
                        toastr['warning'](response);
                    }
                });


            });

            $('.menu-collapse-all').click(function(e) {
                //alert('collapse!');
                e.preventDefault();
                $('.collapsible').collapse('hide');
            });

            $('.menu-expand-all').click(function(e) {
                e.preventDefault();
                $('.collapsible').collapse('show');
            });

            $('.collapsible').collapse('show');

            $('[data-toggle="tooltip"]').tooltip();

            $('#btn-process-schedule').click(function(e) {
                var btn = $(this);
                if (confirm('are you sure you want to process schedule for this MO?')) {
                    var id = @Model.ID;
                    $.post('@Response.ApplyAppPathModifier("/manufacturingorder/ProcessSchedule/")' + id, function(response) {
                        if (response == true) {
                        	location.href = location.href;
                        }
                    }, 'json');

                }
            });


            $('#MOTypeID').change(function (s) {

            	var showSOBtn = IsManufacturingOrderType();
                $('.btn-search-so').toggle(showSOBtn);
            });

        }); // document ready

		function IsManufacturingOrderType(){
			var isMO = $("select option:selected" ).val() == motypeid_mo;
			return isMO;
		}

        function showAddFinishedGood() {
            $('#modal-search-fg').modal('hide');
            $('#modal-add-fg').modal('show');
        }

        $('#div-mo-content').on('click', 'a.a-collapse', function(e) {
            e.preventDefault();
            var $collapse = $('#row-collapse-' + $(this).data('id'));
            $collapse.collapse('toggle');
            return false;
        });

        $('#div-mo-content').on('click', '.btn-delete-fgg-row', function(e) {
            var $fggId = $(this).data('id');
            if (confirm('Are you sure you want to remove this Finished Good and all its child records?')) {
                $.get('@Response.ApplyAppPathModifier("/manufacturingorder/DeleteFGG/")' + $fggId, function(response) {
                    if (response) {
                        $('#div-mo-content').html(response);
                        $('.collapsible').collapse('show');
                        toastr['success']('Finished Good and child records are now deleted.');
                    }
                }, 'html')
               .fail(function() {
                   toastr['error']('Unable to delete record. Possible reason: a schedule or work in process initiated for this FGG.');
               });
            }
        });

        $('#div-mo-content').on('click', '.btn-edit-fgg-row', function(e) {
            var id = $(this).data('id');

            $.get('/manufacturingorder/getfgg/' + id, function(data) {
                if (data) {
                    $('#form-fgg #ID').val(id);
                    //$('#form-fgg #RouteID').val(data.RouteID);
                    $('#form-fgg #MOHeaderID').val(data.MOHeaderID);
                    $('#form-fgg #SONo').val(data.SONo);
                    $('#form-fgg #BatchPrcnt').val(data.BatchPrcnt);
                    $('#form-fgg #BatchQty').val(data.BatchQty);
                    $('#form-fgg #DeliveryDate').val($fggId);
                    $('#form-fgg #OutsTag').val(data.DeliveryDate);
                    $('#form-fgg #ItemCode').val(data.ItemCode);
                    showAddFinishedGood();
                }
            });
        });


        $('.collapsible').on('shown.bs.collapse', function() {
            var $collapse = $('#a-collapse-' + $(this).data('id') + ' span');
            $collapse.toggleClass('glyphicon-chevron-right glyphicon-chevron-down');
        });

        $('.collapsible').on('hidden.bs.collapse', function() {
            var $collapse = $('#a-collapse-' + $(this).data('id') + ' span');
            $collapse.toggleClass('glyphicon-chevron-down glyphicon-chevron-right');
        });

        $('#div-mo-content').on('blur', '.txt-edit-esttime', function(e) {
            $hours = parseFloat($(this).val());
            $id = $(this).data('id');
            if ($hours == $oldVal || isNaN(parseFloat($hours))) {
                e.preventDefault();
                return false;
            } else {

            }

            return true;
        });

        $('#div-mo-content').on('click', '.btn-save-rsc-row', function(e) {

            $id = $(this).data('id');
            $hours = parseFloat($('#txt-edit-esttime-' + $id).val());
            $setup = parseFloat($('#txt-edit-SetupTime-' + $id).val());
            $stock = parseFloat($('#txt-edit-StockTime-' + $id).val());

            var data = {
                ID: $id,
                EstTime: $hours,
                SetupTime: $setup,
                StockTime: $stock
            };

            $.post('@Response.ApplyAppPathModifier("/manufacturingorder/UpdateEstTime/")', data,  function(response) {
                if (response) {
                    $('#div-mo-content').html(response);
                    $('.collapsible').collapse('show');
                    toastr['success']('Time successfully updated.');
                }
            }, 'html')
                .fail(function(response) {
                    toastr['error'](response);
                });

        });


        $('#div-mo-content').on('click', '.btn-save-fgg-row', function(e) {

            let that = $(this);

            let id = $(this).data('id');

            // get delivery date, outs, and SAP No value
            let deldate = $('#txt-edit-deliverydate-' + id).val();
            let outs = $('#txt-edit-outstag-' + id).val();

            let txtSONo = $('#txt-edit-SONo-' + id);
            let SONo = txtSONo.val();

        	// SO number is required if MOType == 'MO'
            if(IsManufacturingOrderType() && !SONo){
            	txtSONo.addClass('border-red');
            	toastr['warning']('SO Number is required.');
            	return;
            }
            else{
            	txtSONo.removeClass('border-red');
			}

            let fggData = {
                ID: id,
                DeliveryDate: deldate,
                OutsTag: outs,
                SONo: SONo,
            };


            $.post('@Response.ApplyAppPathModifier("/manufacturingorder/UpdateFGG/")' + id, fggData, function(response) {
                if (response) {
                    toastr['success']('FGG successfully updated.');
                }
            }, 'json')
                .fail(function(response) {
                    toastr['error'](response);
                });

        });

        $('#div-mo-content').on('click', '.btn-save-rm-row', function(e) {

            var itmID = $(this).data('id');

            var qtyPerPiece = $('#txt-edit-QtyPerPiece-' + itmID).text();
            var qtyMO = $('#txt-edit-MOQty-' + itmID).val();
            var itemCode = $('#txt-edit-rm-itemcode-' + itmID).text();
            var itemName = $('#txt-edit-rm-itemname-' + itmID).val();
            var uomFactor = $('#txt-edit-UOMFactor-' + itmID).text();
            var allowance = $('#txt-edit-Allowance-' + itmID).text();
            var rmFactor = $('#txt-edit-RMFactor-' + itmID).text();

            var jsondata = {
                ID: itmID,
                IssuedQty2: qtyPerPiece,
                UOMFactor: uomFactor,
                Allowance: allowance,
                RMFactor: rmFactor,
                MOQty: qtyMO,
                RMItemCode: itemCode,
                RMItemName: itemName,
            };


            $.post('@Response.ApplyAppPathModifier("/manufacturingorder/UpdateITM/")' + itmID, jsondata, function(data) {
                $('#tr-rm-' + itmID).attr('title', itemName).tooltip('fixTitle').tooltip('show')
                $('#tr-rm-' + itmID + ' #td-MOQty').text(data.MOQty);
                toastr['success']('ITM successfully updated.');

            }, 'json')
                .fail(function(response) {
                    toastr['error'](response);
                });

        })


        //$('#div-mo-content').on('click', '.btn-change-rm-row', function(e) {

        //    rmID = $(this).data('id');

        //    $('#modal-substitute-rm').modal('show');
        //    return;

		//})


		$('#form-fgg').on('click', '.btn-search-so2', function(e){

			let txtItemCode = $('#form-fgg #ItemCode');
			if(txtItemCode.val())
			{
				txtItemCode.removeClass('border-red');
				showSONumberPopup(txtItemCode.val());
			}
			else
			{
				txtItemCode.addClass('border-red');
				toastr['warning']('Enter an Item Code first and then try again.');
			}
		});

		$('#div-mo-content').on('click', '.btn-search-so', function(e) {
			// Don't remove the line below. The Value is used some time after SO Number popup is closed.
			fggID = $(this).data('id'); 

            let itemcode = $(this).data('code');
            showSONumberPopup(itemcode);
		});

		function showSONumberPopup(itemcode){
			var args = [];
			args.push({
				"colindex": 3,
				"value": itemcode,
			});

			tblSO.table.ajax.url('@Response.ApplyAppPathModifier("/manufacturingorder/GetSAPSONumbers?itemCode=")' + itemcode).load();
			tblSO.table.ajax.reload();

			$('#modal-search-so').modal('show');
			
			//console.log('filter by itemcode:' + itemcode)
			//tblSO.filter(args);
		}

        function ReloadMOContent(id) {
            $.get('@Response.ApplyAppPathModifier("/manufacturingorder/mocontent/")' + @Model.ID, function(html) {
                if (html) {
                    $('#div-mo-content').html(html);
                    $('.collapsible').collapse('show');
                }
            }, 'html')
                .fail(function(response) {
                    toastr['error'](response);
                });
        }

        $('#div-mo-content').on('change', '.need-to-click-save', function() {
            toastr['info']('Dont forget to click save to persist the changes.');
        });

    </script>
    <style>
        .tab-pane {
            padding-left: 0px;
            padding-right: 0px;
        }

        .inline-edit-sm {
            width: 85px;
            text-align: center;
        }
    </style>

    <script id="moclosing">
        $(function(){

            $('#btn-SaveTransmittal').click(function(){

                $('input[id^="txt-edit-actual-qty-"]').each(function(index, item){
                    var txt = $(item);
                    var id = txt.data('id');
                    var transmId = txt.data('transmid');

                    //SaveTransmittal(int fggID, int transmQty, int transmID)
                    var data = { "fggID" : id, "transmQty" : txt.val(), "transmID" : transmId };
                    $.post('@Response.ApplyAppPathModifier("/manufacturingorder/SaveTransmittal/")', data, function(response){

                        $('#td-transmittal-' + id).html(response.ID);

                        toastr['success']('transmittal for fgg ' + id + ' saved');
                    });
                })

            });

            $('#btn-CloseMO').click(function(){

                // show warning if one MODetailRSC.ClosedTag = 1
                $.get('@Response.ApplyAppPathModifier("/manufacturingorder/getnoofclosedrsc/" + Model.ID)', function(n){
                	if(n > 0 && !confirm('THERE ARE UNCLOSED RESOURCES IN THIS MO. CONTINUE?')){
                        return false;
                    }

                    $.post('@Response.ApplyAppPathModifier("/manufacturingorder/closemo/" + Model.ID)', function(response){

                        toastr['success']('Record saved.');
                        alert('MO is now closed and archived.');
                        location.href = '@Url.Action("Index")';
                    });
                })
                .fail(function(data){

                });

            });

            $('#btn-PrintTransmittal').click(function(){
                alert('Not yet implemented.');
            });

            $('#btn-PrintFGSticker').click(function(){
                alert('Not yet implemented.');
            });




        });
    </script>

	<script id="angular">

		var app = angular.module('appEditMO', []);

		app.controller('MOContentController', function($http, $scope){

			me = this;

			this.currentRMCode = '';
			this.listSubstituteRMs = [];
			this.subResourceID = 0;
			this.selectedSubs = undefined;
			this.MODetailITMID = 0;

			this.openReplaceWindow = function(itmID, itemCode){

				me.MODetailITMID = itmID;
				me.currentRMCode = $('#txt-edit-rm-itemcode-' + itmID).text();

				// get current RMCode
				$http({ 'method': 'GET', 'url': '@Response.ApplyAppPathModifier("/manufacturingorder/GetSubstituteRM?moDetailITMID=")' + itmID })
				.success(function (data) {
					me.listSubstituteRMs = data;
					$('#modal-substitute-rm').modal('show');
				})

				// get list of available substitute
				$http({ 'method': 'GET', 'url': '@Response.ApplyAppPathModifier("/manufacturingorder/GetSubstituteRM?moDetailITMID=")' + itmID })
				.success(function (data) {
					me.listSubstituteRMs = data;
					$('#modal-substitute-rm').modal('show');
				})
				.error(function(response){
					toastr['error'](response);
				});
			}

			this.UpdateSubResource = function(id){
				//alert('UpdateSubResource: ' + JSON.stringify(id));
			}

			this.SaveSubtituteRM = function(obj){
				me.selectedSubs = obj;
				$('#modal-substitute-rm').modal('hide');
				btnRMSelectedClick(obj.RMCodeSubs, obj.RMCodeSubsName, me.MODetailITMID, obj.RMQuantity, obj.UOMFactor, obj.RMFactor, obj.Allowance);
			}

		});

	</script>
}