﻿@model ViewMOHeaderModel
@{
    ViewBag.Title = "MO";
    ViewBag.ActiveMenu = "SearchMO";
    Layout = "~/Views/Shared/_LayoutTasks.cshtml";
}

<h2>Search MOs</h2>

<div class="row">
    <div class="col-md-7 col-sm-12 col-xs-12">
        <div class="input-group">
            <input type="text" class="form-control txt-table-search" placeholder="enter MO or item details" name="SearchString" autofocus>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary btn-search btn-table-search"><span class="glyphicon glyphicon-search"></span></button>
                <a href="@Url.Action("MOByResource", "ManufacturingOrder")" class="btn btn-default">OR Search By Resource</a>
            </span>
        </div>
    </div>
    <div class="col-md-5 col-sm-12 col-xs-12">
        
        <a href="@Url.Action("Create")" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create New</a>
        
    </div>
</div>

<div class="scollable-table-container">
    <table class="table table-striped table-search" id="table-search-route">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MONumber)
                </th>
                <th class="">
                    @Html.DisplayNameFor(model => model.MOType)
                </th>
                <th class="">
                    @Html.DisplayNameFor(model => model.MOPriority)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>

    </table>
</div>


@section Scripts{

    <style>
        .scrollable-table-container table {
            min-width:555px;
        }
    </style>

    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/shopfloor.datatable.js"></script>
    <script>

        btnDeleteRow_Click = function (id) {
            $.get('@Response.ApplyAppPathModifier("/ManufacturingOrder/Delete/")' + id, function () {
                t1.reload();
                toastr['success']('Record deleted.');
            })
            .fail(function () {
                alert('unable to delete record. a Work in Process has been initialized for this MO.');
            });
        }

        btnEditRow_Click = function (id) {
            location.href = '@Response.ApplyAppPathModifier("/ManufacturingOrder/Edit/")' + id
        }

        var t1 = new SearchTable('mo', '.table-search', '.txt-table-search', '.btn-table-search', undefined, btnEditRow_Click, btnDeleteRow_Click);
        t1.AjaxURL = '@Response.ApplyAppPathModifier("/search/search?table=mo")';
        t1.addDataTableColumn('MONumber', true, true);
        t1.addDataTableColumn('MOType.MOTypeName', true, true);
        t1.addDataTableColumn('MOPriority', true, true);
        t1.addDataTableColumnCustom(function (data) { var url = '@Response.ApplyAppPathModifier("/datacapture/index/")' + data.ID; return "<a href=" + url + " class='btn btn-info btn-xs'><i class='glyphicon glyphicon-flag'></i> Work in Process</a>"; }, false, false, true);
        t1.showActionButtons = true;
        t1.showSelectButton = false;
        t1.initialize();

        $(function () {
            $('#btn-add-fg').click(function () {
                $('#modal-add-fg').modal('show');
            });
        });


    </script>
}
