﻿@{
    ViewBag.Title = "MO By Resource";
    ViewBag.ActiveMenu = "MOByResource";
    Layout = "~/Views/Shared/_LayoutTasks.cshtml";
}

<h2>Resources Schedule</h2>
<h3>Search MO By Resource</h3>

<div class="row">
    <div class="col-xs-9 col-sm-9 col-md-6 col-lg-6">
        @Html.DropDownList("ResourceID", (IEnumerable<SelectListItem>) ViewBag.Resources, "", new { @class = "form-control" })
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <a href="@Url.Action("Index", "ManufacturingOrder")" class="btn btn-default"><i class="fa fa-search"></i> Back to Normal Search</a>
    </div>

</div>
<hr />
<div class="row">
    <div class="col-lg-12">
    <div class="panel panel-primary">
        <div class="panel-heading bolder">Search Results</div>
        <div class="panel-body">
            <table class="table table-condensed table-search">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Resource ID</th>
                        <th>Priority</th>
                        <th>MO Number</th>
                        <th>FG Code</th>
                        <th>FG Name</th>
                        <th>Start Date</th>
                        <th>Start Time</th>
                        <th>Est. Run Time</th>
                        <th>End Date</th>
                        <th>End Time</th>
                        <th>Delivery Date</th>
                        <th>Scheduled</th>
                        <th>Status</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    </div>
</div>


@section Scripts{
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet"/>
    <link href="~/Content/css/select2.css" rel="stylesheet"/>
    <link href="~/Content/select2-bootstrap.css" rel="stylesheet"/>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/shopfloor.datatable.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script>
        $(function() {

            var table = new SearchTable('',
                '.table-search',
                '',
                '#btn-table-search',
                undefined,
                btnEditRow_Click,
                btnDeleteRow_Click);
            table.addDataTableColumn('ID', false, false, false);
            table.addDataTableColumn('ResourceID', false, true, false);
            table.addDataTableColumn('MOPriority', true, false);
            table.addDataTableColumn('MONumber', false, false);
            table.addDataTableColumn('FGCode', false, false);
            table.addDataTableColumn('FGName', true, true);
            table.addDataTableColumn('DisplayStartDate', false, false);
            table.addDataTableColumn('DisplayStartTime', false, false);
            table.addDataTableColumn('DisplayEstRunTime', false, false);
            table.addDataTableColumn('DisplayEndDate', false, false);
            table.addDataTableColumn('DisplayEndTime', false, false);
            table.addDataTableColumn('DisplayDeliveryDate', false, false);
            table.addDataTableColumn('IsScheduled', false, false);
            table.addDataTableColumn('Status', false, false);
            table.showActionButtons = false;
            table.showSelectButton = false;
            table.ServerSide = false;
            table.AjaxURL = '@Response.ApplyAppPathModifier("/manufacturingorder/GetMOByResource/")';
            table.ZeroRecords = "No records found for selected Resource.";
            table.initialize();

            $('#ResourceID')
                .change(function() {
                    var selectedItem = $("#ResourceID option:selected");
                    var value = selectedItem.val();
                    if (!value)
                        value = 'CBA2DD3A-4C11-426B-83C2-14AA5AC938C7'; // unique value. just to empty search result.


                    // build search arguments
                    var args = [];
                    args.push({
                        "colindex": 1, // ResourceID
                        "value": value
                    });
                    table.filter(args);


                });

            //$('#ResourceID').change();
            $('#ResourceID')
                .select2({
                    placeholder: "choose a resource to filter"
                })
                .val("")
                .trigger("change");
        });

        var btnDeleteRow_Click = function(id) {
            alert('delete');
            //$.get('/bom/delete/' + id, function () {
            //}, 'json')
            //.fail(function (data) {
            //    toastr['error']('Error when trying to delete route id=' + id + '');
            //});
        }

        var btnEditRow_Click = function(id) {
            location.href = '@Response.ApplyAppPathModifier("/manufacturingorder/edit/")' + id
        }
    </script>
}