﻿*{
    font-family: 'Open Sans', sans-serif;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans', sans-serif;
    /*letter-spacing: -.04em;*/
}

.panel{
    /*background-color: #f7f7f7;*/
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

input.no-max-width {
    max-width:100%;
}

.validation-summary-errors {
    color:red;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}


.content-background {
    background: url(/Content/content_transparent.png) repeat 0 0;
}

 .navbar.transparent.navbar-inverse, .transparent {
   background: #2c3e50;
}

.navbar-inverse .navbar-nav>li>a {
    font-size: 15px;
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #1a242f;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.standard-content {
    min-height:300px;
}

/*this hides bootstrap search and length controls */
.dataTables_filter, .dataTables_length {
    display: none;
}



/*remove scrollbar when popup appears
http://stackoverflow.com/questions/18549790/bootstrap-modal-has-a-flaw
*/
body.modal-open, 
.modal-open .navbar-fixed-top, 
.modal-open .navbar-fixed-bottom 
{
    margin-right: 0px;
}

.modal
{
    overflow-y: auto;
}

/*Custom Validation Message bug
http://stackoverflow.com/questions/4370131/asp-net-mvc-3-rc-razor-validationmessagefor-custommessage-and-clientsidevalida
*/
.field-validation-valid
{
    display: none;
}
.validation-summary-valid
{
    display: none;
}


/*bootstrap 3.0.0 support for modal sizes*/
@media screen and (min-width: 768px) {
  .modal-lg{
      width:900px;
  }

  .modal-sm{
      width:300px;
  }
}


/*http://stackoverflow.com/a/1964871/578334*/
/* Start by setting display:none to make this hidden. */
.ajax-loading{
    position:absolute;
    top:70px;
    left:0px;
    display:none;
    text-align:center;
    width:100%;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
.loading {
    display: inline-block;
}


div.dataTables_processing{
    border:1px thin #f7f7f7 !important;
}


/*ajax loading*/
/*-------------------------------------------------------------*/


.scrollable-table-container {
    overflow-x:auto;
    /*width:99%;*/
    margin-bottom:10px;
    /*padding-right:15px;*/
}


.top-buffer-15 {
    margin-top: 15px;
}

.top-buffer-25 {
    margin-top: 25px;
}


/*bootstrap tr-info*/
.table>tbody>tr.info>td, .table>tbody>tr.info>th, .table>tbody>tr>td.info, .table>tbody>tr>th.info, .table>tfoot>tr.info>td, .table>tfoot>tr.info>th, .table>tfoot>tr>td.info, .table>tfoot>tr>th.info, .table>thead>tr.info>td, .table>thead>tr.info>th, .table>thead>tr>td.info, .table>thead>tr>th.info {
    background-color: #d9edf7;
}

.border-red{
	border-color:red;
}