﻿@model EditBOMDetailSub

<div class="row">
    <div class="col-lg-11 col-md-12">
        <form name="form-bom-sub" id="form-bom-sub" action="" method="post">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ID)
            @Html.HiddenFor(m => m.UserID)

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.BOMDetailID, htmlAttributes: new { @class = "control-label col-md-3 col-lg-3" })
                    <div class="col-md-9 col-lg-9">
                        @Html.DropDownListFor(m => m.BOMDetailID, (IEnumerable<SelectListItem>)ViewBag.RMCodePrimes, new { @class = "form-control", autofocus = "" })
                        @Html.ValidationMessageFor(model => model.BOMDetailID, "This field is required", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RMCodeSubs, htmlAttributes: new { @class = "control-label col-md-3 col-lg-3" })
                    <div class="col-md-9 col-lg-9">
                        <div class="input-group">
                            @Html.EditorFor(model => model.RMCodeSubs, new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-btn">
                                <button id="btn-search-rmcode" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.RMCodeSubs, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RMCodeSubsName, htmlAttributes: new { @class = "control-label col-md-3 col-lg-3" })
                    <div class="col-md-9 col-lg-9">
                        @Html.TextAreaFor(model => model.RMCodeSubsName, new { @class = "form-control", @readonly = "" })
                        @Html.ValidationMessageFor(model => model.RMCodeSubsName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ItmsGrpCode, htmlAttributes: new { @class = "control-label col-md-3 col-lg-3" })
                    <div class="col-md-9 col-lg-9">
                        @Html.EditorFor(model => model.ItmsGrpCode, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
                        @Html.ValidationMessageFor(model => model.ItmsGrpCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RMQuantity, htmlAttributes: new { @class = "control-label col-md-3 col-lg-3" })
                    <div class="col-md-9 col-lg-9">
                        @Html.TextBoxFor(model => model.RMQuantity, "{0:" + ShopFloor.Web.Constants.CONST_FORMAT_DECIMAL_12 + "}", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RMQuantity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RMFactor, htmlAttributes: new { @class = "control-label col-md-3 col-lg-3" })
                    <div class="col-md-9 col-lg-9">
                        @Html.TextBoxFor(model => model.RMFactor, "{0:" + ShopFloor.Web.Constants.CONST_FORMAT_DECIMAL_12 + "}", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RMFactor, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UOM, htmlAttributes: new { @class = "control-label col-md-3 col-lg-3" })
                    <div class="col-md-9 col-lg-9">
                        @Html.EditorFor(model => model.UOM, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UOMFactor, htmlAttributes: new { @class = "control-label col-md-3 col-lg-3" })
                    <div class="col-md-9 col-lg-9">
                        @Html.TextBoxFor(model => model.UOMFactor, "{0:" + ShopFloor.Web.Constants.CONST_FORMAT_DECIMAL_12 + "}", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UOMFactor, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Allowance, htmlAttributes: new { @class = "control-label col-md-3 col-lg-3" })
                    <div class="col-md-9 col-lg-9">
                        @Html.TextBoxFor(model => model.Allowance, "{0:" + ShopFloor.Web.Constants.CONST_FORMAT_DECIMAL_12 + "}", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Allowance, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UnitCost, htmlAttributes: new { @class = "control-label col-md-3 col-lg-3" })
                    <div class="col-md-9 col-lg-9">
                        @Html.TextBoxFor(model => model.UnitCost, "{0:" + ShopFloor.Web.Constants.CONST_FORMAT_DECIMAL_12 + "}", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UnitCost, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group group-create">
                    <div class="col-md-push-3 col-lg-push-3 col-md-9 col-lg-9">
                        <a class="btn btn-success btn-create-sub"><i class="fa fa-plus"></i> Create</a>
                        <a class="btn btn-default btn-cancel-sub">Cancel</a>
                    </div>
                </div>

                <div class="form-group group-save">
                    <div class="col-md-push-3 col-lg-push-3 col-md-9 col-lg-9">
                        <a class="btn btn-primary btn-save-sub"><i class="fa fa-floppy-o"></i> Save</a>
                        <a class="btn btn-default btn-cancel-sub">Cancel</a>
                    </div>
                </div>
            </div>
        </form>


    </div>

</div>



@*modal dialog*@

<div id="modal-search-subs" class="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="h4-edit-bom-title" class="modal-title">Choose BOM Substitute</h4>
            </div>
            <div class="modal-body">
                <div id="div-search-subs">
                    <p>
                        <div class="input-group">
                            <input type="search" id="txt-table-search-subs" class="form-control" placeholder="search" aria-controls="SubsTable" />
                            <span class="input-group-btn">
                                <button type="button" id="btn-table-search-subs" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</button>
                            </span>
                        </div>
                    </p>
                    <table class="table table-condensed table-search-subs">
                        <thead>
                            <tr>
                                <th>ItemCode</th>
                                <th>ItemName</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

