﻿@model EditBOMDetailSub

@Html.Partial("_EditModel", Model)

@{ 
    ViewBag.Title = "Create Sub";
 }

@section Scripts{

    <style>
        .group-save{
            display:none;
        }
    </style>

    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/shopfloor.datatable.js"></script>

    <script>


        var table = {};

        selectFG = function (id) {

            $('#RMCodeSubs').val(id);
            $('#RMCodeSubs').focus();

            var jqxhr = $.get('@Response.ApplyAppPathModifier("/bom/getrawmaterial/?itemCode=")' + id, {}, function (item) {
                $('#RMCodeSubsName').val(item.ItemName);
                $('#UOM').val(item.InvntryUom);
                $('#ItmsGrpCode').val(item.ItmsGrpCod);
                $('#UnitCost').val(item.SAPUnitCost);
               $('#modal-search-subs').modal('hide');

                
            }, 'json');
        }


        $(function () {


            table = new SearchTable('@ShopFloor.Constants.CONST_SEARCHTABLE_ITEM', '.table-search-subs', '#txt-table-search-subs', '#btn-table-search-subs', selectFG, undefined, undefined);
            table.AjaxURL = '@Response.ApplyAppPathModifier(ShopFloor.Constants.CONST_SEARCHTABLE_URL)' + '@ShopFloor.Constants.CONST_SEARCHTABLE_ITEM';
            table.addDataTableColumn('ItemCode', true, true, true);
            table.addDataTableColumn('ItemName', true, true, true);
            table.PageLength = 10;
            table.IDField = "ItemCode";
            table.ShowDeleteButton = false;
            table.showButtonText = false;
            table.showActionButtons = false;
            table.showSelectButton = true;
            table.initialize();

            $('#btn-search-rmcode').click(function () {
                $('#modal-search-subs').modal('show');
            });


            $('.btn-create-sub').click(function () {
                var frm = $('#form-bom-sub');
                frm.validate();
                if (frm.valid()) {

                    var data = frm.serialize();

                    $.post('@Response.ApplyAppPathModifier("/bomdetailsubs/create")', data, function (response) {
                        if (response) {
                            toastr['success']('record successfully created.');
                            location.href = '@Response.ApplyAppPathModifier("/bomdetailsubs/edit/")' + response.ID;
                        }
                        else {
                            console.log('Unable to create record.');
                        }
                    });
                }
            })
        })

    </script>

}