﻿@model EditBOMDetailSub

@Html.Partial("_EditModel", Model)

@{
    ViewBag.Title = "Edit Sub";
}

@section Scripts{

    <style>
        .group-create {
            display: none;
        }
    </style>

    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/shopfloor.datatable.js"></script>

    <script>


        var table = {};



        selectFG = function (id) {

            $('#RMCodeSubs').val(id);
            $('#RMCodeSubs').focus();

            var jqxhr = $.get('@Response.ApplyAppPathModifier("/bom/getrawmaterial/?itemCode=")' + id, {}, function (item) {
                $('#RMCodeSubsName').val(item.ItemName);
                $('#UOM').val(item.InvntryUom);
                $('#ItmsGrpCode').val(item.ItmsGrpCod);
                $('#UnitCost').val(item.SAPUnitCost);
                $('#modal-search-subs').modal('hide');


            }, 'json');
        }

        btnSaveClick = function () {
            var frm = $('#form-bom-sub');
            frm.validate();
            if (frm.valid()) {

                var data = frm.serialize();

                $.post('@Response.ApplyAppPathModifier("/bomdetailsubs/edit")', data, function (response) {
                    if (response) {
                        toastr['success']('record successfully saved.');
                        location.href = '@Response.ApplyAppPathModifier("/bomdetailsubs/")';
                    }
                    else {
                        console.log('Unable to save record.');
                    }
                });
            }
            else
            {
                console.log('form is not valid');
            }
        }

        btnCancelClick = function () {
            location.href = '@Response.ApplyAppPathModifier("/bomdetailsubs/")';
        }


        $(function () {


            var table = new SearchTable('@ShopFloor.Constants.CONST_SEARCHTABLE_ITEM', '.table-search', '#txt-table-search-fg', '#btn-table-search-fg', selectFG, undefined, undefined);
            table.AjaxURL = '@Response.ApplyAppPathModifier(ShopFloor.Constants.CONST_SEARCHTABLE_URL)' + '@ShopFloor.Constants.CONST_SEARCHTABLE_ITEM';
            table.addDataTableColumn('ItemCode', true, true, true);
            table.addDataTableColumn('ItemName', true, true, true);
            table.PageLength = 10;
            table.IDField = "ItemCode";
            table.ShowDeleteButton = false;
            table.showButtonText = false;
            table.showActionButtons = false;
            table.showSelectButton = true;
            table.initialize();

            $('#btn-search-rmcode').click(function () {
                $('#modal-search-subs').modal('show');
            });


            $('.btn-save-sub').click(btnSaveClick);
            $('.btn-cancel-sub').click(btnCancelClick);

        }) // $(function())

    </script>

}