﻿@model IEnumerable<ShopFloor.Entities.BOMDetailSub>


@{
	ViewBag.Title = "Index";
}

<h2>List of BOMDetailSub</h2>

<div class="row">
	<div class="col-md-7 col-sm-7 col-xs-7">
		@using(Html.BeginForm("Form1")){
		<div class="input-group">
			<input type="text" class="form-control" placeholder="search" name="SearchString">
			<span class="input-group-btn">
				<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
			</span>
		</div>
		}
	</div>
	<div class="col-md-5 col-sm-5 col-xs-5">
		<a href="@Url.Action("Create")" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create New</a>
	</div>
</div>
<table class="table table-striped table-hover table-search">
	<thead>
	<tr>
		<th>
			@Html.DisplayNameFor(m=>m.RMCodePrime)
		</th>
		<th>
			@Html.DisplayNameFor(m=>m.RMCodeSubs)
		</th>
		<th>
			@Html.DisplayNameFor(m=>m.RMCodeSubsName)
		</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	</tbody>

</table>


@section Scripts{
	<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
	<script src="~/Scripts/jquery.dataTables.min.js"></script>
	<script src="~/Scripts/dataTables.bootstrap.js"></script>
	<script src="~/Scripts/shopfloor.datatable.js"></script>
	<script>

		var table = {};

		var editClick = function (id) {
			var url = '@Url.Action("Edit", new { id = "[recordid]" })';
			url = url.replace('[recordid]', id);
			location.replace(url);
		};

		var deleteClick = function (id) {
			alert('test');
			var url = '@Url.Action("Delete", new { id = "[recordid]" })';
			url = url.replace('[recordid]', id);
			$.get(url, function () {
				table.reload();
				toastr['success']('Record successfully deleted.');
			})
			.fail(function () {
				toastr['error']('Operation is in use. Unable to delete.');
			});
		};

		$(function () {

			table = new SearchTable('@ShopFloor.Constants.CONST_SEARCHTABLE_OPERATION', '.table-search', '#SearchString', '#btn-search-operation', undefined, editClick, deleteClick);
			table.AjaxURL = '@Url.Action("AjaxSearch", "BOMDetailSubs")';

			table.addDataTableColumn('RMCodePrime', true, true);
			table.addDataTableColumn('RMCodeSubs', true, true);
			table.addDataTableColumn('RMCodeSubsName', true, true);
			table.showActionButtons = true;
			table.showSelectButton = false;
			table.initialize();
		});



	</script>
}

