﻿@model ShopFloor.Entities.BillOfMaterialDetail

<div class="row">
    <div class="col-lg-11 col-md-12">
        <form name="form-bom-detail" id="form-bom-detail" action="" method="post">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ID)
            @Html.HiddenFor(m => m.BOMHeaderID)
            @Html.HiddenFor(m => m.UserID)

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.RMCode, htmlAttributes: new { @class = "control-label col-md-3 col-lg-3" })
                    <div class="col-md-9 col-lg-9">
                        <div class="input-group">
                            @Html.EditorFor(model => model.RMCode, new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-btn">
                                <button id="btn-search-rmcode" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.RMCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RMName, htmlAttributes: new { @class = "control-label col-md-3 col-lg-3" })
                    <div class="col-md-9 col-lg-9">
                        @Html.TextAreaFor(model => model.RMName, new { @class = "form-control", @readonly = "" } )
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ItmsGrpCod, htmlAttributes: new { @class = "control-label col-md-3 col-lg-3" })
                    <div class="col-md-9 col-lg-9">
                        @Html.EditorFor(model => model.ItmsGrpCod, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
                        @Html.ValidationMessageFor(model => model.ItmsGrpCod, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RMQuantity, htmlAttributes: new { @class = "control-label col-md-3 col-lg-3" })
                    <div class="col-md-9 col-lg-9">
                        @Html.TextBoxFor(model => model.RMQuantity, "{0:" + ShopFloor.Web.Constants.CONST_FORMAT_DECIMAL_12 + "}", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RMQuantity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RMFactor, htmlAttributes: new { @class = "control-label col-md-3 col-lg-3" })
                    <div class="col-md-9 col-lg-9">
                        @Html.TextBoxFor(model => model.RMFactor, "{0:" + ShopFloor.Web.Constants.CONST_FORMAT_DECIMAL_12 + "}", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RMFactor, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UOM, htmlAttributes: new { @class = "control-label col-md-3 col-lg-3" })
                    <div class="col-md-9 col-lg-9">
                        @Html.EditorFor(model => model.UOM, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UOMFactor, htmlAttributes: new { @class = "control-label col-md-3 col-lg-3" })
                    <div class="col-md-9 col-lg-9">
                        @Html.TextBoxFor(model => model.UOMFactor, "{0:" + ShopFloor.Web.Constants.CONST_FORMAT_DECIMAL_12 + "}", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UOMFactor, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Allowance, htmlAttributes: new { @class = "control-label col-md-3 col-lg-3" })
                    <div class="col-md-9 col-lg-9">
                        @Html.TextBoxFor(model => model.Allowance, "{0:" + ShopFloor.Web.Constants.CONST_FORMAT_DECIMAL_12 + "}", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Allowance, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SAPUnitCost, htmlAttributes: new { @class = "control-label col-md-3 col-lg-3" })
                    <div class="col-md-9 col-lg-9">
                        @Html.TextBoxFor(model => model.SAPUnitCost, "{0:" + ShopFloor.Web.Constants.CONST_FORMAT_DECIMAL_12 + "}", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SAPUnitCost, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </form>


    </div>

</div>
