﻿@model ShopFloor.Entities.QAInspMethod

@{
    ViewBag.Title = "Edit QAInspMethod";
    ViewBag.ActiveMenu = "QAInspMethod";
    Layout = "~/Views/Shared/_LayoutQA.cshtml";
}

<h2>QA InspMethod</h2>
<h4>Edit Record</h4>
<hr />

<div class="col-lg-8 col-md-9">
@using (Html.BeginForm("EditQAinspMethod")) 
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.CreatedBy)
    @Html.HiddenFor(m => m.CreatedOn)

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.QAInspMCode, "Code", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.QAInspMCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QAInspMCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QAInspMDesc, "Description", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.QAInspMDesc, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.QAInspMDesc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save</button>
            </div>
        </div>
    </div>
}

<p>
    @Html.ActionLink("Back to List", "Index") | @Html.ActionLink("Create New", "Create")
</p>

</div>
