﻿@model QAParam
@{
    ViewBag.Title = "Edit QA Params";
    ViewBag.ActiveMenu = "QAParams";
    Layout = "~/Views/Shared/_LayoutQA.cshtml";
}

<h2>QA Parameters Maintenance</h2>
<h4>Edit</h4>
<hr />

<div class="col-lg-8 col-md-9">
    @using (Html.BeginForm("EditQAParam"))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.CreatedBy)
        @Html.HiddenFor(m => m.CreatedOn)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.QAParaCode, "Code", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.QAParaCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.QAParaCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.QAParaDesc, "Description", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextAreaFor(model => model.QAParaDesc, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.QAParaDesc, "", new { @class = "text-danger" })
                </div>
            </div>

			<div class="form-group">
				@Html.LabelFor(model => model.QAParaValueNum, "Value 1", htmlAttributes: new { @class = "control-label col-md-3" })
				<div class="col-md-9">
					@Html.EditorFor(model => model.QAParaValueNum, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.QAParaValueNum, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.QAParaValueNum2, "Value 2", htmlAttributes: new { @class = "control-label col-md-3" })
				<div class="col-md-9">
					@Html.EditorFor(model => model.QAParaValueNum2, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.QAParaValueNum2, "", new { @class = "text-danger" })
				</div>
			</div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-primary"><span class="fa fa-floppy-o"></span>&nbsp;Save</button>
                </div>
            </div>
        </div>
    }

    <p>
        @Html.ActionLink("Back to List", "Index") | @Html.ActionLink("Create", "Create")
    </p>

</div>


