﻿@model ShopFloor.Entities.RunRateReason
@using System.Collections;

@{
    ViewBag.Title = "Create RunRate";
    ViewBag.ActiveMenu = "RunRate";
    Layout = "~/Views/Shared/_LayoutLookup.cshtml";
}

<h2>Run Rate Reason Maintenance</h2>
<h4>New Run Rate Reason</h4>
<hr />

<div class="row">
    <div class="col-lg-8 col-md-9">
        @using (Html.BeginForm("CreateRunRateReason"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label col-md-5" for="ActivityCode">Run Rate Reason Code</label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.ReasonCode, new { @class = "form-control", autofocus = "" })
                        @Html.ValidationMessageFor(m => m.ReasonCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-5" for="ActivityCode">Description</label>
                    <div class="col-md-7">
                        @Html.TextAreaFor(m => m.ReasonName, 3, 5, new { @class = "form-control" })
                        @Html.ValidationMessage("ReasonName", "Please enter a Description", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-5 col-md-7">
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create</button>
                    </div>
                </div>
            </div>
        }

        <p>
            @Html.ActionLink("Search Run Rate Reasons", "Index")
        </p>

    </div>
</div>

