﻿@{
    ViewBag.Title = "Search Run Rate Reasons";
    ViewBag.ActiveMenu = "RunRateReason";
    Layout = "~/Views/Shared/_LayoutLookup.cshtml";
}

<h2>Search Run Rate Reasons</h2>

<div class="row">
    <div class="col-md-7 col-sm-7 col-xs-7">
        @using (Html.BeginForm("Form1"))
        {
            <div class="input-group">
                <input type="text" class="form-control txt-table-search" placeholder="search" name="SearchString">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-table-search"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        }
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5">
        <a href="@Url.Action("Create")" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create New</a>
    </div>
</div>
<table class="table table-striped table-hover table-search">
    <thead>
        <tr>
            <th>
                Run Rate Code
            </th>
            <th>
                Run Rate Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>

</table>

<div class="row">
    <div style="margin-top:15px;">
        <a href='@Url.Action("Index", "RunRate")'><i class="fa fa-hourglass-2"></i> Run Rates</a>
    </div>
</div>


@section Scripts{
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/shopfloor.datatable.js"></script>
    <script>

        var tbl = {};

        $(function () {
            tbl = new SearchTable('@ShopFloor.Constants.CONST_SEARCHTABLE_RUNRATEREASON', '.table-search', '.txt-table-search', '.btn-table-search', undefined, btnEditRow_Click, btnDeleteRow_Click);
            tbl.AjaxURL = '@Response.ApplyAppPathModifier(ShopFloor.Constants.CONST_SEARCHTABLE_URL)' + '@ShopFloor.Constants.CONST_SEARCHTABLE_RUNRATEREASON';
            tbl.addDataTableColumn('ReasonCode', true, true);
            tbl.addDataTableColumn('ReasonName', true, true);
            tbl.initialize();
        });


        var btnDeleteRow_Click = function (id) {
            $.get('@Response.ApplyAppPathModifier("/runratereason/delete/")' + id, function () {
                toastr['success']('Run Rate Reason deleted.');
                tbl.reload();
            }, 'json')
            .fail(function (data) {
                toastr['error']('RunRate Reason is in use. Unable to delete.');
            });
        }

        var btnEditRow_Click = function (id) {
            location.href = '@Response.ApplyAppPathModifier("/runratereason/Edit/")' + id
        }

    </script>
}
