﻿
@{
    ViewBag.Title = "About";
}

<h2>About MICS</h2>

<p>
    @{ 
        var version = typeof(ShopFloor.Web.MvcApplication).Assembly.GetName().Version;
    }
    Web Build version @version
</p>

<p>
    @{ 
        var version2 = typeof(ShopFloor.Business.RegularMOCalculator).Assembly.GetName().Version;
    }
    Core Build version @version2
</p>