﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts{
    <style>
        .admin-box-item {
            /*width:350px;*/
            /*border: 1px solid black;*/
            padding: 5px 5px 5px 5px;
            margin: 7px;
            color: black;
        }
        .admin-box-item a {
            color: black;
        }

        .admin-box-item:hover {
            color: #fff;
            background-color: #1a242f;
        }

        .admin-box-item a:hover {
            color: white;
        }

    </style>
}

<h1>Tasks</h1>

<div class="text-center">
    <div class="row">

        <div class="col-md-12">

            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5 admin-box-item">
                <a href='@Url.Action("Index", "Users")'>
                    <p>
                        <i class="fa fa-5x fa-user"></i>
                    </p>
                    <p>Users</p>
                </a>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5 admin-box-item">
                <a href='@Url.Action("Index", "Routes")'>
                    <p>
                        <i class="fa fa-5x fa-code-fork"></i>
                    </p>
                    <p>Routes</p>
                </a>
            </div>


            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5 admin-box-item">
                <a href='@Url.Action("Index", "Operations")'>
                    <p>
                        <i class="fa fa-5x fa-truck"></i>
                    </p>
                    <p>Operations</p>
                </a>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5 admin-box-item">
                <a href='@Url.Action("Index", "Resources")'>
                    <p>
                        <i class="fa fa-5x fa-laptop"></i>
                    </p>
                    <p>Resources</p>
                </a>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5 admin-box-item">
                <a href='@Url.Action("Index", "ActivityTypes")'>
                    <p>
                        <i class="fa fa-5x fa-calendar-check-o"></i>
                    </p>
                    <p>Activity</p>
                </a>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5 admin-box-item">
                <a href='@Url.Action("Index", "AdditionalReasons")'>
                    <p>
                        <i class="fa fa-5x fa-commenting"></i>
                    </p>
                    <p>RM Reasons</p>
                </a>
            </div>

            @*<div class="col-lg-2 col-md-2 col-sm-3 col-xs-5 admin-box-item">
                <a href='@Url.Action("UnderConstruction", "Default")'>
                    <p>
                        <i class="fa fa-5x fa-file-code-o"></i>
                    </p>
                    <p>MO Type</p>
                </a>
            </div>*@

            @*<div class="col-lg-2 col-md-2 col-sm-3 col-xs-5 admin-box-item">
                <a href='@Url.Action("UnderConstruction", "Default")'>
                    <p>
                        <i class="fa fa-5x fa-book"></i>
                    </p>
                    <p>JE Acct Code</p>
                </a>
            </div>*@

            @*<div class="col-lg-2 col-md-2 col-sm-3 col-xs-5 admin-box-item">
                <a href='@Url.Action("UnderConstruction", "Default")'>
                    <p>
                        <i class="fa fa-5x fa-clock-o"></i>
                    </p>
                    <p>Valid Times</p>
                </a>
            </div>*@

			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-5 admin-box-item">
				<a href='@Url.Action("Index", "RunRate")'>
					<p>
						<i class="fa fa-5x fa-hourglass-2"></i>
					</p>
					<p>Run Rate</p>
				</a>
			</div>

			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-5 admin-box-item">
				<a href='@Url.Action("Index", "RunRateReason")'>
					<p>
						<i class="fa fa-5x fa-tags"></i>
					</p>
					<p>Run Rate Reasons</p>
				</a>
			</div>


            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5 admin-box-item">
                <a href='@Url.Action("QALinks", "Default")'>
                    <p>
                        <i class="fa fa-5x fa-search-plus"></i>
                    </p>
                    <p>QA</p>
                </a>
            </div>

			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-5 admin-box-item">
				<a href='@Url.Action("Index", "BOM")'>
					<p>
						<i class="fa fa-5x fa-barcode"></i>
					</p>
					<p>BOM</p>
				</a>
			</div>

			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-5 admin-box-item">
				<a href='@Url.Action("DowntimeList", "ManufacturingOrder")'>
					<p>
						<i class="fa fa-5x fa-toggle-down"></i>
					</p>
					<p>Downtime</p>
				</a>
			</div>

            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5 admin-box-item">
                <a href='@Url.Action("Index", "Processing")'>
                    <p>
                        <i class="fa fa-5x fa-spinner"></i>
                    </p>
                    <p>JE Processing</p>
                </a>
            </div>

        </div>
    </div>
</div>




   
