﻿@model ShopFloor.Web.Models.HomeAdminModel
@{
    ViewBag.Title = "Admin Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Welcome</h2>
<hr />

<div class="row">

    <div class="col-lg-12">
        <ul>
            <li>No Tasks</li>
            <li>No Reminders</li>
        </ul>
    </div>

    @if (Model.Registrations.Count > 0)
    {
        @Html.Partial("~/Views/Account/_ViewRegistrationPartial.cshtml", Model.Registrations)
    }

</div>


@section LeftPane
{
    <div class="panel panel-default">
    <div class="panel-heading bold">Admin Home</div>
    <div class="list-group">
        @Html.ActionLink("Users", "Index", "Users", null, new { @class = "list-group-item" })
        @Html.ActionLink("User Registrations", "UserRegistrations", "Users", null, new { @class = "list-group-item" })
    </div>
    </div>
}
