﻿
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome</h2>
<hr />

<div class="row">

    <div class="col-lg-12">
        <ul>
            <li>No Tasks</li>
            <li>No Reminders</li>
        </ul>
    </div>

</div>

@section LeftPane
{
    <p class="lead">Basic User Home</p>
    <div class="list-group">
        @Html.ActionLink("Change Password", "UnderConstruction", null, new { @class = "list-group-item" })
    </div>
}