﻿@{
    ViewBag.Title = "Under Construction. Sorry.";
}

<div class="jumbotron">
    <h1>Under Construction</h1>
    <h2>This feature will be available in Phase 2</h2>
    @Html.ActionLink("Return Home", "Index", "Default", null, new { @class="btn btn-success btn-lg" })
</div>
