﻿@model EditRouteOperationResourceModel

@{
    ViewBag.Title = "Create Route Setup";
    ViewBag.ActiveMenu = "RouteOperationResources";
}

<h2>Routing Maintenance</h2>
<h4>Create Route Operation Resource</h4>
<hr />


<div class="row">
    <div class="col-lg-8 col-md-9">
        @using (Html.BeginForm("Form1"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label col-md-3 col-lg-3" for="RouteID">Route</label>
                    <div class="col-md-4 col-lg-4">
                        @Html.DropDownListFor(m => m.RouteID, (IEnumerable<SelectListItem>)ViewBag.Routes, "", new { @class = "form-control search-this" })
                        @Html.ValidationMessageFor(model => model.RouteID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5 col-lg-5">
                        <p class="form-control-static" id="p_RouteDescription"></p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-lg-3" for="OperationID">Operation</label>
                    <div class="col-md-4 col-lg-4">
                        @Html.DropDownListFor(m => m.OperationID, (IEnumerable<SelectListItem>)ViewBag.Operations, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OperationID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5 col-lg-5">
                        <p class="form-control-static" id="p_OperationDescription"></p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ResourceID, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-4 col-lg-4">
                        @*@Html.EditorFor(model => model.ResourceID, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.DropDownListFor(m => m.ResourceID, (IEnumerable<SelectListItem>)ViewBag.ResourceList, "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ResourceID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-5 col-lg-5">
                        <p class="form-control-static" id="p_ResourcesDescription"></p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastTag, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.LastTag)
                            @Html.ValidationMessageFor(model => model.LastTag, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Active)
                            @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                @*<div class="form-group">
                        @Html.LabelFor(model => model.Sequence, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.Sequence, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Sequence, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create</button>
                    </div>
                </div>
            </div>
        }

        <p>
            @Html.ActionLink("Search", "Index")
        </p>

    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Existing Route Operations</div>
            <div class="panel-body">
                <table class="table table-condensed table-search">
                    <thead>
                        <tr>
                            <th>Route Code</th>
                            <th>Operation Code</th>
                            <th>Resource Code</th>
                            <th>Sequence</th>
                            <th>Last Tag</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/shopfloor.datatable.js"></script>
    <script>

        $(function () {

            var tableRoute = new SearchTable('@ShopFloor.Constants.CONST_SEARCHTABLE_ROUTEOPERATIONRESOURCES', '.table-search', '.txt-table-search', '.btn-table-search', undefined, undefined, undefined);
            tableRoute.addDataTableColumn('RouteOperation.Route.RouteCode', true, true);
            tableRoute.addDataTableColumn('RouteOperation.Operation.OperCode', true, true);
            tableRoute.addDataTableColumn('Resource.ResourceCode', true, true);
            tableRoute.addDataTableColumn('Sequence', true, true);
            tableRoute.addDataTableColumn('LastTag', true, true);
            tableRoute.showActionButtons = false;
            tableRoute.showSelectButton = false;
            tableRoute.ServerSide = false;
            tableRoute.initialize();

            function filterTable() {
                // get route code and operation code
                var selectedRoute = $("select#RouteID option:selected");
                var selectedOper = $("select#OperationID option:selected");

                // build search arguments
                var args = [];
                var route = selectedRoute.text();
                if (route == '') route = 'just display an empty row.' + new Date().getMilliseconds();
                args.push({
                    "colindex": 0,
                    "value": route
                });

                var oper = selectedOper.text();
                args.push({
                    "colindex": 1,
                    "value": oper
                });

                console.log(JSON.stringify(args));

                tableRoute.filter(args);
            }
            function showRouteDescription(id) {
                $.get('/routeoperations/getroutedesc/' + id, function (desc) {
                    $('#p_RouteDescription').text(desc);
                });
            }
            function showOperDescription(id) {
                $.get('/routeoperations/getoperdesc/' + id, function (desc) {
                    $('#p_OperationDescription').text(desc);
                });
            }
            function showResourceDescription(id) {
                $.get('/routeoperationresources/getresourcedesc/' + id, function (desc) {
                    $('#p_ResourcesDescription').text(desc);
                });
            }

            $('select#RouteID').change(function (e) {
                showRouteDescription($(this).val());
                filterTable();
            });

            $('select#OperationID').change(function () {
                showOperDescription($(this).val());
                filterTable();
            });

            $('select#ResourceID').change(function () {
                showResourceDescription($(this).val());
            });

            filterTable();
        });



    </script>
}