﻿@model ShopFloor.Entities.RouteOperationResource


@{
    ViewBag.Title = "Search Routing Setup";
    ViewBag.ActiveMenu = "RouteOperationResources";
}

<h2>Search Routing Setup</h2>

<div class="row">
    <div class="col-md-7 col-sm-7 col-xs-7">
	    @using(Html.BeginForm("Form1")){
        <div class="input-group">
            <input type="text" class="form-control txt-table-search" placeholder="search" name="SearchString">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary btn-table-search"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
		}
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5">
        <a href="@Url.Action("Create")" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create New</a>
    </div>
</div>
<table class="table table-striped table-hover table-search">
	<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.RouteOperation.Route.RouteCode)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.RouteOperation.Operation.OperCode)
        </th>
        <th>
            @Html.DisplayNameFor(m=>m.Resource.ResourceCode)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Sequence)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.LastTag)
        </th>
        <th></th>
    </tr>
	</thead>
	<tbody>
	</tbody>

</table>

@section Scripts{
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/shopfloor.datatable.js"></script>
    <script>

        $(function () {
            var tableRoute = new SearchTable('@ShopFloor.Constants.CONST_SEARCHTABLE_ROUTEOPERATIONRESOURCES', '.table-search', '.txt-table-search', '.btn-table-search', undefined, btnEditRow_Click, btnDeleteRow_Click);
            tableRoute.addDataTableColumn('RouteOperation.Route.RouteCode', true, true);
            tableRoute.addDataTableColumn('RouteOperation.Operation.OperCode', true, true);
            tableRoute.addDataTableColumn('Resource.ResourceCode', true, true);
            tableRoute.addDataTableColumn('Sequence', true, true);
            tableRoute.addDataTableColumn('LastTag', true, true);
            tableRoute.showActionButtons = true;
            tableRoute.showSelectButton = false;
            tableRoute.initialize();
        });


        var btnDeleteRow_Click = function (id) {
            $.get('/routes/deleteroute/' + id, function () {
            }, 'json')
            .fail(function (data) {
                toastr['error']('Error when trying to delete route id=' + id + '');
            });
        }

        var btnEditRow_Click = function (id) {
            location.href = '/RouteOperationResources/Edit/' + id
        }

    </script>
}
