﻿@model ShopFloor.Web.Models.ListBaseModel<ShopFloor.Entities.RouteOperationResource>


@{
    ViewBag.Title = "Index";
}

<h2>List of RouteOperationResource</h2>

<div class="row">
    <div class="col-md-7 col-sm-7 col-xs-7">
	    @using(Html.BeginForm("Form1")){
        <div class="input-group">
			<input type="text" class="form-control" placeholder="search" name="SearchString">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
		}
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5">
        <a href="@Url.Action("Create")" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create New</a>
    </div>
</div>
<table class="table table-striped table-hover">
	<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(m=>m.Self.RouteOperationID)
        </th>
        <th>
            @Html.DisplayNameFor(m=>m.Self.ResourceID)
        </th>
        <th>
            @Html.DisplayNameFor(m=>m.Self.Active)
        </th>
        <th>
            @Html.DisplayNameFor(m=>m.Self.Sequence)
        </th>
        <th></th>
    </tr>
	</thead>
	<tbody>
@foreach (var item in Model.TheList) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RouteOperationID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResourceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sequence)
        </td>
        <td class="text-right">
			<a href="@Url.Action("Edit", new { id=item.ID })" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit</a>
			<a href="#" class="btn btn-xs btn-danger btn-delete-row" data-id="@item.ID"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete</a>
        </td>
    </tr>
}
	</tbody>

</table>

@Html.Partial("_PagerPartial", Model)

@section Scripts{
    <script>
    $(function(){
        $('.btn-delete-row').click(function(){
            if (confirm('are you sure you want to delete this record?')) {
                var url = '@Url.Action("Delete", new { id = "[recordid]" })';
                url = url.replace('[recordid]', $(this).data('id'));
                
                $.get(url, function () {
                    alert('Record successfully delete!');
                    location.reload();
                });
            }
            return false;
        });
    });
    </script>
}

