﻿@{
    //ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section LeftPane
{
<p class="lead">Manage UserClass</p>
<div class="list-group">
    @Html.ListGroupItem("Search", "Index", "UserClasses", "Index")
    @Html.ListGroupItem("New UserClass", "Create", "UserClasses", "Create")
</div>

<div class="list-group">
    @Html.ListGroupItem("Users", "Index", "Users", "Users")
</div>
}


@RenderBody()