﻿@model ShopFloor.Entities.UserClass

@{
    ViewBag.Title = "View UserClass";
}

<h2>Details</h2>

<div>
    <h4>UserClass</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UClassCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UClassCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UClassDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UClassDesc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
