﻿@model IEnumerable<ShopFloor.Entities.UserClass>

@{
    ViewBag.Title = "UserClasses";
    ViewBag.ActiveMenu = "UserClasses";
    //Layout = "_Layout.cshtml";
}

<h2>List of UserClass</h2>

<div class="row">
    <div class="col-md-7 col-sm-7 col-xs-7">
        <div class="input-group">
			<input type="text" class="form-control" placeholder="search" name="SearchString">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5">
        <a href="@Url.Action("Create")" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create New</a>
    </div>
</div>
<table class="table table-striped table-hover">
	<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UClassCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UClassDesc)
        </th>
        <th></th>
    </tr>
	</thead>
	<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UClassCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UClassDesc)
        </td>
        <td class="text-right">
			<a href="@Url.Action("Edit", new { id=item.ID })" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit</a>
			<a href="@Url.Action("Delete")" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete</a>
        </td>
    </tr>
}
	</tbody>

</table>
