﻿@model ShopFloor.SAP.Entities.Item
@{
    ViewBag.Title = "Edit Item Route Assignment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Item Routing Assignment</h2>

<div class="container" ng-app="ItemRouteApp" ng-controller="RouteController as roCtrl" ng-init="roCtrl.init('@Model.ItemCode')">

    <div class="row">
        <h3>@Model.ItemCode</h3>
        <h4>@Model.ItemName</h4>
        <h5>Group Code: <span class="lead">@Model.ItmsGrpCod</span></h5>


        <p>
            <a href="/itemroutes/index">Back to List</a>
        </p>
    </div>

    <div class="row top-buffer-25">
        <div class="col-xs-3">
            <select class="form-control" ng-model="selectedRoute" ng-options="route as route.RouteCode + '-' + route.RouteDesc for route in roCtrl.listRoutes">
                <option value="">select a route</option>
            </select>
        </div>
        <div class="col-xs-1">
            <button class="btn btn-success" ng-disabled="!selectedRoute" ng-click="roCtrl.AddRoute(selectedRoute)"><i class="glyphicon glyphicon-plus"></i>Add</button>
        </div>
    </div>

    <div class="row top-buffer-15">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-xs-2">Routing Code</th>
                    <th class="col-xs-8">Routing Description</th>
                    <th class="col-xs-1">Active</th>
                    <th class="col-xs-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in roCtrl.gridRoutes">
                    <td>{{item.Route.RouteCode}}</td>
                    <td>{{item.Route.RouteDesc}}</td>
                    <td>{{item.Active}}</td>
                    <td><button class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></button></td>
                </tr>
            </tbody>
        </table>

        {{roCtrl.gridRoutes | json}}
    </div>

</div>

@section Scripts{
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/ItemRoutes/app.js"></script>
<script>

</script>
}