﻿
@{
    ViewBag.Title = "Item Routes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Item Routing Assignment</h2>


<div class="row">
    <div class="col-md-7 col-sm-7 col-xs-7">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="enter Item details" id="txt-search" autofocus>
            <span class="input-group-btn">
                <button id="btn-search" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </div>
</div>
<table id="table-search" class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th class="col-xs-2">Item Code</th>
            <th class="col-xs-5">Item Name</th>
            <th class="col-xs-2">Group Code</th>
            <th class="col-xs-2">Category</th>
            <th class="col-xs-1"></th>
        </tr>
    </thead>
    <tbody></tbody>

</table>

@section Scripts{
<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.js"></script>
<script src="~/Scripts/shopfloor.datatable.js"></script>
<script>

    selectFG = function (id) {
        location.href = '/itemroutes/edit/?itemcode=' + id;
    }

    $(function () {
        var tblSearch = new SearchTable('@ShopFloor.Constants.CONST_SEARCHTABLE_ITEM', '#table-search', '#txt-search', '#btn-search', selectFG, undefined, undefined);
        tblSearch.addDataTableColumn('ItemCode', true, true, true);
        tblSearch.addDataTableColumn('ItemName', true, true, true);
        tblSearch.addDataTableColumn('ItmsGrpCod', true, true, true);
        tblSearch.addDataTableColumn('U_ITEMCAT01', true, true, true);
        tblSearch.PageLength = 10;
        tblSearch.IDField = "ItemCode";
        tblSearch.ShowDeleteButton = false;
        tblSearch.showButtonText = false;
        tblSearch.showActionButtons = false;
        tblSearch.showSelectButton = true;
        tblSearch.initialize();
    });

</script>
}
