﻿@model QAApplication
@{
    ViewBag.Title = "Edit QA Apps";
    ViewBag.ActiveMenu = "QAApps";
    Layout = "~/Views/Shared/_LayoutQA.cshtml";
}

<h2>QA Applications Maintenance</h2>
<h4>Edit</h4>
<hr />

<div class="col-lg-8 col-md-9">
    @using (Html.BeginForm("EditQAApps"))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.CreatedBy)
        @Html.HiddenFor(m => m.CreatedOn)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.QAApplCode, "Code", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.QAApplCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.QAApplCode, "Code is required", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.QAApplDesc, "Description", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextAreaFor(model => model.QAApplDesc, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.QAApplDesc, "Description is required", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-primary"><span class="fa fa-floppy-o"></span>&nbsp;Save</button>
                </div>
            </div>
        </div>
    }

    <p>
        @Html.ActionLink("Search QA Apps", "Index") | <a href="/qaapps/create">Create New</a>
    </p>

</div>
