﻿
@{
    ViewBag.Title = "QA Apps";
    ViewBag.ActiveMenu = "QAApps";
    Layout = "~/Views/Shared/_LayoutQA.cshtml";
}

<h1>QA Applications</h1>

<div class="row">
    <div class="col-md-7 col-sm-7 col-xs-7 col-lg-7">
        @using (Html.BeginForm("Form1"))
        {
            <div class="input-group">
                <input type="text" class="form-control txt-table-search" placeholder="search" name="SearchString">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-table-search"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        }
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5 col-lg-5">
        <a href="@Url.Action("Create")" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create New</a>
    </div>
</div>


<table class="table table-striped table-hover table-search">
    <thead>
        <tr>
            <th>
                Application Code
            </th>
            <th>
                Application Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>

</table>



@section Scripts{
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/shopfloor.datatable.js"></script>
    <script>
        var tblSearch = {};
        $(function () {
            tblSearch = new SearchTable('@ShopFloor.Constants.CONST_SEARCHTABLE_QAAPPS', '.table-search', '.txt-table-search', '.btn-table-search', undefined, btnEditRow_Click, btnDeleteRow_Click);
            tblSearch.AjaxURL = '@Response.ApplyAppPathModifier(ShopFloor.Constants.CONST_SEARCHTABLE_URL)' + '@ShopFloor.Constants.CONST_SEARCHTABLE_QAAPPS';
            tblSearch.addDataTableColumn('QAApplCode', true, true);
            tblSearch.addDataTableColumn('QAApplDesc', true, true);
            tblSearch.showActionButtons = true;
            tblSearch.showSelectButton = false;
            tblSearch.initialize();
        });


        var btnDeleteRow_Click = function (id) {
            $.get('@Response.ApplyAppPathModifier("/QAApps/Delete/")' + id, function () {
                toastr['success']('Record deleted.');
                tblSearch.reload();
            }, 'json')
            .fail(function (data) {
                toastr['error']('QA Application is already in use. Unable to delete record.');
            });
        }

        var btnEditRow_Click = function (id) {
            location.href = '@Response.ApplyAppPathModifier("/QAApps/Edit/")' + id
        }

    </script>
}