﻿@model ShopFloor.Web.Models.EditResourceModel

@{
    ViewBag.Title = "Edit Resource";
    ViewBag.ActiveMenu = "Resources";
}

<h2>Resources Maintenance</h2>
<h4>Edit Resource</h4>
<hr />

<div class="row" ng-app="ResourcesApp">
    
    <div class="col-md-6">
        @using (Html.BeginForm("Form1"))
    {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)

                <div class="form-group">
                    @Html.LabelFor(model => model.ResourceCode, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.ResourceCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ResourceCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ResourceDesc, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.ResourceDesc, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ResourceDesc, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PrcCode, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.PrcCode, (IEnumerable<SelectListItem>)ViewBag.PrcCodes, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PrcCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ResourceCategoryID, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.ResourceCategoryID, (IEnumerable<SelectListItem>)ViewBag.Categories, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ResourceCategoryID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SetupTime, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.SetupTime, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SetupTime, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StockTime, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.StockTime, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.StockTime, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.HiddenFor(m => m.FromDate)
                @Html.HiddenFor(m => m.ToDate)

                <div class="form-group">
                    @Html.LabelFor(model => model.CostRate, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.CostRate, new { htmlAttributes = new { @class = "form-control", type = "number", step = "any" } })
                        @Html.ValidationMessageFor(model => model.CostRate, "", new { @class = "text-danger" })
                    </div>
                </div>

				<div class="form-group">
					@Html.LabelFor(model => model.ResourceRate, htmlAttributes: new { @class = "control-label col-md-3" })
					<div class="col-md-9">
						@Html.EditorFor(model => model.ResourceRate, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.ResourceRate, "", new { @class = "text-danger" })
					</div>
				</div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UnitTag, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.UnitTag)
                            @Html.ValidationMessageFor(model => model.UnitTag, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Active)
                            @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save</button>
                    </div>
                </div>
            </div>
    }


        <p>
            @Html.ActionLink("Search Resources", "Index")&nbsp;|&nbsp;@Html.ActionLink("Create Resource", "Create") | @Html.ActionLink("Resource Categories", "Index", "ResourceCategories")
        </p>

    </div>


    <div class="col-md-6">

        <ul class="nav nav-tabs" >
            <li class="active"><a href="#tabQAParams" data-toggle="tab">QA Parameters</a></li>
            <li><a href="#tabSubResource" data-toggle="tab">Substitute Resource</a></li>
        </ul>

        <div class="tab-content container">

            <div id="tabQAParams" class="tab-pane active" ng-controller="QAParamController as qaCtrl" ng-init="qaCtrl.Init(@Model.ID)">
                
                <div class="row top-buffer-25">
                    <div class="col-xs-6">
                        <select class="form-control select2" ng-model="selectedQAParam" ng-options="item as item.QAParaCode + ' - ' + item.QAParaDesc for item in qaCtrl.listQAParams">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-xs-1"><button class="btn btn-success btn-sm" ng-disabled="!selectedQAParam" ng-click="qaCtrl.AddQAParam(selectedQAParam)"><i class="glyphicon glyphicon-plus"></i> Add</button></div>
                </div>

                <div class="row top-buffer-15">
                    <div class="col-lg-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-xs-2">Code</th>
                                    <th class="col-xs-7">Description</th>
									<th class="col-xs-1">Value 1</th>
									<th class="col-xs-1">Value 2</th>
                                    <th class="col-xs-1"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in qaCtrl.gridQAParams">
                                    <td>{{item.QAParam.QAParaCode}}</td>
                                    <td>{{item.QAParam.QAParaDesc}}</td>
									<td>{{item.QAParam.QAParaValueNum}}</td>
									<td>{{item.QAParam.QAParaValueNum2}}</td>
                                    <td><button class="btn btn-danger btn-sm" ng-click="qaCtrl.RemoveQAParam(item)"><i class="fa fa-remove"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <p>
                    @Html.ActionLink("QA Parameters", "Index", "QAParams")
                </p>

            </div>

            <div id="tabSubResource" class="tab-pane" ng-controller="SubResourceController as subCtrl" ng-init="subCtrl.Init(@Model.ID)">

                <div class="row top-buffer-25">
                    <div class="col-xs-6">
                        <select class="form-control select2" ng-model="selectedSubResource" ng-options="item as item.ResourceCode + ' - ' + item.ResourceDesc for item in subCtrl.listSubresources">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-xs-1"><button class="btn btn-success btn-sm" ng-disabled="!selectedSubResource" ng-click="subCtrl.AddSubresource(selectedSubResource)"><i class="glyphicon glyphicon-plus"></i> Add</button></div>
                </div>

                <div class="row top-buffer-15">
                    <div class="col-lg-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-xs-3">Code</th>
                                    <th class="col-xs-8">Description</th>
                                    <th class="col-xs-1"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in subCtrl.gridSubresources">
                                    <td>{{item.Subresource.ResourceCode}}</td>
                                    <td>{{item.Subresource.ResourceDesc}}</td>
                                    <td><button class="btn btn-danger btn-sm" ng-click="subCtrl.RemoveSubresource(item)"><i class="fa fa-remove"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>




@section Scripts{
    <link href="~/Content/css/select2.css" rel="stylesheet"/>
    <link href="~/Content/select2-bootstrap.css" rel="stylesheet"/>
    <script src="~/Scripts/underscore-min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    @*<script src="~/Scripts/Resources/app.js"></script>*@

<script>
    var app = angular.module('ResourcesApp', []);

    app.controller('QAParamController',
        function($http, $scope) {

            var ctrl = this;

            this.ResourceID = 0;

            this.listQAParams = [];

            this.gridQAParams = [];

            this.Init = function(resId) {
                ctrl.ResourceID = resId;

                // populate QA Parameters dropdown
                $http({ url: '@Response.ApplyAppPathModifier("/resources/GetAllQAParamCodes")', method: 'GET' })
                    .success(function(data) {
                        ctrl.listQAParams = data;
                    });

                // populate QA Parameters grid
                $http({
                        url: '@Response.ApplyAppPathModifier("/resources/GetAllQAParamResources/")' + ctrl.ResourceID,
                        method: 'GET'
                    })
                    .success(function(data) {
                        ctrl.gridQAParams = data;
                    });
            }

            this.AddQAParam = function(param) {

                // check if operation already exists
                if (_.find(ctrl.gridQAParams, function(m) { return (m.QAParam.ID == param.ID) })) {
                    alert('This item already exists.');
                    return;
                }

                // add QA Parameters
                var jsondata = { QAParamID: param.ID, ResourceID: ctrl.ResourceID };
                $http({
                        url: '@Response.ApplyAppPathModifier("/resources/AddQAParam")',
                        method: 'POST',
                        data: JSON.stringify(jsondata)
                    })
                    .success(function(data) {
                        ctrl.gridQAParams.push(data);
                        toastr['success']('Record created.');
                    });
            }

            this.RemoveQAParam = function(param) {
                if (!confirm('are you sure you want to remove this record?')) return;

                $http({
                        url: '@Response.ApplyAppPathModifier("/resources/RemoveQAParam/?qaParamId=")' + param.ID,
                        method: 'GET'
                    })
                    .success(function() {
                        ctrl.gridQAParams = _.reject(ctrl.gridQAParams, function(m) { return (m.ID == param.ID); });
                        toastr['success']('Record deleted.');
                    });
            }


        });


    app.controller('SubResourceController', function ($http, $scope) {
        var ctrl = this;

        this.ResourceID = 0;

        this.listSubresources = [];

        this.gridSubresources = [];

        this.Init = function (resId) {
            ctrl.ResourceID = resId;

            // populate Subresources dropdown
            $http({ url: '@Response.ApplyAppPathModifier("/resources/GetAllResources")', method: 'GET' })
            .success(function (data) {
                ctrl.listSubresources = data;
            });

            // populate Subresources grid
            $http({ url: '@Response.ApplyAppPathModifier("/resources/GetAllSubresources/")' + ctrl.ResourceID, method: 'GET' })
            .success(function (data) {
                ctrl.gridSubresources = data;
            });
        }

        this.AddSubresource = function (sub) {

            // search list if sub is already in it
            if (_.find(this.gridSubresources, function (m) { if (m.Subresource.ID == sub.ID) return true; })) {
                alert('The selected Resource already exists in the list.');
                return;
            }

        	// ensure that sub is not equal to current resource
            if (sub.ID === ctrl.ResourceID) {
            	alert('Current Resource cannot be a substitute for itself.');
            	return;
            }

            // add Subresource
            var jsonData = { ResourceID: ctrl.ResourceID, SubResourceID: sub.ID };
            $http({ url: '@Response.ApplyAppPathModifier("/resources/AddSubresource/")', method: 'POST', data: jsonData })
            .success(function (data) {
                ctrl.gridSubresources.push(data);
                toastr['success']('Substitute Resource Added.');
            });
        }

        this.RemoveSubresource = function (sub) {
            if (!confirm('are you sure you want to remove this record?')) return;

            $http({ url: '@Response.ApplyAppPathModifier("/resources/DeleteSubresource/?subResourceId=")' + sub.ID, method: 'GET' })
            .success(function (data) {
                ctrl.gridSubresources = _.reject(ctrl.gridSubresources, function (m) { return (m.ID == sub.ID); });
                toastr['success']('Substitute Resource deleted.');
            });

        }
    });

    $(function() {
        $(".select2").select2();
    });
</script>

}