﻿@model ShopFloor.Entities.Resource

@{
    ViewBag.Title = "Search Resources";
    ViewBag.ActiveMenu = "Resources";
}

<h2>Search Resources</h2>

<div class="row">
    <div class="col-md-7 col-sm-7 col-xs-7">
        <div class="input-group">
            <input type="text" class="form-control txt-table-search" placeholder="search" name="SearchString">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary btn-table-search"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5">
        <a href="@Url.Action("Create")" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create New</a>
    </div>
</div>
<table class="table table-striped table-hover table-search">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ResourceCode)
        </th>
        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model.ResourceDesc)
        </th>
        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model.PrcCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourceCategoryID)
        </th>
        <th class="hidden-sm hidden-xs hidden-md">
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>

</table>

<p>
    @Html.ActionLink("Resource Categories", "Index", "ResourceCategories")
</p>

@section Scripts{
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/shopfloor.datatable.js"></script>
    <script>

        var tableRoute = {};

        $(function () {
            tableRoute = new SearchTable('@ShopFloor.Constants.CONST_SEARCHTABLE_RESOURCES', '.table-search', '.txt-table-search', '.btn-table-search', undefined, btnEditRow_Click, btnDeleteRow_Click);
            tableRoute.AjaxURL = '@Response.ApplyAppPathModifier(ShopFloor.Constants.CONST_SEARCHTABLE_URL)' + '@ShopFloor.Constants.CONST_SEARCHTABLE_RESOURCES';
            tableRoute.addDataTableColumn('ResourceCode', true, true);
            tableRoute.addDataTableColumn('ResourceDesc', true, true);
            tableRoute.addDataTableColumn('PrcCode', true, true);
            tableRoute.addDataTableColumn('ResourceCategory.Code', true, true);
            tableRoute.addDataTableColumn('Active', true, true);
            tableRoute.showActionButtons = true;
            tableRoute.showSelectButton = false;
            tableRoute.initialize();
        });


        var btnDeleteRow_Click = function (id) {
            $.get('@Response.ApplyAppPathModifier("/resources/delete/")' + id, function () {
            }, 'json')
            .fail(function (data) {
                toastr['error']('Error when trying to delete route id=' + id + '');
            });
        }

        var btnEditRow_Click = function (id) {
            location.href = '@Response.ApplyAppPathModifier("/resources/Edit/")' + id
        }

    </script>
}