﻿@model EditDataCaptureModel

<div class="row">

    <div class="col-md-12">

        <form id="form-datacapture-@Model.DataCaptureID" class="form-datacapture">

            @Html.HiddenFor(m => m.DataCaptureID)
            @Html.HiddenFor(m => m.StartDateTime)
            @Html.HiddenFor(m => m.ElapsedTime)
            @Html.HiddenFor(m => m.EndDateTime)
            @Html.HiddenFor(m => m.IsStarted)
            @Html.HiddenFor(m => m.MODetailRSCID)
            
            <div class="tab-content">


                @Html.ValidationSummary(false)
                <div class="validation-summary-errors custom-validation-summary text-center bolder">
                    <div class="well well-sm danger">
                        There are some fields that require your attention
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane active container" id="tabGeneralInfo-@Model.DataCaptureID">

                    <div class="form-horizontal">

                        <div class="form-group">
                            <label class="control-label col-md-3">Start Time</label>
                            <div class="col-md-9">
                                @if (Model.IsCaptured)
                                {
                                    <p id='p-starttime-@Model.DataCaptureID' class="form-control-static bolder">@Model.StartDateTime.ToString("MM/dd/yyyy HH:mm:ss tt")</p>
                                }
                                else if(Model.IsStarted)
                                {
                                    <p id='p-starttime-@Model.DataCaptureID' class="form-control-static bolder">@Model.StartDateTime.ToString("MM/dd/yyyy HH:mm:ss tt")</p>
                                }
                                else
                                {
                                    <p id='p-starttime-@Model.DataCaptureID' class="form-control-static timer-start">@Model.StartDateTime.ToString("MM/dd/yyyy HH:mm:ss tt")</p>
                                }
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Elapsed Time</label>
                            <div class="col-md-9">
                            @if (Model.IsCaptured)
                            {
                                <p id='p-elapsedtime-@Model.DataCaptureID' class="form-control-static bolder">@Model.ElapsedTime.ToString(@"hh\:mm\:ss")</p>
                            }
                            else
                            {
                                <p id='p-elapsedtime-@Model.DataCaptureID' class="form-control-static timer-elapsed">--:--:--</p>
                            }

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Stop Time</label>
                            <div class="col-md-9">
                                @if (Model.IsCaptured)
                                {
                                    <p id='p-stoptime-@Model.DataCaptureID' class="form-control-static bolder">@Model.EndDateTime.ToString("MM/dd/yyyy HH:mm:ss tt")</p>
                                }
                                else if (Model.IsStarted)
                                {
                                    <p id='p-stoptime-@Model.DataCaptureID' class="form-control-static timer-stop">@Model.EndDateTime.ToString("MM/dd/yyyy HH:mm:ss tt")</p>
                                }
                                else
                                {
                                    <p id='p-stoptime-@Model.DataCaptureID' class="form-control-static">--/--/---- --:--:-- --</p>
                                }

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                @if (Model.IsCaptured)
                                {
                                    <button data-id="@Model.DataCaptureID" type="button" class="btn btn-warning btn-captured not-implemented"><i class="glyphicon glyphicon-thumbs-up"></i> Close</button>
                                }
                                else if (Model.IsStarted)
                                {
                                    <button data-id="@Model.DataCaptureID" type="button" class="btn btn-danger btn-stop"><i class="glyphicon glyphicon-stop"></i> Stop</button>
                                }
                                else
                                {
                                    <button data-id="@Model.DataCaptureID" type="button" class="btn btn-default btn-start"><i class="glyphicon glyphicon-play"></i> Start</button>
                                }
                            </div>
                        </div>

                    </div>

                </div>

                <div role="tabpanel" class="tab-pane container" id="tabResources-@Model.DataCaptureID">

                    <div class="col-md-8">

                        <div class="form-horizontal">

                            <div class="form-group">
                                <label class="control-label col-md-4" for="ActivityID">Activity</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.ActivityTypeID, (IEnumerable<SelectListItem>)ViewBag.Activities, "", new { @class = "form-control", required = "required" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4" for="SubstituteResource">Substitute?</label>
                                <div class="col-md-8">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.SubstituteResource)
                                    </div>
                                </div>
                            </div>

                            <div class="form-group disable">
                                <label class="control-label col-md-4" for="SubstituteResourceID">Substitute Resource</label>
                                <div class="col-md-8">
                                    <select id="SubstituteResourceID" class="form-control">
                                        <option>choose a substitute resource</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane container" id="tabAddRM-@Model.DataCaptureID">

                    <div class="col-md-8">
                        <div class="form-horizontal">

                            <div class="form-group">
                                <label for="ResourceID" class="control-label col-md-4">Additional RM</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.RMItemCode, (IEnumerable<SelectListItem>)ViewBag.RMAddlItems, "", new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4" for="SubstituteResourceID">Reason</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.AddlReasonID, (IEnumerable<SelectListItem>)ViewBag.AddddlReasons, "", new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4" for="ActivityID">RM Quantity</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.RMQuantity, new { @class = "form-control", type = "number" })
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div role="tabpanel" class="tab-pane container" id="tabOthers-@Model.DataCaptureID">

                    <div class="col-md-8">
                        <div class="form-horizontal">

                            <div class="form-group">
                                <label for="ResourceID" class="control-label col-md-5">Good</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.Good, new { @class = "form-control", type = "number" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-5" for="SubstituteResourceID">Run Rate Reason</label>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(m => m.RunRateReasonID, (IEnumerable<SelectListItem>)ViewBag.RunRateReasons, "", new { @class = "form-control" })
                                </div>
                            </div>


                        </div>
                    </div>


                </div>

                <div role="tabpanel" class="tab-pane container" id="tabRejects-@Model.DataCaptureID" ng-controller="">
                    <div class="col-md-8">

                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>Criteria Code</th>
                                    <th>Reject Quantity</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th><select class="form-control"><option>choose a criteria</option></select></th>
                                    <th><input type="text" class="form-control" /></th>
                                    <th><button class="btn btn-success btn-sm"><i class="glyphicon glyphicon-plus"></i> Add Reject</button></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>CC 1</td>
                                    <td>100</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>CC 2</td>
                                    <td>200</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>CC 3</td>
                                    <td>300</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="capture-item-action-buttons">
                    <a class="text-muted btn-action-item-cancel" href="#" data-id="@Model.DataCaptureID">Cancel</a> |
                    <a class="text-muted btn-action-item-save" href="#" data-id="@Model.DataCaptureID">Save</a> |
                    <a class="text-muted btn-action-item-close" href="#">Close Resource</a>
                </div>

            </div> @*tab-content*@

        </form>
    </div>

</div> 
