﻿@model IEnumerable<EditDataCaptureModel>

<div class="panel panel-default">

    @if (Model.Count() > 0)
    {

    <div class="panel-heading">
        Currently Selected Item: <span id="span-selected-item" class="bold">@ViewBag.SelectedItemCode</span>
    </div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>Resource Code</th>
                <th>Resource Name</th>
                <th>Plan Start Date</th>
                <th>Plan End Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="table-body">

            @foreach (var c in Model)
            {
                <tr>
                    <td class="text-center"><a title="show details" href='#tr-datacapture-@c.DataCaptureID' id="btn-open-info" class="text-primary" data-toggle="collapse"><i class="glyphicon glyphicon-info-sign"></i></a></td>
                    <td>@c.ResourceCode</td>
                    <td>@c.ResourceDescription</td>
                    <td>@c.PlanStartDateTime.ToString("MM/dd/yyyy h:mm tt")</td>
                    <td>@c.PlanEndDateTime.ToString("MM/dd/yyyy h:mm tt")</td>
                    <td>
                        @if (c.IsCaptured)
                        {
                            <a data-id="@c.DataCaptureID" class="btn btn-warning btn-xs btn-complete not-implemented"><i class="glyphicon glyphicon-thumbs-up"></i> Close</a>
                        }
                        else if (c.IsStarted)
                        {
                            <a data-id="@c.DataCaptureID" class="btn btn-danger btn-xs btn-stop"><i class="glyphicon glyphicon-stop"></i> Stop</a>
                        }
                        else
                        {
                            <a data-id="@c.DataCaptureID" class="btn btn-default btn-xs btn-start"><i class="glyphicon glyphicon-play"></i> Start</a>
                        }

                    </td>
                </tr>
                <tr id='tr-datacapture-@c.DataCaptureID' class="collapsible collapse">
                    <td colspan="6" style="padding:5px 0px 0px 0px;">
                        <div style="background-color:inherit;">
                            @*<a id="btn-close-info" title="close details" href="#" class="btn-default btn-default btn-xs pull-right" style="padding-left:5px;margin-right:5px;"><i class="glyphicon glyphicon-remove"></i></a>*@
                            <button type="button" class="close" data-toggle="collapse" href='#tr-datacapture-@c.DataCaptureID' aria-label="Close"><span aria-hidden="true">&times;</span></button>

                            @*show tabs*@
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href='#tabGeneralInfo-@c.DataCaptureID' aria-controls="profile" role="tab" data-toggle="tab">General Information</a></li>
                                <li role="presentation"><a href='#tabResources-@c.DataCaptureID' aria-controls="profile" role="tab" data-toggle="tab">Resources</a></li>
                                <li role="presentation"><a href='#tabAddRM-@c.DataCaptureID' aria-controls="profile" role="tab" data-toggle="tab">Additional Raw Materials</a></li>
                                <li role="presentation"><a href='#tabOthers-@c.DataCaptureID' aria-controls="profile" role="tab" data-toggle="tab">Others</a></li>
                                <li role="presentation"><a href='#tabRejects-@c.DataCaptureID' aria-controls="profile" role="tab" data-toggle="tab">Rejects</a></li>
                                <li role="presentation"><a href='#tabQAParams-@c.DataCaptureID' aria-controls="profile" role="tab" data-toggle="tab">QA Params</a></li>
                            </ul>

                            @Html.Partial("_EditDataCapturePartial", c)

                        </div>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th colspan="6"></th>
            </tr>
        </tfoot>
    </table>

    }
    else
    {
        <div class="panel-body">
            <h4>Please select an item.</h4>
        </div>
    }

</div>