﻿
<div class="panel panel-default">
	<div class="panel-heading">QA Parameters Entry</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="col-xs-3">Parameter Code</th>
				<th class="col-xs-3">Parameter Description</th>
				<th class="col-xs-2">Parameter 1</th>
				<th class="col-xs-2">Parameter 2</th>
				<th class="col-xs-3">Actual</th>
				<th class="col-xs-1"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in fggCtrl.gridQAParams">
				<td>{{item.QAParam.QAParaCode}}</td>
				<td>{{item.QAParam.QAParaDesc}}</td>
				<td>{{item.QAParam.QAParaValueNum}}</td>
				<td>{{item.QAParam.QAParaValueNum2}}</td>
				<td><input ng-model="item.QAParaValueNum" type='number' class="form-control" ng-change="item.changed=true" ng-disabled="fggCtrl.status<1" value="{{item.QAParam.QAParaValueNum}}" /></td>
				<td><button class="btn btn-sm btn-primary" ng-disabled="!item.changed" ng-click="item.changed=false;fggCtrl.saveQAParam(item);"><i class="fa fa-floppy-o"></i></button></td>
			</tr>
			<tr ng-show="fggCtrl.gridQAParams.length==0">
				<td colspan="4">
					There are no records found.
				</td>
			</tr>
		</tbody>
	</table>
</div>