﻿
@*Timer - begin*@
<div class="row top-buffer-25">
	<div class="col-xs-12">
		<div class="text-center">
			<button class="btn btn-success btn-xl" ng-show="fggCtrl.status==0" ng-click="fggCtrl.startResource($event, fggCtrl.SelectedResourceModel)"><i class="glyphicon glyphicon-play"></i> START</button>
			<button class="btn btn-danger btn-xl" ng-show="fggCtrl.status==1" ng-click="fggCtrl.stopResource($event, fggCtrl.SelectedResourceModel)"><i class="glyphicon glyphicon-stop"></i> STOP</button>
			<button class="btn btn-primary btn-xl" ng-show="fggCtrl.status==2" ng-click="fggCtrl.closeResource($event, fggCtrl.SelectedResourceModel)"><i class="glyphicon glyphicon-folder-close"></i> CLOSE RESOURCE</button>
			<button class="btn btn-default btn-xl" ng-show="fggCtrl.status==3" disabled="disabled"><i class="glyphicon glyphicon-flag"></i> CLOSED</button>
			<p ng-show="fggCtrl.status==3">
				@Html.ActionLink("Create Work in Process", "Index", "DataCapture", new { id = Model.ID })
			</p>
		</div>
	</div>
</div>

<div class="row top-buffer-25">

	@*Schedule Time Start*@
	<div class="col-md-6 col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				Scheduled
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-12 timer-text">
						<label class="col-xs-5 text-right">Start Time</label>
						<div class="col-xs-7">
							<span id="dateStart">{{fggCtrl.ScheduleStartDate}}</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 timer-text">
						<label class="col-xs-5 text-right">Planned Duration</label>
						<div class="col-xs-7">
							<span id="dateElapsed">{{fggCtrl.ScheduleElapsedTime}}</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 timer-text">
						<label class="col-xs-5 text-right">Stop Time</label>
						<div class="col-xs-7">
							<span id="dateStop">{{fggCtrl.ScheduleEndDate}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	@*Schedule Time End*@



	@*Actual Time Start*@
	<div class="col-md-6 col-lg-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<i class="fa fa-exclamation-circle"></i> Actual
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-12 timer-text">
						<label class="col-xs-5 text-right">Start Time</label>
						<div class="col-xs-7">
							<span id="dateStart">{{fggCtrl.timeStart}}</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 timer-text">
						<label class="col-xs-5 text-right">Elapsed Time</label>
						<div class="col-xs-7">
							<span id="dateElapsed">{{fggCtrl.timeElapsed}}</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 timer-text">
						<label class="col-xs-5 text-right">Stop Time</label>
						<div class="col-xs-7">
							<span id="dateStop">{{fggCtrl.timeStop}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	@*Actual Time End*@
</div>
@*Timer - end*@