﻿@model EditMOHeaderModel
@{
    ViewBag.Title = "Work in Process";
    Layout = "~/Views/Shared/_LayoutTasks.cshtml";
}

<h2>Work In Process</h2>
<hr />

<div id="app-datacapture" ng-app="datacapture">

    <div ng-controller="FGGController as fggCtrl" ng-init="fggCtrl.setMOHeaderID(@Model.ID)">

        @*display mo header info*@
        <div class="row container">

			
			<h4 ng-show="fggCtrl.shopFloorIDs.length > 0">WIP IDs: <span ng-repeat="id in fggCtrl.shopFloorIDs">{{id}}</span></h4>
            <h4>MO Number: <a href='@Response.ApplyAppPathModifier("/manufacturingorder/edit/" + Model.ID)' target="_blank">@Model.MONumber</a></h4>
            <h4>MO Type: @Model.MOType.MOTypeName</h4>
            <h4>Gang Run: @(Model.GangRunTag.GetValueOrDefault(false) ? "YES" : "NO")</h4>
            <h4>Current Date/Time: {{fggCtrl.timeLoaded}}</h4>
        </div>

        @Html.ActionLink("Search for Another MO", "Index", "ManufacturingOrder")
        <hr />


        @*FGG list*@
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="panel panel-default">
                <div class="panel-heading">Finished Goods</div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Item Code</th>
                        <th>Item Description</th>
                        <th>MO Quantity</th>
                        <th>Delivery Date</th>
                        <th>Process Tag</th>
                    </tr>
                    </thead>
                    <tbody id="table-fgg-items">
                    <tr class="mouseover" ng-repeat="item in fggCtrl.Items" ng-click="fggCtrl.status>0 || fggCtrl.tagProcess($event, $scope, item)">
                        <td>{{item.ItemCode}}</td>
                        <td>{{item.ItemDescription}}</td>
                        <td>{{item.MOQuantity}}</td>
                        <td>{{item.DeliveryDate | jsDate | date:'MM/dd/yyyy' }}</td>
                        <td>
                            <input class="" type="checkbox" ng-checked="item.checked" ng-disabled="fggCtrl.status>0"/>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>


        </div>
    </div>



    @*RESOURCES*@
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <label>Select a Resource | @Html.ActionLink("View", "Index", "Resources", null, new { target="_blank", title="View all Resources" })</label>
            <select class="form-control select2" ng-model="fggCtrl.SelectedResourceModel" ng-options="item as item.ResourceCode + ' - ' + item.ResourceDesc for item in fggCtrl.Resources" ng-disabled="fggCtrl.status>0" ng-change="fggCtrl.setResource(fggCtrl.SelectedResourceModel)">
                <option value=""></option>
            </select>
        </div>
        <div class="col-xs-12 col-sm-6">
            <label>Substitute Resource (optional)</label>
            <select ng-model="selectedSubResource" ng-options="item as item.Subresource.ResourceCode + ' - ' + item.Subresource.ResourceDesc for item in fggCtrl.listSubResources" ng-change="fggCtrl.UpdateSubResource(selectedSubResource)" class="form-control" ng-disabled="fggCtrl.SelectedResourceModel.ResourceCode == null || fggCtrl.status>2">
                <option value="">None</option>
            </select>
        </div>
    </div>

    <div class="row top-buffer-15">
        <div class="col-xs-12 col-sm-6">
            <label>Select an Activity | @Html.ActionLink("View", "Index", "ActivityTypes", null, new { target = "_blank", title = "View all Activities" })</label>
            
            <select id="Activity" class="form-control" ng-model="general.activity" ng-options="item as item.ActivityCode + ' - ' + item.ActivityName for item in fggCtrl.listActivities" ng-disabled="fggCtrl.status>0" ng-change="fggCtrl.setActivity(general.activity)">
                <option value=""></option>
            </select>
        </div>
    </div>


    @*DETAILS*@
        <div ng-hide="fggCtrl.SelectedResourceModel.ResourceCode == null || general.activity == null" class="container fade in out">


			@Html.Partial("_Timer")

            @*TABS*@
            <div class="row top-buffer-15" ng-hide="fggCtrl.status>2">

                @*GENERAL*@
                <div class="col-lg-6 col-md-6">

                        <div class="panel panel-default" ng-show="fggCtrl.status>0">
                            <div class="panel-heading">General</div>
                            <form name="frmGeneral" novalidate class="form-horizontal container">


                                <div class="form-group top-buffer-15">
                                    <label class="control-label col-md-4" for="">Good</label>
                                    <div class="col-md-8">
                                        <input ng-model="fggCtrl.good" type="number" id="Good" class="form-control"  ng-blur="frmGeneral.$dirty && fggCtrl.saveGeneralFields(fggCtrl) && frmGeneral.$setPristine()" />
                                    </div>
                                </div>

								<div class="form-group">
									<label class="control-label col-md-4" for="">Run Rate Reason</label>
									<div class="col-md-8">
										<select ng-model="fggCtrl.runRateReasonId" id="RunRateReason" class="form-control" ng-options="item.ID as item.ReasonCode + ' - ' + item.ReasonName for item in fggCtrl.listRunRateReasons" ng-change="fggCtrl.saveGeneralFields(fggCtrl)">
											<option value=""></option>
										</select>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-4" for="">No of Outs</label>
									<div class="col-md-8">
										<input ng-model="fggCtrl.noOfOuts" type="number" id="NoOfOUts" class="form-control" ng-blur="frmGeneral.$dirty && fggCtrl.saveGeneralFields(fggCtrl) && frmGeneral.$setPristine()" />
									</div>
								</div>

                                @*<div class="form-group" ng-show="frmGeneral.$dirty && frmGeneral.$valid">
                                    <label class="control-label col-md-4 bolder text-danger" for="">Click this to save <i class="glyphicon glyphicon-exclamation-sign"></i></label>
                                    <div class="col-md-8">
                                        <button class="btn btn-primary btn-sm" ng-click="fggCtrl.submitGeneralForm(frmGeneral, general)"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                                    </div>
                                </div>*@

                            </form>
                        </div>
                </div>
                @*------------------------------------------------*@
                @*                 ADDITIONAL RM                  *@
                @*------------------------------------------------*@
                <div class="col-lg-6 col-md-6">

                    <div class="panel panel-default" ng-show="fggCtrl.status>0">
                        <div class="panel-heading">Additional Raw Materials</div>
                        <form name="frmaddlrm" class="form-horizontal container" ng-submit="fggCtrl.AddRM(fggCtrl)">

                            <div class="form-group top-buffer-15">
                                <label class="control-label col-md-4" for="">Additional RM</label>
                                <div class="col-md-8">
									<select id="AddlRM" class="form-control" ng-model="fggCtrl.AddlRMCode" ng-options="item.ItemCode as item.ItemCode + ' - ' + item.ItemName for item in fggCtrl.listAddlRawMaterials" required>
										<option value=""></option>
									</select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4" for="">Reason</label>
                                <div class="col-md-8">
									<select id="AddlReason" class="form-control" ng-model="fggCtrl.AddlRMReasonID" ng-options="item.ID as item.ReasonCode + ' - ' + item.ReasonName for item in fggCtrl.listAddlReasons" required>
										<option value=""></option>
									</select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4" for="">RM Quantity</label>
                                <div class="col-md-8">
                                    <input id="RMQty" type="number" class="form-control" ng-model="fggCtrl.AddlRMQty" step="any" required />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4" for=""></label>
                                <div class="col-md-8 col-md-offset-4">
                                    <button ng-disabled="!frmaddlrm.$valid || frmaddlrm.$submitted" class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>

            </div>

            <div class="row" ng-show="fggCtrl.status>0 && fggCtrl.status<3">

                @*Rejects Data Entry*@
                <div class="col-xs-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">Rejects Data Entry</div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="col-xs-6 col-md-7">Criteria Code</th>
                                    <th class="col-xs-3 col-md-2">Reject Quantity</th>
                                    <th class="col-xs-3 col-md-3"></th>
                                </tr>
                                <tr>
                                    <td>
                                        <select name="selectedQACriteria" class="form-control" ng-model="selectedQACriteria" ng-options="item as item.QACritCode + ' - ' + item.QACritDesc for item in fggCtrl.listQACriteria">
                                            <option value=""></option>
                                        </select>
                                    </td>
                                    <td><input name="rejectQty" ng-model="rejectQty" type='number' class="form-control" required /></td>
                                    <td><button class="btn btn-success btn-sm" ng-disabled="!selectedQACriteria" ng-click="fggCtrl.addRejectEntry($event, selectedQACriteria, rejectQty)"><i class="glyphicon glyphicon-plus"></i> ADD</button></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in fggCtrl.gridQACriteria">
                                    <td>{{item.QACriterion.QACritCode}} - {{item.QACriterion.QACritDesc}}</td>
                                    <td><input type='number' class="form-control" ng-model="item.Reject" /></td>
                                    <td>
                                        <button class="btn btn-primary btn-sm" ng-init="item.oldValue=item.Reject" ng-click="fggCtrl.saveRejectEntry($event, item, item.oldValue);item.oldValue=item.Reject;"><i class="glyphicon glyphicon-floppy-disk"></i></button>
                                        <button class="btn btn-danger btn-sm" ng-click="fggCtrl.deleteRejectEntry($event, item)"><i class="glyphicon glyphicon-remove"></i></button>
                                    </td>
                                </tr>
                                <tr ng-show="fggCtrl.gridQACriteria.length==0">
                                    <td colspan="3">
                                        There are no records found.
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr ng-hide="fggCtrl.gridQACriteria.length==0">
                                    <td class="bolder text-right">Total</td>
                                    <td><input type='number' class="form-control" disabled="disabled" value="{{fggCtrl.totalRejectQty}}" /></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>

                @*QA Parameters*@
                <div class="col-xs-12">

                    @Html.Partial("_QAParameterEntry")

                </div>

            </div>

            <div class="row top-buffer-15">

                <div class="col-lg-6"></div>
                <div class="col-lg-6"></div>

            </div>


        </div>

        <div ng-hide="fggCtrl.SelectedResourceModel.ResourceCode != null && general.activity != null" class="top-buffer-25 text-center">
            <h2 class="">Please select a resource and an activity to continue.</h2>
        </div>
    </div>

</div>

@section Scripts{
    <style>
        label.error {
            color: red;
        }

        .timer-text {
            font-size: large;
        }

        .panel-bordered {
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            margin-bottom: 15px;
        }

        .btn-xl {
            padding: 10px 16px;
            font-size: 34px;
            line-height: 1.33;
            border-radius: 6px;
        }

        .ng-invalid.ng-dirty {
            border-color: red;
            border-width: 2px;
        }

        /*.ng-valid.ng-dirty {
		border-color: green;
	}*/

        .mouseover :hover {
            cursor: pointer;
            cursor: hand;
        }
    </style>
    <link href="~/Content/css/select2.css" rel="stylesheet"/>
    <link href="~/Content/select2-bootstrap.css" rel="stylesheet"/>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/moment-duration-format.js"></script>
    <script src="~/Scripts/underscore-min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>

    <script>

        //this form depends on html5 validation instead. 'required' for example.
        //but for some reason, below line works pretty well with html5 required attribute
        $.validator.setDefaults({ ignore: [] }); // validate hidden fields-for ex: fields in inactive tabs

        var fggID = undefined;
        var rscResourceCode = undefined;
        var url_GetActiveActivities = '@Response.ApplyAppPathModifier("/datacapture/GetActiveActivities/")';
        var url_GetAddlReasons = '@Response.ApplyAppPathModifier("/datacapture/GetAddlReasons/")';
        var url_GetRunRateReasons = '@Response.ApplyAppPathModifier("/datacapture/GetRunRateReasons/")';
        var url_GetQACriteria = '@Response.ApplyAppPathModifier("/datacapture/GetQACriteria/")';
        var url_GetAllSubresourcesByCode =
            '@Response.ApplyAppPathModifier("/resources/GetAllSubresourcesByCode/?resourceCode=")';
        var url_GetRejectEntries = '@Response.ApplyAppPathModifier("/datacapture/GetRejectEntries/")';
        var url_GetAllQAParamResourcesByResourceCode =
            '@Response.ApplyAppPathModifier("/datacapture/GetAllQAParamResourcesByResourceCode/")';
        var url_GetDataCapture = '@Response.ApplyAppPathModifier("/datacapture/GetDataCapture/")';
        var url_StopResource = '@Response.ApplyAppPathModifier("/datacapture/StopResource/")';
        var url_CloseResource = '@Response.ApplyAppPathModifier("/datacapture/CloseResource/")';
        var url_AddRejectEntry = '@Response.ApplyAppPathModifier("/datacapture/AddRejectEntry/")';
        var url_SaveRejectEntry = '@Response.ApplyAppPathModifier("/datacapture/SaveRejectEntry/")';
        var url_DeleteRejectEntry = '@Response.ApplyAppPathModifier("/datacapture/DeleteRejectEntry/")';
        var url_UpdateGeneralForm = '@Response.ApplyAppPathModifier("/datacapture/UpdateGeneralForm/")';
        var url_SaveQAParam = '@Response.ApplyAppPathModifier("/datacapture/SaveQAParam/")';
        var url_AssignSubResource = '@Response.ApplyAppPathModifier("/datacapture/AssignSubResource/")';
        var url_AddAddlRM = '@Response.ApplyAppPathModifier("/datacapture/AddAddlRM/")';
        var url_rejectsdataentry = '@Response.ApplyAppPathModifier("/scripts/datacapture/rejects-dataentry.html")';
        var url_GetAddlRM = '@Response.ApplyAppPathModifier("/datacapture/GetAddlRM/?moHeaderID=")';

        //index only:
        var url_GetFGGJSONList = '@Response.ApplyAppPathModifier("/datacapture/GetFGGJSONList/?moheaderid=")';
        var url_getresourcesforfggs = '@Response.ApplyAppPathModifier("/datacapture/getresourcesforfggs")';
        var url_StartResource = '@Response.ApplyAppPathModifier("/datacapture/StartResource/?resourceCode=")';
        var url_GetAllQAParamResourcesByResourceCode =
            '@Response.ApplyAppPathModifier("/datacapture/GetAllQAParamResourcesByResourceCode/")';
        var url_GetAllSubresourcesByCode =
            '@Response.ApplyAppPathModifier("/resources/GetAllSubresourcesByCode/?resourceCode=")';
        var url_GetMODetailRSC = '@Response.ApplyAppPathModifier("/datacapture/GetMODetailRSC/")';
        var url_IsOnStreamIsNull = '@Response.ApplyAppPathModifier("/datacapture/IsOnStreamIsNull/")';

        $(function() {
            $(".select2").select2({
                placeholder: "Select Resource",
                allowClear: true
            });
        });
    </script>
    <script src="~/Scripts/DataCapture/app.js"></script>
}

@section Heads{
}