﻿
@{
	ViewBag.Title = "List";
}


<h2>Work In Process</h2>

<div class="row">
	<div class="col-md-7 col-sm-12 col-xs-12">
		<div class="input-group">
			<input type="text" class="form-control txt-table-search" placeholder="Enter Work in Process Details" name="SearchString" autofocus>
			<span class="input-group-btn">
				<button type="submit" class="btn btn-primary btn-search btn-table-search"><span class="glyphicon glyphicon-search"></span></button>
			</span>
		</div>
	</div>
	<div class="col-md-5 col-sm-12 col-xs-12">

		<a href='@Url.Action("Index", "ManufacturingOrder")' class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create New</a>

	</div>
</div>

<table id="tblList" class="table">
	<thead>
		<tr>
			<th>WIP ID</th>
			<th>Resource</th>
			<th>Activity</th>
			<th>Start</th>
			<th>End</th>
			<th>Status</th>
			<th>User</th>
		</tr>
	</thead>
</table>




@section Scripts{
	<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
	<script src="~/Scripts/jquery.dataTables.min.js"></script>
	<script src="~/Scripts/dataTables.bootstrap.js"></script>
	<script src="~/Scripts/shopfloor.datatable.js"></script>
	<script>
        var tblSearch = {};
        $(function () {
            tblSearch = new SearchTable('@ShopFloor.Constants.CONST_SEARCHTABLE_DATACAPTURE', '#tblList', '.txt-table-search', '.btn-table-search', btnSelectRow_Click, undefined, undefined);
            tblSearch.AjaxURL = '@Response.ApplyAppPathModifier(ShopFloor.Constants.CONST_SEARCHTABLE_URL)' + '@ShopFloor.Constants.CONST_SEARCHTABLE_DATACAPTURE';
            tblSearch.addDataTableColumn('ID', false, false, true);
            tblSearch.addDataTableColumn('ResourceCode', true, true);
            tblSearch.addDataTableColumn('ActivityType.ActivityCode', true, true);
            tblSearch.addDataTableColumn('DisplayStartDate', true, true);
            tblSearch.addDataTableColumn('DisplayEndDate', true, true);
            tblSearch.addDataTableColumn('Status', true, true);
            tblSearch.addDataTableColumn('Username', true, true);
            tblSearch.showActionButtons = false
            tblSearch.showSelectButton = true;
            tblSearch.initialize();
        });

        var btnSelectRow_Click = function (id) {
            location.href = '@Response.ApplyAppPathModifier("/DataCapture/Edit/")' + id
        }

	</script>
}