﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section LeftPane
{
<div class="panel panel-default">
    <div class="panel-heading bold">Routing</div>
    <div class="list-group">
        @Html.ListGroupItem("Routes", "Index", "Routes", "Routes")
        @Html.ListGroupItem("Operations", "Index", "Operations", "Operations")
        @Html.ListGroupItem("Resources", "Index", "Resources", "Resources")

        @*@Html.ListGroupItem("New Route", "Create", "Routes", "Create")
        @Html.ListGroupItem("New Operation", "Create", "Operations", "CreateOperation")
        @Html.ListGroupItem("New Resource", "Create", "Resources", "CreateResource")*@
    </div>

</div>

@*<div class="list-group">
    @Html.ActionLink("Item Routes", "UnderConstruction", "Default", null, new { @class = "list-group-item" })
    @Html.ActionLink("Route Setup", "UnderConstruction", "Default", null, new { @class = "list-group-item" })
</div>*@
        
    @RenderSection("LeftPane", false)
}


@RenderBody()


@section Scripts{
    @RenderSection("Scripts", false)
}