﻿@{
    Layout = "_LayoutRoutes.cshtml";
}


@section LeftPane
{

<div class="panel panel-default">
    <div class="panel-heading bold">@ViewBag.RouteCode</div>
    <div class="list-group">
        @Html.ListGroupItem("Edit Route", "Edit", "Routes", "Edit", new { id = ViewBag.RouteID })
        @Html.ListGroupItem("Route Operations", "Operations", "Routes", "RouteOperations", new { id = ViewBag.RouteID })
        @Html.ListGroupItem("Add Route Operation", "AssociateOperation", "Routes", "AssociateOperation", new { id = ViewBag.RouteID })
        @Html.ListGroupItem("Routing Maintenance", "UnderConstruction", "Default", "RouteOperationResources", new { id = ViewBag.RouteID })
    </div>
</div>

@*<div class="list-group">
    @Html.ActionLink("Item Routes", "UnderConstruction", "Default", null, new { @class = "list-group-item" })
    @Html.ActionLink("Route Setup", "UnderConstruction", "Default", null, new { @class = "list-group-item" })
</div>*@

    @RenderSection("LeftPane", false)
}


@RenderBody()


@section Scripts{
    @RenderSection("Scripts", false)
}