﻿@model ShopFloor.Web.Models.EditRouteOperationModel
@{
    ViewBag.Title = "Add Operation";
    ViewBag.ActiveMenu = "AssociateOperation";
    Layout = "_LayoutRoutesEdit.cshtml";
    ViewBag.RouteID = Model.RouteID;
    ViewBag.RouteCode = Model.RouteCode;
}

<h2>Add @Html.ActionLink(Model.RouteCode, "Edit", "Routes", new { id = Model.RouteID }, null) Operation</h2>
<hr />

<div class="col-lg-8 col-md-9">
    @using (Html.BeginForm("Form1"))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.RouteID)
        @Html.HiddenFor(m => m.RouteCode)
        @Html.HiddenFor(m => m.RouteDesc)

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.RouteCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <p class="form-control-static">@Html.ActionLink(Model.RouteCode, "Edit", "Routes", new { id = Model.RouteID }, null)</p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RouteDesc, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <p class="form-control-static">@Model.RouteDesc</p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OperationID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.OperationID, new SelectList(ViewBag.Operations, "ID", "OperCode"), "select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OperationID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add Route Operation</button>
                </div>
            </div>
        </div>
    }

    <p>
        @Html.ActionLink("Back to List", "Operations", "Routes", new { id = Model.RouteID }, null)
        | @Html.ActionLink("Add Operation", "Create", "Operations", null, null)
    </p>
</div>
