﻿@model ShopFloor.Web.Models.EditRouteModel

@{
    ViewBag.Title = "Create Route";
    ViewBag.ActiveMenu = "Routes";
    Layout = "_LayoutRoutes.cshtml";
    ViewBag.RouteID = Model.ID;
}

<h2>Route Maintenance</h2>
<h4>New Route</h4>
<hr />

<div class="col-lg-8">
    @using (Html.BeginForm("CreateRoute"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <div class="form-group">
                @Html.LabelFor(model => model.RouteCode, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.RouteCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RouteCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RouteDesc, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.RouteDesc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RouteDesc, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SBUCode, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <select id="SBUCode" name="SBUCode" class="form-control">
                        <option @((Model.SBUCode ?? "") == "" ? "selected" : "")></option>
                        <option @((Model.SBUCode) == "OSBU2" ? "selected" : "")>OSBU2</option>
                        <option @((Model.SBUCode) == "PSBU3" ? "selected" : "")>PSBU3</option>
                        <option @((Model.SBUCode) == "GSBU4" ? "selected" : "")>GSBU4</option>
                        <option @((Model.SBUCode) == "SSBU" ? "selected" : "")>SSBU</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.SBUCode, "", new { @class = "text-danger" })
                </div>
            </div>

			<div class="form-group">
				@Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-3" })
				<div class="col-md-9">
					<div class="checkbox">
						@Html.EditorFor(model => model.Active)
						@Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
					</div>
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.DownTimeTag, htmlAttributes: new { @class = "control-label col-md-3" })
				<div class="col-md-9">
					<div class="checkbox">
						@Html.EditorFor(model => model.DownTimeTag)
						@Html.ValidationMessageFor(model => model.DownTimeTag, "", new { @class = "text-danger" })
					</div>
				</div>
			</div>


            @*@Html.HiddenFor(m => m.ItemName)
            @Html.HiddenFor(m => m.ItemGroupCode)
            @Html.HiddenFor(m => m.ItemGroupName)
            @Html.HiddenFor(m => m.ItemCategory)*@

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create</button>
                </div>
            </div>
        </div>
    }

    <p>
        @Html.ActionLink("Search Route", "Index")
    </p>
</div>

@Html.Partial("~/Views/Shared/_ItemSearch.cshtml")


    @section Scripts{
        <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
        <script src="~/Scripts/jquery.dataTables.min.js"></script>
        <script src="~/Scripts/dataTables.bootstrap.js"></script>
        @*<script src="~/Scripts/shopfloor-popup-search.js"></script>*@
        <script>

            searchButton_click = function (code, desc) {
                
                $('#ItemCode').val(code);

                $.get('@Response.ApplyAppPathModifier("/Routes/GetSAPItemDetails?itemcode=")' + code, function (data) {
                    //alert(JSON.stringify(data));
                    $('#ItemName').val(data.ItemName);
                    $('#pItemName').html(data.ItemName);

                    $('#ItemGroupCode').val(data.ItmsGrpCod);
                    $('#pItemGroupCode').html(data.ItmsGrpCod);

                    $('#ItemGroupName').val(data.ItmsGrpNam);
                    $('#pItemGroupName').html(data.ItmsGrpNam);

                    $('#ItemCategory').val(data.U_ITEMCAT01);
                    $('#pItemCategory').html(data.U_ITEMCAT01);

                    toastr['info'](code + ' information copied and stored.');
                });
            }

        </script>
    }
