﻿@model ShopFloor.Entities.Route

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LeftPane.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Route</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RouteCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RouteDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SBUCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SBUCode)
        </dd>

    </dl>

    @using (Html.BeginForm("Form1")) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
