﻿@model ShopFloor.Entities.Route

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LeftPane.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Route</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RouteCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RouteDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SBUCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SBUCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
