﻿@model ShopFloor.Web.Models.EditRouteModel

@{
    ViewBag.Title = "Edit Route";
    ViewBag.ActiveMenu = "Edit";
    Layout = "_LayoutRoutesIndex.cshtml";
    ViewBag.RouteID = Model.ID;
    ViewBag.RouteCode = Model.RouteCode;
}

<h2>Route Maintenance</h2>
<h4>Edit Route</h4>
<hr />

<div ng-app="RouteApp">

    <div class="row">
        <div class="col-lg-8">
            @using (Html.BeginForm("EditRoute"))
        {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="form-group">
                        @Html.LabelFor(model => model.RouteCode, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.RouteCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RouteCode, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RouteDesc, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.RouteDesc, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RouteDesc, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SBUCode, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <select id="SBUCode" name="SBUCode" class="form-control">
                                <option @((Model.SBUCode ?? "") == "" ? "selected" : "")></option>
                                <option @((Model.SBUCode) == "OSBU2" ? "selected" : "")>OSBU2</option>
                                <option @((Model.SBUCode) == "PSBU3" ? "selected" : "")>PSBU3</option>
                                <option @((Model.SBUCode) == "GSBU4" ? "selected" : "")>GSBU4</option>
                                <option @((Model.SBUCode) == "SSBU" ? "selected" : "")>SSBU</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.SBUCode, "", new { @class = "text-danger" })
                        </div>
                    </div>

					<div class="form-group">
						@Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							<div class="checkbox">
								@Html.EditorFor(model => model.Active)
								@Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.DownTimeTag, htmlAttributes: new { @class = "control-label col-md-3" })
						<div class="col-md-9">
							<div class="checkbox">
								@Html.EditorFor(model => model.DownTimeTag)
								@Html.ValidationMessageFor(model => model.DownTimeTag, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save</button>
                        </div>
                    </div>
                </div>

        }

            <p>
                @Html.ActionLink("Search Route", "Index")&nbsp;|&nbsp;@Html.ActionLink("Create Route", "Create")
            </p>
        </div>
    </div>


    <div class="row top-buffer-15">
        <div class="col-lg-12">

            @*TABS*@
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href='#tabOperations' aria-controls="profile" role="tab" data-toggle="tab">Operations</a></li>
                <li role="presentation"><a href='#tabResources' aria-controls="profile" role="tab" data-toggle="tab">Setup</a></li>
                <li role="presentation"><a href='#tabItems' aria-controls="profile" role="tab" data-toggle="tab">Item Assignment</a></li>
            </ul>

            @*TAB CONTENTS*@
            <div class="tab-content">

                @*ROUTE OPERATIONS*@
                <div role="tabpanel" class="tab-pane active" id="tabOperations" ng-controller="OperationsController as opCtrl" ng-init="opCtrl.Init(@Model.ID)">

                    <div class="row top-buffer-25 container">
                        <div class="col-lg-4">
                            <select class="form-control" ng-model="newOperation" ng-options="item as item.OperCode + ' - ' + item.OperDesc for item in opCtrl.listOperations">
                                <option></option>
                            </select>
                        </div>
                        <div class="col-lg-1">
                            <button class="btn btn-success" ng-disabled="!newOperation" ng-click="opCtrl.AddOperation(newOperation)"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add</button>
                        </div>
                    </div>

                    <table class="table top-buffer-15">
                        <thead>
                            <tr>
                                <th class="col-xs-2">Code</th>
                                <th class="col-xs-7">Description</th>
                                <th class="col-xs-1">Sequence</th>
                                <th class="col-xs-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in opCtrl.gridOperations">
                                <td>{{item.OperCode}}</td>
                                <td>{{item.OperDesc}}</td>
                                <td>{{item.Sequence}}</td>
                                <td><button class="btn btn-danger btn-sm" ng-click="opCtrl.RemoveOperation(item)"><i class="glyphicon glyphicon-remove"></i></button></td>
                            </tr>
                        </tbody>
                    </table>

                    <p>
                        <a href='@Response.ApplyAppPathModifier("/operations/index")'>Search Operations</a>
                    </p>

                </div>

                @*ROUTE OPERATION RESOURCES*@
                <div role="tabpanel" class="tab-pane" id="tabResources" ng-controller="ResourcesController as resCtrl" ng-init="resCtrl.Init(@Model.ID)">

                    <div class="row top-buffer-25 container">
                        <div class="col-xs-4">
                            <select class="form-control" ng-model="selectedOperation" ng-options="oper as oper.OperCode + ' - ' + oper.OperDesc for oper in resCtrl.listOperations" ng-change="resCtrl.ChangeOperation(selectedOperation)">
                                <option value="">Show All</option>
                            </select>
                        </div>
                        <div class="col-xs-4">
                            <select class="form-control" ng-model="newResource" ng-options="resource as resource.ResourceCode + ' - ' + resource.ResourceDesc for resource in resCtrl.listResources">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-xs-1">
                            <button class="btn btn-success" ng-disabled="!(selectedOperation && newResource)" ng-click="resCtrl.AddResource(selectedOperation, newResource)"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add</button>
                        </div>
                    </div>

                    <table class="table top-buffer-15">
                        <thead>
                            <tr>
                                <th class="col-xs-4">Operation</th>
                                <th class="col-xs-4">Resource</th>
                                <th class="col-xs-1">Sequence</th>
                                <th class="col-xs-1">Last Tag</th>
                                <th class="col-xs-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in resCtrl.gridResources">
                                <td>{{item.OperCode}} - {{item.OperDesc}}</td>
                                <td>{{item.ResourceCode}} - {{item.ResourceDesc}}</td>
                                <td>{{item.Sequence}}</td>
                                <td><input name="LastTag" type="radio" ng-click="resCtrl.CheckLastTag($event, item)" ng-checked="{{item.LastTag}}" /></td>
                                <td><button class="btn btn-danger btn-sm" ng-click="resCtrl.RemoveResource(item)"><i class="glyphicon glyphicon-remove"></i></button></td>
                            </tr>
                        </tbody>
                    </table>

                    <p>
                        <a href='@Response.ApplyAppPathModifier("/operations/index")'>Search Operations</a> | <a href='@Response.ApplyAppPathModifier("/resources/index")'>Search Resources</a>
                    </p>

                </div>

                @*ROUTE ITEM ASSIGNMENT*@
                <div role="tabpanel" class="tab-pane" id="tabItems" ng-controller="ItemsController as itmCtrl" ng-init="itmCtrl.Init(@Model.ID)">
                    <div class="row top-buffer-25">
                        <div class="col-xs-1">
                            <button class="btn btn-success" id="btn-add-item"><i class="glyphicon glyphicon-plus"></i> Add Item</button>
                        </div>
                    </div>

                    <div class="row top-buffer-15">
                        
                        <div class="col-xs-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="col-xs-2">Item Code</th>
                                        <th class="col-xs-6">Item Name</th>
                                        <th class="col-xs-2">Group Code</th>
                                        <th class="col-xs-1">Category</th>
                                        <th class="col-xs-1"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in itmCtrl.gridItems">
                                        <td>{{item.ItemCode}}</td>
                                        <td>{{item.ItemName}}</td>
                                        <td>{{item.ItmsGrpCod}}</td>
                                        <td>{{item.U_ITEMCAT01}}</td>
                                        <td><button class="btn btn-danger btn-sm" ng-click="itmCtrl.RemoveItem(item)"><i class="glyphicon glyphicon-remove"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        

                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

<div id="modal-add-item" class="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Select an Item to Assign</h4>
            </div>
            <div class="modal-body">
                <p>
                    <div class="input-group">
                        <input type="search" id="txt-item-search" class="form-control" placeholder="enter item details" aria-controls="Item" />
                        <span class="input-group-btn">
                            <button type="button" id="btn-item-search" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</button>
                        </span>
                    </div>
                </p>
                <table id="table-search" class="table">
                    <thead>
                        <tr>
                            <th class="col-xs-2">Item Code</th>
                            <th class="col-xs-7">Item Name</th>
                            <th class="col-xs-2">Group Code</th>
                            <th class="col-xs-1"></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close-bom-detail" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts{
    <script src="~/Scripts/angular.min.js"></script>
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/underscore-min.js"></script>
    @*<script src="~/Scripts/Route/app.js"></script>*@
    <script src="~/Scripts/shopfloor.datatable.js"></script>


    <script>
        var app = angular.module('RouteApp', []);


        app.controller('OperationsController', function ($http, $rootScope) {

            var ctrl = this;

            this.RouteID = 0;
            this.listOperations = []; // dropdown

            this.gridOperations = []; // table

            this.Init = function (routeid) {
                ctrl.RouteID = routeid;

                // populate dropdown list Operations
                $http({ method: 'GET', url: '@Response.ApplyAppPathModifier("/routes/GetOperations/")' })
                  .success(function (data) {
                      if (data) ctrl.listOperations = data;
                  });

                // populate table Route Operations
                $http({ method: 'GET', url: '@Response.ApplyAppPathModifier("/routes/GetRouteOperations/")' + ctrl.RouteID })
                  .success(function (data) {
                      if (data) ctrl.gridOperations = data;
                  });
            };

            this.AddOperation = function (operation) {

                // check if operation already exists
                if (_.find(ctrl.gridOperations, function (m) { return (m.OperationID == operation.ID) })) {
                    alert('This route operation already exists.');
                    return;
                }

                // associate this operation to route
                operation.OperationID = operation.ID;
                operation.RouteID = ctrl.RouteID;
                $http({ 'method': 'POST', 'url': '@Response.ApplyAppPathModifier("/routes/AddRouteOperation/")', 'data': JSON.stringify(operation) })
                .success(function (newrouteoperation) {
                    ctrl.gridOperations.push(newrouteoperation);
                    $rootScope.$broadcast('operationCreated', ctrl.RouteID);
                    toastr['success']('Record successfully created.');
                })
                .error(function (data, status, headers, config) {
                    alert('An error has occurred while adding Operation');
                    //return $q.reject(result);
                });



            };

            this.RemoveOperation = function (routeOp) {
                if (!confirm('are you sure you want to remove this route operation?')) return;

                $http({ 'method': 'GET', 'url': '@Response.ApplyAppPathModifier("/routes/DeleteRouteOperation/?routeOperationId=")' + routeOp.ID })
                .success(function () {
                    ctrl.gridOperations = _.reject(ctrl.gridOperations, function (m) { return (m.ID == routeOp.ID) });
                    $rootScope.$broadcast('operationRemoved', ctrl.RouteID);
                    toastr['success']('Record deleted.');
                })
                .error(function (data, status, headers, config) {
                    alert('This record is used elsewhere. Unable to delete.');
                });
            };

        });


        app.controller('ResourcesController', function ($http, $scope) {

            var ctrl = this;

            this.RouteID = 0;
            this.listOperations = []; // dropdown
            this.listResources = [];

            this.gridResources = []; // table

            $scope.$on('operationCreated', function (event, routeId) {
                ctrl.Init(routeId);
            });

            $scope.$on('operationRemoved', function (event, routeId) {
                ctrl.Init(routeId);
            });

            this.Init = function (routeid) {
                ctrl.RouteID = routeid;


                // populate Route Operations dropdown
                $http({ method: 'GET', url: '@Response.ApplyAppPathModifier("/routes/GetRouteOperations/")' + ctrl.RouteID })
                  .success(function (data) {
                      if (data) ctrl.listOperations = data;
                  });

                // populate Resources dropdown
                $http({ method: 'GET', url: '@Response.ApplyAppPathModifier("/routes/GetAllResources/")' })
                  .success(function (data) {
                      if (data) ctrl.listResources = data;
                  });

                // populate Route Operation Resources grid
                $http({ method: 'GET', url: '@Response.ApplyAppPathModifier("/routes/GetRouteResources/")' + ctrl.RouteID + '?operationId=0' })
                  .success(function (data) {
                      if (data) ctrl.gridResources = data;
                  });

            };

            this.ChangeOperation = function (operation) {

                var opId = 0;
                if (operation)
                    opId = operation.OperationID;

                // populate Route Operation Resources grid
                $http({ method: 'GET', url: '@Response.ApplyAppPathModifier("/routes/GetRouteResources/")' + ctrl.RouteID + '?operationId=' + opId })
                  .success(function (data) {
                      if (data) ctrl.gridResources = data;
                  });
            };

            this.AddResource = function (routeOp, resource) {

                // check if operation already exists
                if (_.find(ctrl.gridResources, function (m) { return (m.RouteOperationID == routeOp.ID && m.ResourceID == resource.ID) })) {
                    alert('This routing setup already exists.');
                    return;
                }

                // associate this operation to route
                var jsonData = { RouteOperationID: routeOp.ID, ResourceID: resource.ID }
                $http({ 'method': 'POST', 'url': '@Response.ApplyAppPathModifier("/routes/AddRouteResource/")', 'data': JSON.stringify(jsonData) })
                .success(function (newrouteoperation) {
                    ctrl.gridResources.push(newrouteoperation);
                    toastr['success']('Record successfully created.');
                })
                .error(function (data, status, headers, config) {
                    alert('An error has occurred while adding Route Resource.');
                });


            };

            this.RemoveResource = function (resource) {
                if (!confirm('are you sure you want to remove this routing setup?')) return;

                $http({ 'method': 'GET', 'url': '@Response.ApplyAppPathModifier("/routes/DeleteRouteResource/?routeOperationResourceId=")' + resource.ID })
                .success(function () {
                    ctrl.gridResources = _.reject(ctrl.gridResources, function (m) { return (m.ID == resource.ID) });
                    toastr['success']('Record deleted.');
                })
                .error(function (data, status, headers, config) {
                    alert('This record is still being used. Unable to delete. ');
                });
            };

            this.CheckLastTag = function ($event, item) {

                var checkbox = $event.target;
                if (checkbox.checked == false) {

                }
                else {
                }

                $http({ 'method': 'GET', 'url': '@Response.ApplyAppPathModifier("/routes/UpdateRouteResourceLastTag/?routeOperationResourceId=")' + item.ID })
                .success(function () {
                    toastr['success']('Last Tag updated.');
                })
                .error(function (data, status, headers, config) {
                    alert('Unable to set the Last Tag. ');
                });

            };

        });


        app.controller('ItemsController', function ($http, $scope) {

            var ctrl = this;

            this.RouteID = 0;
            this.gridItems = []; // table

            this.Init = function (routeid) {
                ctrl.RouteID = routeid;


                // populate table Items
                $http({ method: 'GET', url: '@Response.ApplyAppPathModifier("/routes/GetItemAssignments/")' + ctrl.RouteID })
                  .success(function (data) {
                      if (data) ctrl.gridItems = data;
                  });
            };

            $scope.AddItem = function (itemcode) {

                // check if item is already exists in ItemRoutes. 
                $http({ method: 'GET', url: '@Response.ApplyAppPathModifier("/routes/ItemAssignmentExists/?itemcode=")' + itemcode })
                  .success(function (route) {

                      if (!route) {


                          // add itemroute
                          var jsondata = { ItemCode: itemcode, RouteID: ctrl.RouteID };
                          $http({ method: 'POST', url: '@Response.ApplyAppPathModifier("/routes/AddItemAssignment/")', data: JSON.stringify(jsondata) })
                            .success(function (data) {
                                if (data) {
                                    ctrl.gridItems.push(data);
                                    toastr['success']('Record successfully created.');
                                }
                            })
                          .error(function () {
                              toastr['error']('Unable to create record');
                          });

                      }
                      else {
                          alert('This item is already being used by ' + route.RouteCode + '.');
                      }

                  });


            };

            this.RemoveItem = function (item) {
                if (!confirm('are you sure you want to remove this record?')) return;

                $http({ method: 'GET', url: '@Response.ApplyAppPathModifier("/routes/DeleteItemAssignment/?itemRouteId=")' + item.ID })
                  .success(function (data) {
                      ctrl.gridItems = _.reject(ctrl.gridItems, function (m) { return (m.ID == item.ID); });
                      toastr['success']('Record deleted.');
                  })
                  .error(function () {
                      alert('This record is still being used. Unable to delete.');
                  });

            }

        });
    </script>




    <script>

        var tblSearch = {};

        $(function () {

            tblSearch = new SearchTable('@ShopFloor.Constants.CONST_SEARCHTABLE_ITEM', '#table-search', '#txt-item-search', '#btn-item-search', selectFG, undefined, undefined);
            tblSearch.AjaxURL = '@Response.ApplyAppPathModifier(ShopFloor.Constants.CONST_SEARCHTABLE_URL)' + '@ShopFloor.Constants.CONST_SEARCHTABLE_ITEM';
            tblSearch.addDataTableColumn('ItemCode', true, true, true);
            tblSearch.addDataTableColumn('ItemName', true, true, true);
            tblSearch.addDataTableColumn('ItmsGrpCod', true, true, true);
            tblSearch.PageLength = 10;
            tblSearch.IDField = "ItemCode";
            tblSearch.ShowDeleteButton = false;
            tblSearch.showButtonText = false;
            tblSearch.showActionButtons = false;
            tblSearch.showSelectButton = true;
            tblSearch.initialize();

            $('#btn-add-item').click(function () {
                $('#modal-add-item').modal();
            })
        });

        var selectFG = function (id) {
            $('#modal-add-item').modal('hide');

            var scope = angular.element($('#tabItems')).scope();
            scope.$apply(function () {
                scope.AddItem(id);
            });
        };

    </script>
}