﻿@model ShopFloor.Entities.Route

@{
    ViewBag.Title = "Routes";
    ViewBag.ActiveMenu = "Routes";
    Layout = "_LayoutRoutesIndex.cshtml";
}

<h2>Search Routes</h2>

<div class="row">
    <div class="col-md-7 col-sm-7 col-xs-7">
        <div class="input-group">
			<input type="text" class="form-control txt-table-search" placeholder="search" name="SearchString">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary btn-search btn-table-search"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5">
        <a href="@Url.Action("Create")" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create New</a>
    </div>
</div>
<table class="table table-striped table-hover table-search" id="table-search-route">
	<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RouteCode)
        </th>
        <th class="hidden-xs__">
            @Html.DisplayNameFor(model => model.RouteDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>
	</thead>
	<tbody>
	</tbody>

</table>



@section Scripts{
<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.js"></script>
<script src="~/Scripts/shopfloor.datatable.js"></script>
    <script>

        var tableRoute = {};

        $(function () {
            tableRoute = new SearchTable('@ShopFloor.Constants.CONST_SEARCHTABLE_ROUTE', '.table-search', '.txt-table-search', '.btn-table-search', undefined, btnEditRow_Click, btnDeleteRow_Click);
            tableRoute.AjaxURL = '@Response.ApplyAppPathModifier(ShopFloor.Constants.CONST_SEARCHTABLE_URL)' + '@ShopFloor.Constants.CONST_SEARCHTABLE_ROUTE';
            tableRoute.addDataTableColumn('RouteCode', true, true);
            tableRoute.addDataTableColumn('RouteDesc', true, true);
            //tableRoute.addDataTableColumn('ItemCode', true, true);
            tableRoute.addDataTableColumn('Active', true, false);
            tableRoute.showActionButtons = true;
            tableRoute.showSelectButton = false;
            tableRoute.initialize();
        });


        var btnDeleteRow_Click = function (id) {
            $.get('@Response.ApplyAppPathModifier("/routes/deleteroute/")' + id, function () {
                tableRoute.reload();
                toastr['success']('Record deleted.');
            }, 'json')
            .fail(function (data) {
                toastr['error']('Route is in use. Unable to delete.');
            });
        }

        var btnEditRow_Click = function (id) {
            location.href = '@Response.ApplyAppPathModifier("/Routes/Edit/")' + id
        }

    </script>


}
