﻿@model ShopFloor.Web.Models.ListOperationModel
@{
    ViewBag.Title = "Operations";
    ViewBag.ActiveMenu = "RouteOperations";
    Layout = "_LayoutRoutesEdit.cshtml";
    ViewBag.RouteID = Model.RouteID;
    ViewBag.RouteCode = Model.RouteCode;
}



<div class="row">
    <div class="col-md-7 col-sm-7 col-xs-7">
        <h2>@Html.ActionLink(Model.RouteCode, "Edit", new { id = Model.RouteID }) Operations</h2>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5">
        <h2>
            <a href="@Url.Action("AssociateOperation", new { id=Model.RouteID })" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add Route Operation</a>
        </h2>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <table class="table table-striped table-hover table-search">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(m=>m.Self.OperCode)
                    </th>
                    <th class="hidden-xs">
                        @Html.DisplayNameFor(m=>m.Self.OperDesc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m=>m.Self.Sequence)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m=>m.Self.Active)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>

        @Html.Partial("_PagerPartial", Model)

        <p>
            @Html.ActionLink("View ALL RouteOperations", "Index", "RouteOperations")
        </p>
    </div>
</div>

@section Scripts{
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/shopfloor.datatable.js"></script>
    <script>
        $(function () {

            var table = new SearchTable('@ShopFloor.Constants.CONST_SEARCHTABLE_ROUTE', '.table-search', '.txt-table-search', '.btn-table-search', undefined, undefined, undefined);
            table.addDataTableColumn('OperCode', true, true);
            table.addDataTableColumn('OperDesc', true, true);
            table.addDataTableColumn('Sequence', true, false);
            table.addDataTableColumn('Active', true, false);
            table.showActionButtons = true;
            table.showSelectButton = false;
            table.initialize();

            $('.btn-delete-row').click(function () {
                if (confirm('are you sure you want to delete this record?')) {
                    var url = '@Url.Action("Delete", new { id = "[recordid]" })';
                    url = url.replace('[recordid]', $(this).data('id'));

                    $.get(url, function () {
                        alert('Record successfully delete!');
                        location.reload();
                    });
                }
                return false;
            });


        });
    </script>
}
