﻿@model ShopFloor.Entities.ResourceCategory

@{
    ViewBag.Title = "Categories";
    ViewBag.ActiveMenu = "Categories";
    Layout = "_LayoutResourceCategories.cshtml";
}

<h2>List of ResourceCategory</h2>

<div class="row">
    @using (Html.BeginForm("Form1")) { 
    <div class="col-md-7 col-sm-7 col-xs-7">
        <div class="input-group">
            <input type="text" class="form-control txt-table-search" placeholder="search" name="SearchString">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary btn-table-search"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5">
        <a href="@Url.Action("Create")" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create New</a>
    </div>
    }
</div>
<table class="table table-striped table-hover table-search">
	<thead>
    <tr>
        <th>
            Code
        </th>
        <th>
            Description
        </th>
        <th>
            Is Active
        </th>

        <th></th>
    </tr>
	</thead>
	<tbody>
	</tbody>

</table>

<p>
    @Html.ActionLink("Resources", "Index", "Resources")
</p>

@section Scripts{
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/shopfloor.datatable.js"></script>
    <script>
        var tableRoute = {};
        $(function () {
            tableRoute = new SearchTable('@ShopFloor.Constants.CONST_SEARCHTABLE_RESOURCECATEGORY', '.table-search', '.txt-table-search', '.btn-table-search', undefined, btnEditRow_Click, btnDeleteRow_Click);
            tableRoute.AjaxURL = '@Response.ApplyAppPathModifier(ShopFloor.Constants.CONST_SEARCHTABLE_URL)' + '@ShopFloor.Constants.CONST_SEARCHTABLE_RESOURCECATEGORY';
            tableRoute.addDataTableColumn('Code', true, true);
            tableRoute.addDataTableColumn('Description', true, true);
            tableRoute.addDataTableColumn('Active', true, true);
            tableRoute.showActionButtons = true;
            tableRoute.showSelectButton = false;
            tableRoute.initialize();
        });


        var btnDeleteRow_Click = function (id) {
            $.get('@Response.ApplyAppPathModifier("/resourcecategories/delete/")' + id, function () {
                toastr['success']('Record deleted.');
                tableRoute.reload();
            }, 'json')
            .fail(function (data) {
                toastr['error']('Resource Category is in use. Unable to delete.');
            });
        }

        var btnEditRow_Click = function (id) {
            location.href = '@Response.ApplyAppPathModifier("/resourcecategories/Edit/")' + id
        }

    </script>
}