﻿@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "Page Not Found";
}
<div class="container">
    <div class="jumbotron">
        <h1>Ooops. Page not found.</h1>
        <a href="/" class="btn btn-primary btn-lg">Lets take you home</a>
    </div>
</div>