﻿@model EditBOMModel


<div class="row">
    <div class="col-lg-8 col-md-9">
        @using (Html.BeginForm("FormBOM"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(m => m.ID)
				@Html.HiddenFor(m => m.IsFinal)
				@Html.HiddenFor(m => m.BOMHeadeIDCopy)

                @*BOM Type*@
                <div class="form-group">
                    <label class="control-label col-md-3" for="BOMType">BOM Type</label>
                    <div class="col-md-9">
                        @Html.DropDownListFor(m => m.BOMType, Model.GetBOMTypes(), "", new { @class = "form-control", autofocus = "" }).IsReadonly(Model?.IsFinal ?? false)
                        @Html.ValidationMessageFor(model => model.BOMType, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*BOM Code*@
                <div class="form-group">
                    <label class="control-label col-md-3" for="BOMType">BOM Code</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.BOMCode, new { htmlAttributes = new { @class = "form-control" } }).IsReadonly(Model?.IsFinal ?? false || Model?.BOMHeadeIDCopy > 0)
                        @Html.ValidationMessageFor(model => model.BOMCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*BOM Description*@
                <div class="form-group">
                    <label class="control-label col-md-3" for="BOMName">Description</label>
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.BOMName, new { @class = "form-control" }).IsReadonly(Model?.IsFinal ?? false)
                        @Html.ValidationMessageFor(model => model.BOMName, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*Revision*@
				<div class="form-group">
					<label class="control-label col-md-3" for="BOMSeries">Revision</label>
					<div class="col-md-9">
						@Html.EditorFor(model => model.BOMSeries, new { htmlAttributes = new { @class = "form-control" } }).IsReadonly(Model?.IsFinal ?? false)
						@Html.ValidationMessageFor(model => model.BOMSeries, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-3" for="EffectFrom">Effective From</label>
					<div class="col-md-9">
						<div class="input-group">
							@Html.EditorFor(model => model.EffectFrom, new { htmlAttributes = new { @class = "form-control txt-effectivity-date" } }).IsReadonly(Model?.IsFinal ?? false)
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						</div>
						@Html.ValidationMessageFor(model => model.EffectFrom, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-3" for="EffectTo">Effective To</label>
					<div class="col-md-9">
						<div class="input-group">
							@Html.EditorFor(model => model.EffectTo, new { htmlAttributes = new { @class = "form-control txt-effectivity-date" } })
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						</div>
						@Html.ValidationMessageFor(model => model.EffectTo, "", new { @class = "text-danger" })
					</div>
				</div>

                <div id="form-group-save" class="form-group">
                    <div class="col-md-offset-3 col-md-9">
						<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save</button>
                        @if (Model.IsFinal.GetValueOrDefault(false) == false)
                        {
                            <a id="btn-markasfinal" href="@Url.Action("MarkAsFinal", new { id = Model.ID })" class="btn btn-success"><span class="glyphicon glyphicon-lock"></span>&nbsp;Mark as Final</a>
						}
						else
						{
							<button class="btn btn-default disabled" title="this BOM has already been marked as final"><span class="glyphicon glyphicon-lock"></span>&nbsp;Marked as Final</button>
							<button class="btn btn-success" id="btn-copy-bom"><span class="fa fa-copy"></span>&nbsp;Copy</button>
						}
                    </div>
                </div>

				<div id="form-group-new" class="form-group">
					<div class="col-md-offset-3 col-md-9">
						<button id="btn-next" type="button" class="btn btn-success"><span class="fa fa-plus"></span>&nbsp;@( Model.BOMHeadeIDCopy > 0 ? "Copy" : "Next" )</button>
					</div>
				</div>


            </div>
        }

        <p>
            @Html.ActionLink("Search BOM", "Index")&nbsp;|&nbsp;@Html.ActionLink("Create New", "Create")
        </p>

    </div>
</div>

<script>
	var urlBOMCopy = '@Response.ApplyAppPathModifier(@Url.Action("Copy", "BOM"))'; // POST url for Copy button feature
</script>