﻿@model EditBOMModel

@{
    ViewBag.Title = "Create BOM";
    ViewBag.ActiveMenu = "BOM";
}

<h2>BOM Creation</h2>
<h4>Create BOM</h4>
<hr />

@Html.Partial("_EditBOMPartial", @Model)




@section Scripts{
<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/jquery.datetimepicker.js"></script>
<script src="~/Scripts/BOM/header.js"></script>
<script>

	$('#form-group-new').show();
	$('#form-group-save').hide();

    $(function () {
    	$('#btn-next').click(function () {
    		var frm = $('#FormBOM');
    		frm.validate();
    		if (frm.valid())
    		{
    			if (!confirm('This will create a new BOM. Are you sure you want to continue?')) {
    				return false;
    			}

    			frm.attr('action', '@Response.ApplyAppPathModifier(Url.Action("Create", "BOM"))');
    			frm.submit();
    		}
    	})
    });
</script>
}