﻿@model EditBOMModel
@{
	ViewBag.Title = "Edit BOM";
	ViewBag.ActiveMenu = "BOM";
}

<h2>BOM Creation</h2>
<h4>Edit BOM Details</h4>
<hr />

@Html.Partial("_EditBOMPartial", @Model)

<div class="row">

	<div class="col-lg-12">

		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#tabBomDetails" aria-controls="BOMDetails" role="tab" data-toggle="tab">BOM Details</a></li>
			<li role="presentation"><a href='@Response.ApplyAppPathModifier("/bom/ItemAssignment/" + Model.ID)'>Item Assignment</a></li>
			<li id="liSubstituteRM" role="presentation">
				@Html.ActionLink("Substitute RM", "SubstituteRM", new { id = Model.ID })
			</li>
		</ul>

		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="tabBomDetails">
				<table id="BOMDetails" class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th>RM Code</th>
							<th>RM Description</th>
							<th>ItmsGrpCod</th>
							<th>Unit of Measure</th>
							<th>UoM Factor</th>
							<th>RM Factor</th>
							<th>Quantity</th>
							<th>Allowance</th>
							<th>
								@if (Model.IsFinal.GetValueOrDefault(false) == false)
								{
									<button id="btn-add-detail" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add Detail</button>
								}
							</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>

			</div>
		</div> @*tab-content*@

	</div>
</div>



@*************************************************@
@********* BEGIN MODAL EDIT BOM DETAILS **********@
@*************************************************@
<div id="modal-edit-bom-detail" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close close-bom-detail" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 id="h4-edit-bom-title" class="modal-title">Edit BOM Detail</h4>
			</div>
			<div class="modal-body">
				<div id="div-edit-bom-detail"></div>
			</div>
			<div class="modal-footer">
				<button type="button" id="btn-save-bom-detail" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Save</button>
				<button type="button" class="btn btn-default close-bom-detail" data-dismiss="modal">Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@***********************************************@
@********* END MODAL EDIT BOM DETAILS **********@
@***********************************************@





@***********************************************@
@********* BEGIN MODAL ADD BOM DETAIL **********@
@***********************************************@
<div id="modal-add-bom-detail" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close close-bom-detail" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 id="h4-add-bom-title" class="modal-title">Add BOM Detail</h4>
			</div>
			<div class="modal-body">
				<div id="div-add-bom-detail"></div>
			</div>
			<div class="modal-footer">
				<button type="button" id="btn-create-bom-detail" class="btn btn-success pull-left"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create</button>
				<button type="button" class="btn btn-default close-bom-detail" data-dismiss="modal">Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*********************************************@
@********* END MODAL ADD BOM DETAIL **********@
@*********************************************@



@*****************************************************@
@********* BEGIN MODAL SEARCH RAW MATERIALS **********@
@*****************************************************@
<div id="modal-search-rmitem" class="modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Search for Raw Material</h4>
			</div>
			<div class="modal-body">
				<p>
					<div class="input-group">
						<input type="search" id="txt-table-search-rm" class="form-control" placeholder="search" aria-controls="BOMTable" />
						<span class="input-group-btn">
							<button type="button" id="btn-table-search-rm" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</button>
						</span>
					</div>
				</p>
				<table id="table-search-rm" class="table table-condensed">
					<thead>
						<tr>
							<th>RM Code</th>
							<th>RM Name</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@***************************************************@
@********* END MODAL SEARCH RAW MATERIALS **********@
@***************************************************@




@section Scripts{
	<style>
		#div-bom-detail-actions {
			display: none;
		}
	</style>
	<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
	<script src="~/Scripts/jquery.dataTables.min.js"></script>
	<script src="~/Scripts/dataTables.bootstrap.js"></script>
	<script src="~/Scripts/shopfloor.datatable.js"></script>
	
	<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
	<script src="~/Scripts/jquery.datetimepicker.js"></script>
	<script src="~/Scripts/BOM/header.js"></script>

	<script>

		var tableBOMDetails = {};
		var tableRMSearch = {};

		// search RMCode button click event in Add/Edit popup
		$(document).on('click', '#btn-search-rmcode', function () {
			$('#modal-search-rmitem').modal('show');
		});

		// Create (submit) button in Add BOM Detail popup
		$(document).on('click', '#btn-create-bom-detail', function () {

			var frm = $('#form-bom-detail');
			if (frm.valid()) {

				// check if item code is valid
				$.get(getIsItemCodeValidURL(), function (b) {
					if (b) {
						// if it is then create
						var data = frm.serialize();

						$.post('@Response.ApplyAppPathModifier("/bomdetail/createpartial")', data, function (response) {
							tableBOMDetails.reload();
							toastr["success"]("BOM Detail successfully created.");
							$('#liSubstituteRM').show();
						})
						.always(function () {
							$('#modal-add-bom-detail').modal('hide');
							$('#div-add-bom-detail').html('');
						});
					}
					else {
						toastr["error"]("ItemCode does not exist!");
					}
				});
			}
		});

		// Save (submit) button in Edit BOM Detail popup
		$(document).on('click', '#btn-save-bom-detail', function () {

			var frm = $('#form-bom-detail');
			if (frm.valid()) {

				// check if item code is valid
				$.get(getIsItemCodeValidURL(), function (b) {
					if (b) {
						// if it is then save
						var data = frm.serialize();

						$.post('@Response.ApplyAppPathModifier("/bomdetail/editpartial")', data, function (response) {
							tableBOMDetails.reload();

							toastr["success"]("BOM Detail successfully saved.");
						})
						.always(function () {

							$('#modal-edit-bom-detail').modal('hide');
							$('#div-edit-bom-detail').html('');
						});
					}
					else {
						toastr["error"]("ItemCode does not exist!");
					}
				});
			}
		});

		function getIsItemCodeValidURL() {
			return '@Response.ApplyAppPathModifier("/bom/IsItemCodeValid/?code=")' + $('#RMCode').val()
		}

		// Select button click in Item Search popup
		var selectFGClick = function (id) {
			$('#SearchFGItemCode').val(id);
			//todo:get fgname
			//$('#FGItemName').val(desc);
			$('#modal-search-fgitem').modal('hide');
		}

		var selectRMClick = function (id) {

			$('#RMCode').val(id);

			var jqxhr = $.get('@Response.ApplyAppPathModifier("/bom/getrawmaterial/?itemCode=")' + id, {}, function (item) {
				$('#RMName').val(item.ItemName);
				$('#UOM').val(item.InvntryUom);
				$('#ItmsGrpCod').val(item.ItmsGrpCod);
				$('#SAPUnitCost').val(item.SAPUnitCost);

				$('#modal-search-rmitem').modal('hide');
			}, 'json');
		};



		$(function () {

			@if(Model.BOMDetails.Count > 0)
			{
				@:$('#liSubstituteRM').show();
			}
			else
			{
				@:$('#liSubstituteRM').hide();
			}


			tableRMSearch = new SearchTable('@ShopFloor.Constants.CONST_SEARCHTABLE_ADDBOMFG', '#table-search-rm', '#txt-table-search-rm', '#btn-table-search-rm', selectRMClick, undefined, undefined);
			tableRMSearch.AjaxURL = '@Response.ApplyAppPathModifier(ShopFloor.Constants.CONST_SEARCHTABLE_URL)' + '@ShopFloor.Constants.CONST_SEARCHTABLE_ADDBOMFG';
			tableRMSearch.addDataTableColumn('ItemCode', true, true);
			tableRMSearch.addDataTableColumn('ItemName', true, true);
			tableRMSearch.showActionButtons = false;
			tableRMSearch.showSelectButton = true;
			tableRMSearch.PageLength = 10;
			tableRMSearch.IDField = 'ItemCode';
			tableRMSearch.initialize();

			var searchType = '@Html.Raw(string.Concat(ShopFloor.Constants.CONST_SEARCHTABLE_BOMDETAIL, "&filter=", Model.ID))';
			console.log('SearchType: ' + searchType);
			tableBOMDetails = new SearchTable(searchType, '#BOMDetails', 'xxx', 'xxx', undefined, editRowClick, deleteRowClick);
			tableBOMDetails.AjaxURL = '@Response.ApplyAppPathModifier(ShopFloor.Constants.CONST_SEARCHTABLE_URL)' + searchType;
			tableBOMDetails.addDataTableColumn('RMCode', true, true);
			tableBOMDetails.addDataTableColumn('RMName', true, true);
			tableBOMDetails.addDataTableColumn('ItmsGrpCod', true, true);
			tableBOMDetails.addDataTableColumn('UOM', true, true);
			tableBOMDetails.addDataTableColumn('UoMFactorDisplay', true, true);
			tableBOMDetails.addDataTableColumn('RMFactorDisplay', true, true);
			tableBOMDetails.addDataTableColumn('RMQuantityDisplay', true, true);
			tableBOMDetails.addDataTableColumn('Allowance', true, true);
			tableBOMDetails.showActionButtons = true;
			tableBOMDetails.showSelectButton = false;
			tableBOMDetails.showButtonText = false;
			tableBOMDetails.PageLength = 50;
			tableBOMDetails.ServerSide = false;
			tableBOMDetails.initialize();


			// Mark As Final button click
			$('#btn-markasfinal').click(function () {
				if (!confirm('Are you sure you want to mark this BOM as final?')) {
					return false;
				}
			});

			// Add Detail button in Main screen
			$('#btn-add-detail').click(function () {
				var url = '@Response.ApplyAppPathModifier("/bomdetail/CreatePartial/")' + @Model.ID + '?t=' + new Date().getTime();
				$.get(url, function (data) {
					$('#div-add-bom-detail').html(data);
					$.validator.unobtrusive.parse("form");
					$('#modal-add-bom-detail').modal('show');
				});
			});


			// user clicks on search FG Item Code
			$('#btn-SearchFGItemCode').click(function () {
				$('#modal-search-fgitem').modal('show');
			});

			$('.close-bom-detail').click(function () {
				$('#div-edit-bom-detail').html('');
				$('#div-add-bom-detail').html('');
			});

		});




		// Edit button in Search BOMDetail table row
		var editRowClick = function (id) {

			var url = '@Response.ApplyAppPathModifier("/bomdetail/editPartial/")' + id + '?t=' + new Date().getTime();
			$.get(url, function (data) {
				$('#div-edit-bom-detail').html(data);
				$.validator.unobtrusive.parse("form");
				$('#modal-edit-bom-detail').modal('show');
			});

			return false;
		};

		// Delete button in Search BOMDetail table row
		var deleteRowClick = function (id) {

			//if(!confirm('Are you sure you want to delete this BOM detail?')) return false;

			var url = '@Response.ApplyAppPathModifier("/bomdetail/delete/")' + id + '?t=' + new Date().getTime();
			$.get(url, function (data) {
				tableBOMDetails.reload();
				toastr["success"]("BOM Detail successfully deleted.");
			});

			return false;
		};

	</script>
}