﻿@model ShopFloor.Web.Models.ListBaseModel<ShopFloor.Entities.BillOfMaterial>


@{
    ViewBag.Title = "BOM";
    ViewBag.ActiveMenu = "BOM";
}

<h2>List of BillOfMaterial</h2>

<p>
    <div class="input-group">
        <input type="search" id="txt-search" class="form-control" placeholder="search" aria-controls="BOMTable" />
        <span class="input-group-btn">
            <button type="button" id="btn-search-popup" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</button>
        </span>
    </div>
</p>
<table class="table table-condensed" id="BOMTable">
    <thead>
        <tr>
            <th></th>
            <th>ItemCode</th>
            <th>ItemName</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot></tfoot>
</table>

@section Scripts{
@*<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />*@
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.js"></script>
<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />    
<style>
    .dataTables_filter, .dataTables_length { display: none; }
</style>
<script>
    $(function () {

        $("#BOMTable").dataTable({
            "serverside": true,
            "ajax": "/search/search?what=&table=item",
            "pageLength": 50,
            "order": [[1, "asc"]],
            "columnDefs": [{
                "targets": [0],
                "data": null,
                "searchable": false,
                "orderable": false,
                "render": function (data, type, full, meta) {
                    return "<button class='btn btn-primary btn-xs btn-select-row' data-id='" + data.ItemCode + "'>Select</button>";
                }},
                { "targets": [1], data: 'ItemCode'},
                { "targets": [2], data: 'ItemName' }
                ]
            });

            var table = $("#BOMTable").dataTable();
            $('#txt-search').keyup(function () {
                //table.search(this.value).draw();
                table.fnFilter(this.value);
            })
        });

    </script>

}

