﻿@model ShopFloor.Entities.BillOfMaterial
@{
    ViewBag.ActiveMenu = "SearchBOM";
}

<h2>Search BOM</h2>

<div class="row">
    <div class="col-md-7 col-sm-7 col-xs-7">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="enter BOM or Item details" id="txt-search" autofocus>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5">
        <a href="@Url.Action("Create")" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create New</a>
    </div>
</div>
<table id="table-search" class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>
                BOM Code
            </th>
            <th>
                BOM Type
            </th>
            <th>
                Revision
            </th>
            <th>
                Name
            </th>
            <th>
                Final
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>

</table>


@section Scripts{

    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/shopfloor.datatable.js"></script>

    <script src="~/Scripts/mustache.min.js"></script>
    <script>

        var table = {};

        $(function () {

            table = new SearchTable('@ShopFloor.Constants.CONST_SEARCHTABLE_BOM', '#table-search', '#txt-search', '#btn-table-search', undefined, btnEditRow_Click, btnDeleteRow_Click);
            table.AjaxURL = '@Response.ApplyAppPathModifier(ShopFloor.Constants.CONST_SEARCHTABLE_URL)' + '@ShopFloor.Constants.CONST_SEARCHTABLE_BOM';
            table.addDataTableColumn('BOMCode', true, true);
            table.addDataTableColumn('BOMTypeName', true, true);
            table.addDataTableColumn('BOMSeries', true, true);
            table.addDataTableColumn('BOMName', true, true);
            table.addDataTableColumn('IsFinal', true, false);
            table.showActionButtons = true;
            table.showSelectButton = false;
            table.ServerSide = true;
            table.initialize();

         });

        var btnDeleteRow_Click = function (id) {
            $.get('@Response.ApplyAppPathModifier("/bom/delete/")' + id, function () {
                toastr['success']('BOM deleted successfully.');
                table.table.draw();
            }, 'html')
            .fail(function (data) {
                toastr['error']('BOM is already in use. Unable to delete record.');
            });
        }

        var btnEditRow_Click = function (id) {
            location.href = '@Response.ApplyAppPathModifier("/bom/Editbomdetails/")' + id
        }


    </script>
}

