﻿@model EditBOMModel
@{
    ViewBag.Title = "Edit BOM";
    ViewBag.ActiveMenu = "BOM";
}

<h2>BOM Creation</h2>
<h4>Edit BOM Details</h4>
<hr />

@Html.Partial("_EditBOMPartial", @Model)

<div class="row">

    <div class="col-lg-12">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation">
                @Html.ActionLink("BOM Details", "EditBOMDetails", new { id=Model.ID })
            </li>
            <li role="presentation" class="active"><a href="#tabItemAssignment" aria-controls="BOMDetails" role="tab" data-toggle="tab">Item Assignment</a></li>
			<li id="liSubstituteRM" role="presentation">
				@Html.ActionLink("Substitute RM", "SubstituteRM", new { id = Model.ID })
			</li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tabItemAssignment">

				@if (Model.IsFinal.GetValueOrDefault(false))
				{
					<table id="table-BOMItems" class="table table-condensed table-striped table-hover">
						<thead>
							<tr>
								<th>Item Code</th>
								<th>Item Description</th>
								<th>
									<a id="btn-add-bom-fg" class="btn btn-success btn-xs pull-right"><i class="glyphicon glyphicon-plus"></i> Add FG</a>
								</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				}
				else
				{
					<div class="well-lg">
						<div class="alert alert-danger" role="alert">Mark this BOM as <span class="label label-success"><i class="fa fa-lock"></i> FINAL</span> to be able to assign items.</div>
					</div>
					
				}

            </div>
        </div> @*tab-content*@

    </div>
</div>

<div id="modal-add-bom-fg" class="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="h4-edit-bom-title" class="modal-title">Add BOM FG</h4>
            </div>
            <div class="modal-body">
                <div id="div-add-bom-fg">
                    <p>
                        <div class="input-group">
                            <input type="search" id="txt-table-search-fg" class="form-control" placeholder="search" aria-controls="BOMTable" />
                            <span class="input-group-btn">
                                <button type="button" id="btn-table-search-fg" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</button>
                            </span>
                        </div>
                    </p>
                    <table class="table table-condensed table-search">
                        <thead>
                            <tr>
                                <th>ItemCode</th>
                                <th>ItemName</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-create-bom-fg" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts{
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/shopfloor.datatable.js"></script>

	<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
	<script src="~/Scripts/jquery.datetimepicker.js"></script>
	<script src="~/Scripts/BOM/header.js"></script>

    <script>

		@if(Model.BOMDetails.Count > 0)
		{
			@:$('#liSubstituteRM').show();
		}
		else
		{
			@:$('#liSubstituteRM').hide();
		}

        var selectFG = function (id) {

            var url = '@Response.ApplyAppPathModifier($"/bom/ValidateItem/{Model.ID}?itemCode=")' + id;
            $.get(url, function (response) {

                if (response === true) {
                    // assign to current BOM
                    url = '@Response.ApplyAppPathModifier("/bom/CreateItemBOM/" + Model.ID + "?itemCode=")' + id;

                    $.get(url, function (response) {
                        tbl.table.draw();
                        toastr['success']('Item ' + id + ' assigned to current BOM.');
                    })
                    .always(function () {
                        $('#modal-add-bom-fg').modal('hide');
                    });
                }
                else {
                    toastr['error'](response);
                    alert(response);
                }

            })
            .fail(function (err) {
                alert(JSON.stringify(err));
            })



        };

        var deleteFG = function (id) {
            var url = '@Response.ApplyAppPathModifier("/bom/DeleteItemBOM/")' + id;
            $.get(url, function (response) {
                tbl.table.draw();
                toastr['success']('Item ' + id + ' deleted.');
            });

        }

        $('#btn-add-bom-fg').click(function () {
            $('#modal-add-bom-fg').modal('show');
        });

    var tbl = {};

    $(function () {

        tbl = new SearchTable('', '#table-BOMItems', '', '', undefined, undefined, deleteFG);
        tbl.AjaxURL = '@Response.ApplyAppPathModifier("/bom/itemassignments/" + Model.ID)';
        tbl.addDataTableColumn('ItemCode', true, true, true);
        tbl.addDataTableColumn('ItemName', true, true, true);
        tbl.showActionButtons = false;
        tbl.ShowDeleteButton = true;
        tbl.showButtonText = false;
        tbl.initialize();

        var tblSearch = new SearchTable('@ShopFloor.Constants.CONST_SEARCHTABLE_ITEM', '.table-search', '#txt-table-search-fg', '#btn-table-search-fg', selectFG, undefined, undefined);
        tblSearch.AjaxURL = '@Response.ApplyAppPathModifier(ShopFloor.Constants.CONST_SEARCHTABLE_URL)' + '@ShopFloor.Constants.CONST_SEARCHTABLE_ITEMASSIGNMENT';
        tblSearch.addDataTableColumn('ItemCode', true, true, true);
        tblSearch.addDataTableColumn('ItemName', true, true, true);
        tblSearch.PageLength = 10;
        tblSearch.IDField = "ItemCode";
        tblSearch.ShowDeleteButton = false;
        tblSearch.showButtonText = false;
        tblSearch.showActionButtons = false;
        tblSearch.showSelectButton = true;
        tblSearch.initialize();


    });

    </script>
}