﻿@model EditBOMModel
@{
	ViewBag.Title = "Edit BOM";
	ViewBag.ActiveMenu = "BOM";
}

<h2>BOM Creation</h2>
<h4>Edit BOM Details</h4>
<hr />

@Html.Partial("_EditBOMPartial", @Model)

<div class="row">

	<div class="col-lg-12">

		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation">
				@Html.ActionLink("BOM Details", "EditBOMDetails", new { id = Model.ID })
			</li>
			<li role="presentation"><a href='@Response.ApplyAppPathModifier("/bom/ItemAssignment/" + Model.ID)'>Item Assignment</a></li>
			<li role="presentation" class="active"><a href="#tabSubRM" aria-controls="BOMDetails" role="tab" data-toggle="tab">Substitute RM</a></li>
		</ul>

		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="tabSubRM">

				<table id="table-subs" class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th>Primary RM Code</th>
							<th>Item Code</th>
							<th>Item Description</th>
							<th>
								<a id="btn-add-subs-rm" class="btn btn-success btn-xs pull-right"><i class="glyphicon glyphicon-plus"></i> Subs RM</a>
							</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>

			</div>
		</div> @*tab-content*@

	</div>
</div>

<div id="modal-add-sub" class="modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 id="h4-edit-bom-title" class="modal-title">Add Substitute RM</h4>
			</div>
			<div class="modal-body">
				<div id="div-add-bom-fg">

					@Html.Partial("/Views/BOMDetailSubs/_EditModel.cshtml", new EditBOMDetailSub())

				</div>
			</div>
			<div class="modal-footer">
				<button type="button" id="btn-create-sub" class="btn btn-success pull-left"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts{

	<style>
		.group-save, .group-create{
			display:none;
		}
	</style>

	<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
	<script src="~/Scripts/jquery.dataTables.min.js"></script>
	<script src="~/Scripts/dataTables.bootstrap.js"></script>
	<script src="~/Scripts/shopfloor.datatable.js"></script>

	<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
	<script src="~/Scripts/jquery.datetimepicker.js"></script>
	<script src="~/Scripts/BOM/header.js"></script>

	<script>

        var deleteFG = function (id) {
            var url = '@Response.ApplyAppPathModifier("/BOMDetailSubs/Delete/")' + id;
            $.get(url, function (response) {
                tbl.table.draw();
                toastr['success']('Item ' + id + ' deleted.');
            });

        }

        $('#btn-add-subs-rm').click(function () {
            $('#form-bom-sub').find("input[type=text], textarea").val("");
            $('#modal-add-sub').modal('show');

        });

        var tblSearch = {};

        var tbl = {};

        selectFG = function (id) {

            $('#RMCodeSubs').val(id);
            $('#RMCodeSubs').blur();

            var jqxhr = $.get('@Response.ApplyAppPathModifier("/bom/getrawmaterial/?itemCode=")' + id, {}, function (item) {
                $('#RMCodeSubsName').val(item.ItemName);
                $('#UOM').val(item.InvntryUom);
                $('#ItmsGrpCode').val(item.ItmsGrpCod);
                $('#UnitCost').val(item.SAPUnitCost);
                $('#modal-search-subs').modal('hide');


            }, 'json');
        }

        btnCreateClick = function () {
            var frm = $('#form-bom-sub');
            frm.validate();
            if (frm.valid()) {

                var data = frm.serialize();

                $.post('@Response.ApplyAppPathModifier("/bomdetailsubs/create")', data, function (response) {
                    if (response) {
                        toastr['success']('record successfully created.');
                        $('#modal-add-sub').modal('hide');
                        tbl.reload();
                    }
                    else {
                    	toastr['error']('Unable to create record. Possible duplicate.');
                        //console.log('Unable to create record.');
                    }
                });
            }
            else {
                console.log('Form is not valid');
            }
        }

        $(function () {

            tbl = new SearchTable('@Response.ApplyAppPathModifier("/BOMDetailSubs/SubstituteRM?bomHeaderId=" + Model.ID)', '#table-subs', '', '', undefined, undefined, deleteFG);
            tbl.AjaxURL = '@Response.ApplyAppPathModifier("/BOMDetailSubs/SubstituteRM?bomHeaderId=" + Model.ID)';
            tbl.addDataTableColumn('RMCodePrime', true, true, true);
            tbl.addDataTableColumn('RMCodeSubs', true, true, true);
            tbl.addDataTableColumn('RMCodeSubsName', true, true, true);
            tbl.showActionButtons = false;
            tbl.ShowDeleteButton = true;
            tbl.showButtonText = false;
            tbl.initialize();

            tblSearch = new SearchTable('@ShopFloor.Constants.CONST_SEARCHTABLE_ITEM', '.table-search-subs', '#txt-table-search-subs', '#btn-table-search-subs', selectFG, undefined, undefined);
            tblSearch.AjaxURL = '@Response.ApplyAppPathModifier(ShopFloor.Constants.CONST_SEARCHTABLE_URL)' + '@ShopFloor.Constants.CONST_SEARCHTABLE_RAWMATERIALS';
            tblSearch.addDataTableColumn('ItemCode', true, true, true);
            tblSearch.addDataTableColumn('ItemName', true, true, true);
            tblSearch.PageLength = 10;
            tblSearch.IDField = "ItemCode";
            tblSearch.ShowDeleteButton = false;
            tblSearch.showButtonText = false;
            tblSearch.showActionButtons = false;
            tblSearch.showSelectButton = true;
            tblSearch.initialize();

            $('#btn-search-rmcode').click(function () {
                $('#modal-search-subs').modal('show');
            });


            $('#btn-create-sub').click(btnCreateClick);

        });

	</script>
}