﻿@model IEnumerable<ShopFloor.DTO.MOReschedule>
@{
    ViewBag.Title = "Reschedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MO Rescheduling</h2>
<h4>Rearrange items below by dragging. Click Reschedule to save changes.</h4>
<hr />

<div class="row header">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">MOPriority</div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">MONumber</div>
    <div class="col-xs-2 col-sm-4 col-md-2 col-lg-2">FG Code</div>
    <div class="                  col-md-4 col-lg-4 hidden-sm hidden-xs">FG Name</div>
    <div class="col-xs-1 col-sm-2 col-md-1 col-lg-1">StartDate</div>
    <div class="                  col-md-1 col-lg-1 hidden-md hidden-sm hidden-xs">EstRunTime</div>
    <div class="col-xs-1 col-sm-2 col-md-1 col-lg-1">EndDate</div>
    <div class="col-xs-1 col-sm-2 col-md-1 col-lg-1">DeliveryDate</div>
</div>

<ul id="sortable">

    @foreach (var sched in Model)
    {
        <li class="ui-state-default">

            <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 c c-priority">@sched.MOPriority</div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 c c-monumber">@sched.MONumber</div>
                <div class="col-xs-2 col-sm-4 col-md-2 col-lg-2 c c-fgcode">@sched.FGCode</div>
                <div class="                  col-md-4 col-lg-4 hidden-sm hidden-xs">@sched.FGName</div>
                <div class="col-xs-1 col-sm-2 col-md-1 col-lg-1 c c-startdate">@sched.MinStartDate</div>
                <div class="                  col-md-1 col-lg-1 hidden-md hidden-sm hidden-xs">@sched.EstRunTime</div>
                <div class="col-xs-1 col-sm-2 col-md-1 col-lg-1 c c-enddate">@sched.MaxEndDate</div>
                <div class="col-xs-1 col-sm-2 col-md-1 col-lg-1 c c-deliverydate">@sched.MinDeliveryDate</div>
            </div>

        </li>
    }
</ul>





<div class="row">

    <button id="btn-reschedule" type="button" class="btn btn-success btn-lg"><i class="fa fa-calendar-check-o"></i> Reschedule</button>
    <a href=@Url.Action("MOByResource", "ManufacturingOrder") class="btn btn-primary btn-lg"><i class="fa fa-search"></i> MO By Resource</a>
    

</div>


@section Heads{
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Scripts/jquery-ui.js"></script>
    
    <style>
        #sortable {
            list-style-type: none;
            margin: 0;
            padding: 0;
            /*background-color: #fff;*/
            margin-bottom: 15px;
            padding-top: 4px;
        }

        #sortable li {
            /*margin: 0 3px 3px 3px;*/
            /*border-top: 1px solid red;*/
            /*height:65px;*/
        }

        #sortable li div.row {
            border: 1px solid #465746;
            padding-top:10px;
            margin-top:2px;
            background-color:#647C64;
            color:white;
        }

        #sortable li:first-child div {
            /*border-top-width:2px;*/
            /*background-color:green;*/
        }
        
        #sortable li:hover{
            cursor:move;
        }

        div.header{
            font-weight:bolder;
            /*margin-right:0px*/
        }


        .c-priority{
            font-weight:bold;
        }

        .red{
            background-color:red;
        }

    </style>
    <script>

        var sortingOrig = [];
        var sortingNew = [];

    $(function () {
        $("#sortable").sortable({
            change: sortableChanged,
            sort: sortableSort,
            start: sortableStart,
            stop: sortableStop
        });
        $("#sortable").disableSelection();


        getCurrentSorting(sortingOrig);

        $('#btn-reschedule').click(function () {

            var data = JSON.stringify(getCurrentSorting());
            $.ajax({
                url: '@Response.ApplyAppPathModifier("/moschedule/reschedule")',
                type: 'POST',
                dataType: 'json',
                tranditional: true,
                data: data,
                contentType: "application/json",
                success: function () {
                    location.reload();
                },
                error: function () {
                    toastr['error']('Unable to reschedule.')
                }
            });


        });

    });

    function getCurrentSorting() {
        var arr = [];
        $('#sortable li').each(function (item) {
            arr.push({
                MOHeaderID: 0,
                MONumber: $(this).find('.c-monumber').text(),
                MOPriority: $(this).find('.c-priority').text(),
                MinStartDate: $(this).find('.c-startdate').text(),
                MaxEndDate: $(this).find('.c-enddate').text(),
                FGCode: "",
                FGName: "",
                MinDeliveryDate:null,
                });
        });
        return arr;
    }

    var sortableChanged = function (event, ui) {
        $('#btn-reschedule').removeClass('disabled');
        //console.log('change event');
    };

    var sortableSort = function (event, ui) {
        //console.log('sort event');
    };

    var sortableStop = function (event, ui) {
        if (ui.placeholder && ui.helper) {
            console.log('stop: placeholder {0} - helper {1}'.format(ui.placeholder.index(), ui.helper.index()));
        }
        else if(ui.placeholder) {
            console.log('stop: placeholder {0}'.format(ui.placeholder.index()));
        }
        else if (ui.helper) {
            console.log('stop: helper {0}'.format(ui.helper.index()));
        }
        else {
            console.log('stop: placeholder and helper are both null.');
        }
        
    };

    var sortableStart = function (event, ui) {
        //console.log('start: placeholder {0} - helper {1}'.format(ui.placeholder.index(), ui.helper.index()));
    };

    </script>
}
