﻿@model ProcessingModel

@{
    ViewBag.Title = "JE Processing";
}

<h2>JE Processing</h2>

@using (Html.BeginForm("Index", "Processing", FormMethod.Post, new { @class="form-horizontal" }))
{
	<div class="form-group">
		<label class="col-sm-2 control-label" for="DateFrom">Date From</label>
		<div class="col-sm-10">
			@Html.TextBoxFor(m => m.DateFrom, new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.DateFrom, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label" for="DateTo">Date To</label>
		<div class="col-sm-10">
			@Html.TextBoxFor(m => m.DateTo, new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.DateTo, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label" for="btnProcess"></label>
		<div class="col-sm-10">
			<button type="submit" class="btn btn-primary" id="btnProcess">Process</button>
			<a href='@Url.Action("Index", "Default")' class="btn btn-default">Cancel</a>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label"></label>
		<div class="col-sm-10">
			<div class="alert alert-info" role="alert">
				<strong>Download Links.</strong> @Model.LinkDescription
				<ul>
					<li><a href='@Url.Action("DownloadHeaderFile")'><i class="fa fa-download"></i> Header</a></li>
					<li><a href='@Url.Action("DownloadDetailFile")'><i class="fa fa-download"></i> Detail</a></li>
				</ul>
			</div>
		</div>
	</div>
}

@section Scripts{

	<script>

		$(function () {
			$('#btnProcess').click(function () {
				return confirm("Are you sure you want to Process?");
			})
		})

	</script>

}



